<link href="{{appPath}}lib/ionic/css/ionic.css" rel="stylesheet">
<link href="{{appPath}}css/ionicicons.min.css" rel="stylesheet">
<link href="{{appPath}}css/main.css" rel="stylesheet" type="text/css">
<link href="{{appPath}}css/pdf.css" rel="stylesheet" type="text/css">
<body class="ovrfv {{#if pdfPreview}}{{pdfPreview}}{{else}}{{/if}}">
	<div class="manualsWrapper unitReferMainCls pdfScreen">
		<div class="header">
           <div class="maerskLogo"></div>
           <div class="dateNameContaine rightSide">
           	  <div class="reportDateTime">
               <div class="report">Audit Container Report</div>
               <div class="dateTime">{{dateTime}}</div>
              </div>
           </div>
        </div>
		<div class="fontZSDB fullW depotNo">
            <span class="colorBlack fontHeader leftSpan"> Shop Code: {{startedVisitInfo.repairShopNo}} </span>
            <span class="colorBlack fontHeader centerSpan"> Shop Name: {{startedVisitInfo.repairShopName}} </span>
            <span class="colorBlack fontHeader rightSpan"> Country: {{startedVisitInfo.country}} </span>
        </div>
		<div class="dTb fullW fontZSDB centerText pdfScrKpiRow pdfReport">
            <div class="pdfKpi"><span class="totalWO">Total number of Work Orders: {{startedVisitInfo.totalNo}}</span></div>
            <div class="pdfKpi"><span class="notStartedWO">Work Orders Not Started: {{startedVisitInfo.notStartedNo}}</span></div>
        </div>
		<ion-content id="scrollPdf" scrollbar-x="false" has-bouncing="false" class="has-header" delegate-handle="mainScroll" style="margin-top: -2px!important; z-index:9; top:6em!important;">
	       	<p class="inspectionTypeHeader" style="padding-left:1em!important;">PRE-REPAIR Work Orders ({{startedVisitInfo.preRepairWorkOrdersNo}})</p>
            <p class="inspectionTypeHeader2 secondaryHeader firstEl">Approved Work Orders ({{startedVisitInfo.preApprovedWoNo}})</p>
			<div class="parentCollapsible">
               {{#each startedVisitInfo.preApprovedWo as |item key|}}
               <div class="fullW headText inspectionTypeHeader2 whiteBg padTB" style="padding-left:1.2em!important; background-color:rgba(255,255,255,0)!important;">{{item.idx}}.Container number <span class="boldFontB">{{item.containerno}}</span>, WO <span class="boldFontB">{{item.workorderid}}</span>, 
               {{#ifCond item.statuscode ">" "390"}}
               		Post - Repair;
               {{else}}
               		{{item.wostatus}};
               {{/ifCond}}
               </div>
               {{#ifCond item.finalcomment.length ">" "0"}}
               		<div class="fullW headText inspectionTypeHeader2 whiteBg comment" style="height:auto; line-height: 1.5em; padding-left: 1.2em!important; padding-top: 6px!important; padding-bottom: 6px!important; background-color: rgba(255,255,255,0)!important; border-bottom: 2px solid #69b8e9;">Comments: {{item.finalcomment}}</div>
               {{/ifCond}}
               {{/each}}
            </div>
            <p class="inspectionTypeHeader2 secondaryHeader firstEl">Estimate correct but Rejected WO ({{startedVisitInfo.approvedRejectedWoNo}})</p>
			<div class="parentCollapsible">
               {{#each startedVisitInfo.approvedButRejected as |item key|}}
               <div class="fullW headText inspectionTypeHeader2 whiteBg padTB" style="padding-left:1.2em!important; background-color:rgba(255,255,255,0)!important;">{{item.idx}}.Container number <span class="boldFontB">{{item.containerno}}</span>, WO <span class="boldFontB">{{item.workorderid}}</span>, 
               {{#ifCond item.statuscode ">" "390"}}
               		Post - Repair;
               {{else}}
               		{{item.wostatus}};
               {{/ifCond}}
               </div>
               {{#ifCond item.finalcomment.length ">" "0"}}
               		<div class="fullW headText inspectionTypeHeader2 whiteBg comment" style="height:auto; line-height: 1.5em; padding-left: 1.2em!important; padding-top: 6px!important; padding-bottom: 6px!important; background-color: rgba(255,255,255,0)!important; border-bottom: 2px solid #69b8e9;">Comments: {{item.finalcomment}}</div>
               {{/ifCond}}
               {{/each}}
            </div>
			<p class="inspectionTypeHeader2 secondaryHeader firstEl">Rejected Work Orders ({{startedVisitInfo.preFailedWoNo}})</p>
			{{#ifCond startedVisitInfo.preFailedWoNo ">" "0"}} 
            <div class="dTb fullW" style="border-bottom: 1px solid #69b8e9;">
                <div class="dTbRow tHead tbElem headLabels" style="border-top: 1px solid #69b8e9!important;">
                    <div class="dTbCellPdf w10" style="width: 7%!important;"></div>
                    <div class="dTbCellPdf pcsLabelSize w10">Pcs.</div>
                    <div class="dTbCellPdf dmgCodeLabelSize w10">Damage Code</div>
                    <div class="dTbCellPdf tipLabelSize w10">TPI Code</div>
                    <div class="dTbCellPdf repCodLabelSize w10">Repair Code</div>
                    <div class="dTbCellPdf repLocCodLabelSize w10">Repair Loc Code</div>
                    <div class="dTbCellPdf sparPrtLabelSize w20">Spare Part No.</div>
                    <div class="dTbCellPdf w20"></div>
                </div>
            </div>
            {{/ifCond}}
            <div class="parentCollapsible">
                {{#each startedVisitInfo.preRejectedWo as |item key|}}
                <div class="fullW headText inspectionTypeHeader2 whiteBg padTB" style="padding-left:1.2em!important; background-color:rgba(255,255,255,0)!important;">{{item.idx}}.Container number <span class="boldFontB">{{item.containerno}}</span>, WO <span class="boldFontB">{{item.workorderid}}</span>, 
                {{#ifCond item.statuscode ">" "390"}}
               		Post - Repair;
               {{else}}
               		{{item.wostatus}};
               		
               {{/ifCond}}
               </div>
                <div class="dTb fullW" style="margin-top:0!important;border-bottom: 2px solid #69b8e9!important;">
                    {{#each item.parts as | repair repairKey|}}
                    <div class="dTb fullW" style="border-top: 2px solid #69b8e9!important;">
                        <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important;">
                            <div class="dTbCellPdf w10" style="width: 7%!important;">
                            {{#if repair.preQuantity}}&nbsp;{{else}}
                                <span class="newTextSpan">(new)</span>
                            {{/if}}
                            </div>
                            {{#if_eq repair.preQuantity repair.quantity}}
                            	{{#if repair.rejectedRepair}}
                            		{{#if repair.notRequired}}
                            			<div class="dTbCellPdf pcsLabelSize w10 boldFont">{{repair.quantity}}</div>
                            		{{else}}
                            			<div class="dTbCellPdf pcsLabelSize w10 boldFont corrected">{{repair.quantity}}</div>
                            		{{/if}}
                            	{{else}}
                            		<div class="dTbCellPdf pcsLabelSize w10 boldFont">{{repair.quantity}}</div>
                            	{{/if}}
                            {{else}} 
                                {{#if repair.preDamageCode}}
                                    <div class="dTbCellPdf pcsLabelSize w10 boldFont postModified corrected">{{repair.quantity}}</div>
                                {{else}}
                                    <div class="dTbCellPdf pcsLabelSize w10 boldFont">{{repair.quantity}}</div>
                                {{/if}} 
                            {{/if_eq}} 
                            {{#if_eq repair.preDamageCode repair.damageCode}}
                            	{{#if repair.rejectedRepair}}
                            		{{#if repair.notRequired}}
                            			<div class="dTbCellPdf dmgCodeLabelSize w10 boldFont">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
                            		{{else}}
                            			<div class="dTbCellPdf dmgCodeLabelSize w10 boldFont corrected">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
                            		{{/if}}
                                {{else}}
                                	<div class="dTbCellPdf dmgCodeLabelSize w10 boldFont">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
                                {{/if}}
                            {{else}} 
                                {{#if repair.preDamageCode}}
                                    <div class="dTbCellPdf dmgCodeLabelSize w10 boldFont postModified corrected">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
                                {{else}}
                                    <div class="dTbCellPdf dmgCodeLabelSize w10 boldFont">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
                                {{/if}} 
                            {{/if_eq}} 
                            {{#if_eq repair.preTPI repair.TPI}}
                            	{{#if repair.rejectedRepair}}
                            		{{#if repair.notRequired}}
                            			<div class="dTbCellPdf tipLabelSize w10 boldFont">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
                            		{{else}}
                            			<div class="dTbCellPdf tipLabelSize w10 boldFont corrected">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
                            		{{/if}}
                            	{{else}}
                                	<div class="dTbCellPdf tipLabelSize w10 boldFont">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
                                {{/if}}
                            {{else}} 
                                {{#if repair.preDamageCode}}
                                    <div class="dTbCellPdf tipLabelSize w10 boldFont postModified corrected">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
                                {{else}}
                                    <div class="dTbCellPdf tipLabelSize w10 boldFont">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
                                {{/if}} 
                            {{/if_eq}} 
                            {{#if_eq repair.preRepairCode repair.repairCode}}
                            	{{#if repair.rejectedRepair}}
                            		{{#if repair.notRequired}}
                            			<div class="dTbCellPdf repCodLabelSize w10 boldFont">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
                            		{{else}}
                            			<div class="dTbCellPdf repCodLabelSize w10 boldFont corrected">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
                            		{{/if}}
                            	{{else}}
                                	<div class="dTbCellPdf repCodLabelSize w10 boldFont">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
                                {{/if}}
                            {{else}} 
                                {{#if repair.preDamageCode}}
                                    <div class="dTbCellPdf repCodLabelSize w10 boldFont postModified corrected">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
                                {{else}}
                                    <div class="dTbCellPdf repCodLabelSize w10 boldFont">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
                                {{/if}} 
                            {{/if_eq}} 
                            {{#if_eq repair.preRepairLocCode repair.repairLocCode}}
                            	{{#if repair.rejectedRepair}}
                            		{{#if repair.notRequired}}
                            			<div class="dTbCellPdf repLocCodLabelSize w10 boldFont">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
                            		{{else}}
                            			<div class="dTbCellPdf repLocCodLabelSize w10 boldFont corrected">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
                            		{{/if}}
                            	{{else}}
                                	<div class="dTbCellPdf repLocCodLabelSize w10 boldFont">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
                                {{/if}}
                            {{else}}     
                                {{#if repair.preDamageCode}}
                                    <div class="dTbCellPdf repLocCodLabelSize w10 boldFont postModified corrected">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
                                {{else}}
                                    <div class="dTbCellPdf repLocCodLabelSize w10 boldFont">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
                                {{/if}} 
                            {{/if_eq}} 
                            {{#if repair.preDamageCode}}
                                <div class="dTbCellPdf sparPrtLabelSize w20 boldFont corrected">{{#if repair.partCode}}{{repair.partCode}}{{else}}-{{/if}}</div>
                                {{else}}
                                <div class="dTbCellPdf sparPrtLabelSize w20 boldFont">{{#if repair.partCode}}{{repair.partCode}}{{else}}-{{/if}}</div>
                            {{/if}}
                            <div class="dTbCellPdf w20"></div>
                        </div>
                        {{#ifCond repair.quantity "!=" "0"}} 
                            {{#if repair.rejectedRepair}} 
                                {{#if repair.preDamageCode}}
                                    <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important;">
                                        <div class="dTbCellPdf w10 newItem" style="width: 7%!important;"></div>
                                        {{#if_eq repair.preQuantity repair.quantity}}
                                        	<div class="dTbCellPdf pcsLabelSize w10 boldFont newItem">{{repair.preQuantity}}</div>
                                        {{else}}
                                        	<div class="dTbCellPdf pcsLabelSize w10 boldFont newItem">{{repair.preQuantity}}</div>
                                        {{/if_eq}}
                                        {{#if_eq repair.preDamageCode repair.damageCode}}
                                        	<div class="dTbCellPdf dmgCodeLabelSize w10 boldFont newItem">{{#if repair.preDamageCode}}{{repair.preDamageCode}}{{else}}-{{/if}}</div>
                                        {{else}}
                                        	<div class="dTbCellPdf dmgCodeLabelSize w10 boldFont newItem">{{#if repair.preDamageCode}}{{repair.preDamageCode}}{{else}}-{{/if}}</div>
                                        {{/if_eq}}
                                        {{#if_eq repair.preTPI repair.TPI}}
                                        	 <div class="dTbCellPdf tipLabelSize w10 boldFont newItem">{{#if repair.preTPI}}{{repair.preTPI}}{{else}}-{{/if}}</div>
                                        {{else}}
                                        	 <div class="dTbCellPdf tipLabelSize w10 boldFont newItem">{{#if repair.preTPI}}{{repair.preTPI}}{{else}}-{{/if}}</div>
                                        {{/if_eq}}
                                        {{#if_eq repair.preRepairCode repair.repairCode}}
                                        	<div class="dTbCellPdf repCodLabelSize w10 boldFont newItem">{{#if repair.preRepairCode}}{{repair.preRepairCode}}{{else}}&nbsp;{{/if}}</div>
                                        {{else}}
                                        	<div class="dTbCellPdf repCodLabelSize w10 boldFont newItem">{{#if repair.preRepairCode}}{{repair.preRepairCode}}{{else}}&nbsp;{{/if}}</div>
                                        {{/if_eq}}
                                        {{#if_eq repair.preRepairLocCode repair.repairLocCode}}
                                        	<div class="dTbCellPdf repLocCodLabelSize w10 boldFont newItem">{{#if repair.preRepairLocCode}}{{repair.preRepairLocCode}}{{else}}-{{/if}}</div>
                                        {{else}}
                                        	<div class="dTbCellPdf repLocCodLabelSize w10 boldFont newItem">{{#if repair.preRepairLocCode}}{{repair.preRepairLocCode}}{{else}}-{{/if}}</div>
                                        {{/if_eq}}
                                        <div class="dTbCellPdf sparPrtLabelSize w20 boldFont newItem">-</div>
                                        <div class="dTbCellPdf w20"></div>
                                    </div>
                                {{/if}} 
                            {{/if}} 
                        {{/ifCond}}
                    </div>
                    <!-- Iterrating through child parts-->
                    <div class="dTb fullW">
                    {{#each repair.$childParts as | part partKey|}}
                    <!-- Final child repairs-->
                            <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important;">
                                <div class="dTbCellPdf w10" style="width: 7%!important;">
                                {{#if part.addedPart}}
                                    <span class="newTextSpan">(new)</span>
                                 {{/if}}
                                </div>
                                {{#if_eq part.preQuantity part.postQuantity}}
                                    <div class="dTbCellPdf pcsLabelSize w10 newItem">{{part.postQuantity}}</div>
                                    {{else}} 
                                        {{#if part.prePartCode}}
                                            <div class="dTbCellPdf pcsLabelSize w10 postModified corrected">{{part.postQuantity}}</div>
                                        {{else}}
                                            <div class="dTbCellPdf pcsLabelSize w10 newItem">{{part.postQuantity}}</div>
                                        {{/if}} 
                                {{/if_eq}} 
                                <div class="dTbCellPdf dmgCodeLabelSize w10 newItem">-</div> 
                                <div class="dTbCellPdf tipLabelSize w10 newItem">-</div>
                                {{#if_eq part.preRepairCode part.postRepairCode}}
                                    <div class="dTbCellPdf repCodLabelSize w10 newItem">{{#if part.postRepairCode}}{{part.postRepairCode}}{{else}}&nbsp;{{/if}}</div>
                                {{else}} 
                                    {{#if part.prePartCode}}
                                        <div class="dTbCellPdf repCodLabelSize w10 postModified corrected">{{#if part.postRepairCode}}{{part.postRepairCode}}{{else}}&nbsp;{{/if}}</div>
                                    {{else}}
                                        <div class="dTbCellPdf repCodLabelSize w10 newItem">{{#if part.postRepairCode}}{{part.postRepairCode}}{{else}}&nbsp;{{/if}}</div>
                                    {{/if}} 
                                {{/if_eq}} 
                                <div class="dTbCellPdf repLocCodLabelSize w10 newItem">-</div> 
                                {{#if_eq part.prePartCode part.postPartCode}}
                                    <div class="dTbCellPdf sparPrtLabelSize w20 newItem">{{#if part.postPartCode}}{{part.postPartCode}}{{else}}&nbsp;{{/if}}</div>
                                {{else}} 
                                    {{#if part.prePartCode}}
                                        <div class="dTbCellPdf sparPrtLabelSize w20 postModified corrected">{{#if part.postPartCode}}{{part.postPartCode}}{{else}}&nbsp;{{/if}}</div>
                                    {{else}}
                                        <div class="dTbCellPdf sparPrtLabelSize w20 newItem">{{#if part.postPartCode}}{{part.postPartCode}}{{else}}&nbsp;{{/if}}</div>
                                    {{/if}} 
                                {{/if_eq}}
                                <div class="dTbCellPdf w20"></div>
                            </div>
                            <!-- Initial parts -->
                            {{#ifCond part.postQuantity "!=" "0"}} 
                                {{#if part.rejectedPart}} 
                                    {{#if part.prePartCode}}
                                        <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important; background:rgba(242,242,242, 0.5);">
                                            <div class="dTbCellPdf w10 newItem" style="width: 7%!important;"></div>
                                            <div class="dTbCellPdf pcsLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.preQuantity}}{{part.preQuantity}}{{else}}&nbsp;{{/if}}</div>
                                            <div class="dTbCellPdf dmgCodeLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
                                            <div class="dTbCellPdf tipLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
                                            <div class="dTbCellPdf repCodLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.preRepairCode}}{{part.preRepairCode}}{{else}}&nbsp;{{/if}}</div>
                                            <div class="dTbCellPdf repLocCodLabelSize w40 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
                                            <div class="dTbCellPdf w20 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.prePartCode}}{{part.prePartCode}}{{else}}&nbsp;{{/if}}</div>
                                            <div class="dTbCellPdf w20"></div>
                                        </div>
                                    {{/if}} 
                                {{/if}} 
                            {{/ifCond}}
                    {{/each}}
                    </div>
                    <div class="fullW headText inspectionTypeHeader2 whiteBg" style="padding-left:1.2em!important; background-color:rgba(255,255,255,0)!important;">Description:
                    {{#if repair.repairDescription}}
                    	<span class="descSP">{{repair.repairDescription}}</span>
                    {{else}}
                    	<span class="descSP">N/A</span>
                    {{/if}}
                    </div> 
                {{/each}}
            </div>
            <div class="fullW headText inspectionTypeHeader2 whiteBg comment" style="height:auto; line-height: 1.5em; padding-left: 1.2em!important; padding-top: 6px!important; padding-bottom: 6px!important; background-color: rgba(255,255,255,0)!important; border-bottom: 2px solid #69b8e9;">Comments: {{item.finalcomment}}</div>
            {{/each}}
            </div>
            <p class="inspectionTypeHeader" style="padding-left:1em!important;">POST-REPAIR Work Orders ({{startedVisitInfo.postRepairWorkOrdersNo}})</p>
            <p class="inspectionTypeHeader2 secondaryHeader firstEl">Approved Work Orders ({{startedVisitInfo.postApprovedWoNo}})</p>
            {{#ifCond startedVisitInfo.postApprovedWoNo ">" "0"}}
            <div class="dTb fullW" style="border-bottom: 1px solid #69b8e9;">
                <div class="dTbRow tHead tbElem headLabels">
                    <div class="dTbCellPdf w10" style="width: 7%!important;"></div>
                    <div class="dTbCellPdf pcsLabelSize w10">Pcs.</div>
                    <div class="dTbCellPdf dmgCodeLabelSize w10">Damage Code</div>
                    <div class="dTbCellPdf tipLabelSize w10">TPI Code</div>
                    <div class="dTbCellPdf repCodLabelSize w10">Repair Code</div>
                    <div class="dTbCellPdf repLocCodLabelSize w10">Repair Loc Code</div>
                    <div class="dTbCellPdf sparPrtLabelSize w20">Spare Part No.</div>
                    <div class="dTbCellPdf w20"></div>
                </div>
            </div>
            {{/ifCond}}
            <div class="parentCollapsible">
                {{#each startedVisitInfo.postApprovedWo as |item key|}}
                    <div class="fullW headText inspectionTypeHeader2 whiteBg padTB" style="padding-left:1.2em!important; background-color:rgba(255,255,255,0)!important;">{{item.idx}}.Container number <span class="boldFontB">{{item.containerno}}</span>, WO <span class="boldFontB">{{item.workorderid}}</span>, 
                    {{#ifCond item.statuscode ">" "390"}}
               			Post - Repair;
               		{{else}}
               			{{item.wostatus}};
               		{{/ifCond}}
                       {{#if item.repairquality}}
                            <span class="contRepairAvg">Repair Quality Avarage Score:{{item.repairquality}}</span>
                        {{else}}
                            <span class="missingQScores">Missing Repair Quality Scores</span>
                        {{/if}}
                    </div>
                <div class="dTb fullW doubleBorder" style="border-bottom: 2px solid #69b8e9!important;">
                    {{#each item.parts as | repair repairKey|}}
                        <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important;">
                            <div class="dTbCellPdf w10" style="width: 7%!important;"></div>
                            <div class="dTbCellPdf pcsLabelSize boldFont w10">{{repair.preQuantity}}</div>
                            <div class="dTbCellPdf dmgCodeLabelSize boldFont w10">{{#if repair.preDamageCode}}{{repair.preDamageCode}}{{else}}-{{/if}}</div>
                            <div class="dTbCellPdf tipLabelSize boldFont w10">{{#if repair.preTPI}}{{repair.preTPI}}{{else}}-{{/if}}</div>
                            <div class="dTbCellPdf repCodLabelSize boldFont w10">{{#if repair.preRepairCode}}{{repair.preRepairCode}}{{else}}&nbsp;{{/if}}</div>
                            <div class="dTbCellPdf repLocCodLabelSize boldFont w10">{{#if repair.preRepairLocCode}}{{repair.preRepairLocCode}}{{else}}-{{/if}}</div>
                            <div class="dTbCellPdf sparPrtLabelSize boldFont w20">-</div>
                            <div class="dTbCellPdf w20">
                            {{#if repair.$ratingRQ}}
                            	<span class="repairQ">RQ:{{repair.$ratingRQ}}</span>
                            {{/if}}
                            </div>
                        </div>
                    {{#each repair.$childParts as | part partKey|}}
                        <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important; background:rgba(242,242,242, 0.5);">
                            <div class="dTbCellPdf w10 newItem" style="width: 7%!important;"></div>
                            <div class="dTbCellPdf pcsLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.preQuantity}}{{part.preQuantity}}{{else}}&nbsp;{{/if}}</div>
                            <div class="dTbCellPdf dmgCodeLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
                            <div class="dTbCellPdf tipLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.preRepairCode}}{{part.preRepairCode}}{{else}}&nbsp;{{/if}}</div>
                            <div class="dTbCellPdf repCodLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
                            <div class="dTbCellPdf repLocCodLabelSize w40 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
                            <div class="dTbCellPdf sparPrtLabelSize w20 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.prePartCode}}{{part.prePartCode}}{{else}}&nbsp;{{/if}}</div>
                            <div class="dTbCellPdf w20 newItem"></div>
                        </div>
                    {{/each}}
                    {{/each}}
                </div>
                {{#ifCond item.finalcomment.length ">" "0"}}
               		<div class="fullW headText inspectionTypeHeader2 whiteBg comment" style="height:auto; line-height: 1.5em; padding-left: 1.2em!important; padding-top: 6px!important; padding-bottom: 6px!important; background-color: rgba(255,255,255,0)!important; border-bottom: 2px solid #69b8e9;">Comments: {{item.finalcomment}}</div>
               {{/ifCond}}
                {{/each}}
             </div>
              <p class="inspectionTypeHeader2 secondaryHeader firstEl">Rejected Work Orders ({{startedVisitInfo.postFailedWoNo}})</p>
              {{#ifCond startedVisitInfo.postFailedWoNo ">" "0"}}
              <div class="dTb fullW" style="border-bottom: 1px solid #69b8e9;">
                    <div class="dTbRow tHead tbElem headLabels" style="border-top: 1px solid #69b8e9!important;">
                        <div class="dTbCellPdf w10" style="width: 7%!important;"></div>
                        <div class="dTbCellPdf pcsLabelSize w10">Pcs.</div>
                        <div class="dTbCellPdf dmgCodeLabelSize w10">Damage Code</div>
                        <div class="dTbCellPdf tipLabelSize w10">TPI Code</div>
                        <div class="dTbCellPdf repCodLabelSize w10">Repair Code</div>
                        <div class="dTbCellPdf repLocCodLabelSize w10">Repair Loc Code</div>
                        <div class="dTbCellPdf sparPrtLabelSize w20">Spare Part No.</div>
                        <div class="dTbCellPdf w20"></div>
                    </div>
            </div>
            {{/ifCond}}
            <div class="parentCollapsible">
	              {{#each startedVisitInfo.postRejectedWo as |item key|}}
	                  <div class="fullW headText inspectionTypeHeader2 whiteBg padTB" style="padding-left:1.2em!important; background-color:rgba(255,255,255,0)!important;">{{item.idx}}.Container number <span class="boldFontB">{{item.containerno}}</span>, WO <span class="boldFontB">{{item.workorderid}}</span>, 
	                  {{#ifCond item.statuscode ">" "390"}}
               			Post - Repair;
               		  {{else}}
               			{{item.wostatus}};
               		  {{/ifCond}}
	                  {{#if item.repairquality}}
	                          <span class="contRepairAvg">Repair Quality Avarage Score:{{item.repairquality}}</span>
	                  {{else}}
	                          <span class="missingQScores">Missing Repair Quality Scores</span>
	                  {{/if}}
	                  </div>
	                  <div class="dTb fullW" style="margin-top:0!important;">
	                      {{#each item.parts as | repair repairKey|}}
	                      <!-- final repairs -->
	                      <div class="dTb fullW" style="border-top: 2px solid #69b8e9!important;">
	                          <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important;">
	                              <div class="dTbCellPdf w10" style="width: 7%!important;"> 
	                                  {{#if repair.preQuantity}}&nbsp;{{else}}<span class="newTextSpan">(new)</span>
	                                  {{/if}}</div>
	                              {{#if_eq repair.preQuantity repair.quantity}}
	                              	{{#if repair.rejectedRepair}}
	                              	  {{#if repair.notRequired}}	
	                              	  	<div class="dTbCellPdf pcsLabelSize w10 boldFont">{{repair.quantity}}</div>
	                              	  {{else}}
	                              	    <div class="dTbCellPdf pcsLabelSize w10 boldFont corrected">{{repair.quantity}}</div>
	                              	  {{/if}}
	                              	{{else}}
	                                  <div class="dTbCellPdf pcsLabelSize w10 boldFont">{{repair.quantity}}</div>
	                                {{/if}}
	                              {{else}}    
	                                  {{#if repair.preDamageCode}}
	                                      <div class="dTbCellPdf pcsLabelSize w10 boldFont postModified corrected">{{repair.quantity}}</div>
	                                  {{else}}
	                                      <div class="dTbCellPdf pcsLabelSize w10 boldFont">{{repair.quantity}}</div>
	                                  {{/if}} 
	                              {{/if_eq}} 
	                              {{#if_eq repair.preDamageCode repair.damageCode}}
	                              	{{#if repair.rejectedRepair}}
	                              		{{#if repair.notRequired}}
	                              	  		<div class="dTbCellPdf dmgCodeLabelSize w10 boldFont">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
	                              	   	{{else}}	
	                              	   		<div class="dTbCellPdf dmgCodeLabelSize w10 boldFont corrected">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
	                              	 	{{/if}}
	                              	{{else}}
	                                  <div class="dTbCellPdf dmgCodeLabelSize w10 boldFont">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
	                                {{/if}}
	                              {{else}} 
	                                  {{#if repair.preDamageCode}}
	                                      <div class="dTbCellPdf dmgCodeLabelSize w10 boldFont postModified corrected">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
	                                  {{else}}
	                                      <div class="dTbCellPdf dmgCodeLabelSize w10 boldFont">{{#if repair.damageCode}}{{repair.damageCode}}{{else}}-{{/if}}</div>
	                                  {{/if}} 
	                              {{/if_eq}} 
	                              {{#if_eq repair.preTPI repair.TPI}}
	                              	{{#if repair.rejectedRepair}}
	                              		{{#if repair.notRequired}}
	                              			<div class="dTbCellPdf tipLabelSize w10 boldFont">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
	                              		{{else}}
	                              			<div class="dTbCellPdf tipLabelSize w10 boldFont corrected">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
	                              		{{/if}}
	                              	{{else}}
	                                  <div class="dTbCellPdf tipLabelSize w10 boldFont">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
	                                {{/if}}
	                              {{else}} 
	                                  {{#if repair.preDamageCode}}
	                                      <div class="dTbCellPdf tipLabelSize w10 boldFont postModified corrected">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
	                                  {{else}}
	                                      <div class="dTbCellPdf tipLabelSize w10 boldFont">{{#if repair.TPI}}{{repair.TPI}}{{else}}-{{/if}}</div>
	                                  {{/if}} 
	                              {{/if_eq}} 
	                              {{#if_eq repair.preRepairCode repair.repairCode}}
	                              	{{#if repair.rejectedRepair}}
	                              		{{#if repair.notRequired}}
	                              			<div class="dTbCellPdf repCodLabelSize w10 boldFont">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
	                              		{{else}}
	                              			<div class="dTbCellPdf repCodLabelSize w10 boldFont corrected">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
	                              		{{/if}}
	                              	{{else}}
	                                  <div class="dTbCellPdf repCodLabelSize w10 boldFont">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
	                                {{/if}}
	                              {{else}} 
	                                  {{#if repair.preDamageCode}}
	                                      <div class="dTbCellPdf repCodLabelSize w10 boldFont postModified corrected">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
	                                  {{else}}
	                                      <div class="dTbCellPdf repCodLabelSize w10 boldFont">{{#if repair.repairCode}}{{repair.repairCode}}{{else}}&nbsp;{{/if}}</div>
	                                  {{/if}} 
	                              {{/if_eq}} 
	                              {{#if_eq repair.preRepairLocCode repair.repairLocCode}}
	                              	{{#if repair.rejectedRepair}}
	                              		{{#if repair.notRequired}}
	                              			<div class="dTbCellPdf repLocCodLabelSize w10 boldFont">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
	                              		{{else}}
	                              			<div class="dTbCellPdf repLocCodLabelSize w10 boldFont corrected">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
	                              		{{/if}}
	                              	{{else}}
	                                  <div class="dTbCellPdf repLocCodLabelSize w10 boldFont">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
	                                {{/if}}
	                              {{else}} 
	                                  {{#if repair.preDamageCode}}
	                                      <div class="dTbCellPdf repLocCodLabelSize w10 boldFont postModified corrected">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
	                                  {{else}}
	                                      <div class="dTbCellPdf repLocCodLabelSize w10 boldFont">{{#if repair.repairLocCode}}{{repair.repairLocCode}}{{else}}-{{/if}}</div>
	                                  {{/if}} 
	                              {{/if_eq}} 
	                              {{#if repair.preDamageCode}}
	                                  <div class="dTbCellPdf sparPrtLabelSize w20 boldFont corrected">{{#if repair.partCode}}{{repair.partCode}}{{else}}-{{/if}}</div>
	                              {{else}}
	                                  <div class="dTbCellPdf sparPrtLabelSize w20 boldFont">{{#if repair.partCode}}{{repair.partCode}}{{else}}-{{/if}}</div>
	                              {{/if}}
	                              <div class="dTbCellPdf w20">
	                                  {{#if repair.$ratingRQ}}
	                                  <span class="repairQ">RQ:{{repair.$ratingRQ}}</span>
	                                  {{/if}}
	                              </div>
	                          </div>
	                          {{#ifCond repair.quantity "!=" "0"}} 
	                              {{#if repair.rejectedRepair}} 
	                                  {{#if repair.preDamageCode}}
	                                      <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important;">
	                                          <div class="dTbCellPdf w10" style="width: 7%!important;"></div>
	                                          <div class="dTbCellPdf pcsLabelSize w10 boldFont newItem">{{repair.preQuantity}}</div>
	                                          <div class="dTbCellPdf dmgCodeLabelSize w10 boldFont newItem">{{#if repair.preDamageCode}}{{repair.preDamageCode}}{{else}}-{{/if}}</div>
	                                          <div class="dTbCellPdf tipLabelSize w10 boldFont newItem">{{#if repair.preTPI}}{{repair.preTPI}}{{else}}-{{/if}}</div>
	                                          <div class="dTbCellPdf repCodLabelSize w10 boldFont newItem">{{#if repair.preRepairCode}}{{repair.preRepairCode}}{{else}}&nbsp;{{/if}}</div>
	                                          <div class="dTbCellPdf repLocCodLabelSize w10 boldFont newItem">{{#if repair.preRepairLocCode}}{{repair.preRepairLocCode}}{{else}}-{{/if}}</div>
	                                          <div class="dTbCellPdf sparPrtLabelSize w20 boldFont newItem">-</div>
	                                          <div class="dTbCellPdf w20"></div>
	                                      </div>
	                                  {{/if}} 
	                              {{/if}} 
	                          {{/ifCond}}
	                      </div>
	                      <div class="dTb fullW"> 
	                          {{#each repair.$childParts as | part partKey|}}
	                              <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important;">
	                                  <div class="dTbCellPdf w10" style="width: 7%!important;">
	                                  {{#if part.addedPart}}
	                                      <span class="newTextSpan">(new)</span>
	                                  {{/if}}
	                                  </div>
	                                  {{#if_eq part.preQuantity part.postQuantity}}
	                                      <div class="dTbCellPdf pcsLabelSize w10 newItem">{{part.postQuantity}}</div>
	                                  {{else}} 
	                                      {{#if part.prePartCode}}
	                                          <div class="dTbCellPdf pcsLabelSize w10 postModified corrected">{{part.postQuantity}}</div>
	                                      {{else}}
	                                          <div class="dTbCellPdf pcsLabelSize w10 newItem">{{part.postQuantity}}</div>
	                                      {{/if}} 
	                                  {{/if_eq}} 
	                                  <div class="dTbCellPdf dmgCodeLabelSize w10 newItem">-</div> 
	                                  <div class="dTbCellPdf tipLabelSize w10 newItem">-</div> 
	                                  {{#if_eq part.preRepairCode part.postRepairCode}}
	                                      <div class="dTbCellPdf repCodLabelSize w10 newItem">{{#if part.postRepairCode}}{{part.postRepairCode}}{{else}}&nbsp;{{/if}}</div>
	                                      {{else}} 
	                                          {{#if part.prePartCode}}
	                                              <div class="dTbCellPdf repCodLabelSize w10 postModified corrected">{{#if part.postRepairCode}}{{part.postRepairCode}}{{else}}&nbsp;{{/if}}</div>
	                                          {{else}}
	                                              <div class="dTbCellPdf repCodLabelSize w10 newItem">{{#if part.postRepairCode}}{{part.postRepairCode}}{{else}}&nbsp;{{/if}}</div>
	                                          {{/if}} 
	                                  {{/if_eq}} 
	                                  <div class="dTbCellPdf repLocCodLabelSize w10 newItem">-</div>
	                                  {{#if_eq part.prePartCode part.postPartCode}}
	                                      <div class="dTbCellPdf sparPrtLabelSize w20 newItem">{{#if part.postPartCode}}{{part.postPartCode}}{{else}}&nbsp;{{/if}}</div>
	                                  {{else}} 
	                                      {{#if part.prePartCode}}
	                                          <div class="dTbCellPdf sparPrtLabelSize w20 postModified corrected">{{#if part.postPartCode}}{{part.postPartCode}}{{else}}&nbsp;{{/if}}</div>
	                                      {{else}}
	                                          <div class="dTbCellPdf sparPrtLabelSize w20 newItem">{{#if part.postPartCode}}{{part.postPartCode}}{{else}}&nbsp;{{/if}}</div>
	                                      {{/if}} 
	                                  {{/if_eq}}
	                                  <div class="dTbCellPdf w20"></div>
	                              </div>
	                          {{#ifCond part.postQuantity "!=" "0"}} 
	                              {{#if part.rejectedPart}} 
	                                  {{#if part.prePartCode}}
	                                      <div class="dTbRow tHead tbElem" style="border-bottom: 1px solid #69b8e9!important; background:rgba(242,242,242, 0.5);">
	                                          <div class="dTbCellPdf w10 newItem" style="width: 7%!important;"></div>
	                                          <div class="dTbCellPdf pcsLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.preQuantity}}{{part.preQuantity}}{{else}}&nbsp;{{/if}}</div>
	                                          <div class="dTbCellPdf dmgCodeLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
	                                          <div class="dTbCellPdf tipLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
	                                          <div class="dTbCellPdf repCodLabelSize w10 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.preRepairCode}}{{part.preRepairCode}}{{else}}&nbsp;{{/if}}</div>
	                                          <div class="dTbCellPdf repLocCodLabelSize w40 newItem" style="border-bottom: 1px solid #69b8e9!important;">-</div>
	                                          <div class="dTbCellPdf w20 newItem" style="border-bottom: 1px solid #69b8e9!important;">{{#if part.prePartCode}}{{part.prePartCode}}{{else}}&nbsp;{{/if}}</div>
	                                          <div class="dTbCellPdf w20"></div>
	                                      </div>
	                                  {{/if}} 
	                              {{/if}} 
	                          {{/ifCond}}
	                  {{/each}}
	                  </div>
	                  <div class="fullW headText inspectionTypeHeader2 whiteBg" style="padding-left:1.2em!important; background-color:rgba(255,255,255,0)!important;">Description:
	                  {{#if repair.repairDescription}}
                    	<span class="descSP">{{repair.repairDescription}}</span>
                      {{else}}
                    	<span class="descSP">N/A</span>
                      {{/if}}
                      </div> 
	                  {{/each}}
	                  </div>
	                  <div class="fullW headText inspectionTypeHeader2 whiteBg comment" style="height:auto; line-height: 1.5em; padding-left: 1.2em!important; padding-top: 6px!important; padding-bottom: 6px!important; background-color: rgba(255,255,255,0)!important; border-bottom: 2px solid #69b8e9; border-top: 2px solid #69b8e9;">Comments: {{item.finalcomment}}</div>
	              {{/each}}
	        </div>
	        <p class="inspectionTypeHeader" style="padding-left:1em!important;">Not Started Work Orders ({{startedVisitInfo.notStartedNo}})</p>
               <div class="parentCollapsible">
                   {{#each startedVisitInfo.plannedWorkOrders as |item key|}}
                   <div class="fullW headText inspectionTypeHeader2 whiteBg padTB" style="padding-left:1.2em!important; background-color:rgba(255,255,255,0)!important;">{{item.idx}}.Container number <span class="boldFontB">{{item.containerno}}</span>, WO <span class="boldFontB">{{item.workorderid}}</span>, 
                   {{#ifCond item.statuscode ">" "390"}}
               			Post - Repair;
               		{{else}}
               			{{item.wostatus}};
               		{{/ifCond}}<span class="contRepairAvg">Repair Quality Avarage Score:N/A</span></div>
                   {{/each}}
               </div>
            <div class="clear"></div>
			<div class="list" id="pdfControllerDiv" ng-controller="PdfController">
	     		<div style="width:49%; display:inline-block; float:left;">
	    			<p class="fontZSDB font paddingLeftL" style="margin-top: 2em; font-size:11px!important; margin-bottom: 0em!Important;">Auditor:<br>I agree with the audit visit.</p>
	     			<div style="height:80px; margin-top: 1em;">
	     				<img src="{{startedVisitInfo.signatures.canvas_1}}" width="120" />
	   				</div>
	   			</div>
	    		<div style="width:49%; display:inline-block; float:left;">
	    			<p class="fontZSDB font paddingLeftL" style="margin-top: 2em; font-size:11px!important; margin-bottom: 0em!Important;">Shop manager:<br>I agree with the audit visit.</p>
	     			<div style="height:80px; margin-top: 1em;">
	 	  				<img src="{{startedVisitInfo.signatures.canvas_2}}" width="120" />
	   				</div>
	    		</div>
	     	</div>
		</ion-content>
	   <div style="clear:both; width:100%; border:1px solid #999"></div>
       <div class="footerCont">
               <div class="leftSideContainer">
                      <div>Audit Container Report</div>
                      <div style="color:#666">{{dateTime}}</div>
               </div>
               <div class="rightSideContainer">
                   <div class="rightFooterInfo">
                       {{startedVisitInfo.repairShopName}}/{{startedVisitInfo.repairShopNo}}
                   </div>
               </div>
        </div>
        <div style="clear:both; width:100%; border:1px solid #999"></div>
	</div>
</body>