<div id='' class="modalWrapper">
	<div class="modalContentWrapper colorBlack">
		<!-- notification modal -->		
		<div class="modalInner modalGallery minHPhotoGal" style="height: 41% !important; width:32em!important;">
			<div class="paddingM darkBlue font22">Send Pdf via Email<!-- {{messages.photoGallery}} -->
				<button class="iconExit exitIcon2" ios-touchend="cancelMultiModal();"> </button>
			</div>					
			<div class="separator"></div>
			<button id="sendPdf" ng-click="$parent.previewPdf($parent.obj.visitId, false)" style="margin: 1.5em; float: left;" class="classicBtn">View PDF Report</button>
			<p style="width: 60%; float: left; padding: 1.25em 1em 0 0;">Would you like to send an email with the pdf summary of the audit?</p>
			<form name="emailForm" style="clear: both; display: block; position: relative; margin: 1.5em" novalidate>
				<label for="theinput" style="position: absolute;top: -10px;left: 0;width: 100%;height: 4.2em;"></label>
				<div class="inputSizes"  ng-class="{'emailInvalid' : emailForm.email.$invalid && !emailForm.email.$pristine, 'emailValid' : emailForm.email.$valid && emailForm.email.$dirty}" style="margin: 0 auto 1em auto;">
					<input id='theinput' type="email" name="email" class="inputLogin font16 sizes paddingLeftXS" 
						 placeholder="Insert Email"
						 ng-blur="removeFocusToParent($event)"
						 ng-model="inputObject.value"
					 	 ng-focus="addFocusToParent($event);" required>
					 <p  style="margin-top:5px; color: red;" ng-show="emailForm.email.$invalid && !emailForm.email.$pristine" class="help-block">*Enter a valid email.</p>
				</div>
			</form>
			<div class="footerBtn">
				<button class="buttonSecondary classicBtn" ios-touchend="cancelMultiModal();">Close</button>
				<button class="buttonPrimary classicBtn" ng-disabled="emailForm.$invalid" ng-class="{'buttonPrimaryInactive' : emailForm.$invalid}" ng-click="confirmInputModal(inputObject.value,true);">{{contents.modalConfirmButton}}</button>
			</div>
		</div>
	</div>
</div>