<div id='' class="modalWrapper">
	<div class="modalContentWrapper colorBlack" ios-touchend="cancelIfBackDrop($event);">	
		<!-- notification modal -->		
		<div class="modalInner modalGallery minHPhotoGal" style="height:30%!important; width:28em!important;">
			<div class="paddingM darkBlue font22">Send Images via Email<!-- {{messages.photoGallery}} -->
				<button class="iconExit exitIcon2" ios-touchend="cancelMultiModal()"> </button>
			</div>					
			<div class="separator"></div>					
			<label for="theinput" style="padding:1em 2em .3em 2em; margin:0; line-height:3em !important;">Add recipient</label>
			<form name="emailForm" style="clear: both; display: block; position: relative; margin:0 1.5em" novalidate>
				<label for="theinput" style="position: absolute;top: -10px;left: 0;width: 100%;height: 3.6em;"></label>
				<div class="inputSizes"  ng-class="{'emailInvalid' : emailForm.email.$invalid && !emailForm.email.$pristine, 'emailValid' : emailForm.email.$valid && emailForm.email.$dirty}" style="margin: 0 auto 1em auto;">
					<input id='theinput' type="email" name="email" class="inputLogin font16 sizes paddingLeftXS" 
						 placeholder="Insert Email"
						 ng-blur="removeFocusToParent($event)"
						 ng-model="inputObject.value"
					 	 ng-focus="addFocusToParent($event);" required>
					 <p  style="margin-top:5px; color: red;"  ng-show="emailForm.email.$invalid && !emailForm.email.$pristine" class="help-block">*Enter a valid email.</p>
				</div>
			</form>
			<div class="footerBtn">
				<button id="cancelModal" class="buttonSecondary classicBtn" ios-touchend="cancelMultiModal()">{{contents.modalCancelButton}}</button>
				<button id="confirmModal" class="buttonPrimary classicBtn" ng-disabled="emailForm.$invalid" ng-class="{'buttonPrimaryInactive' : emailForm.$invalid}" ng-click="confirmInputModal(inputObject.value)">{{contents.modalConfirmButton}}</button>
			</div>
		</div>
	</div>
</div>