<div class="modalWrapper addModal">
    <div class="modalContentWrapper" ios-touchend="cancelIfBackDrop($event);">
        <div class="modal20em">
            <ng-form name="addLineForm" novalidate>
                <div class="headAddModal">
                    <p style="padding-left: 1.8em !Important;">Add Line</p>
                    <p ng-show="addLineForm.$invalid && addLineForm.$dirty && !partSelected && !repairSelected" style="text-align: right; float: right; padding-right: 1em; color: #b50030;" class="ng-binding">Please select type of line to add.</p>
                </div>
                <div class="contAddModal">
                    <div class="modalMessage" ng-click="repairSelected = true; partSelected = false; addLineErrorMsg = ''" ng-class='{"bckgLightBlue" : repairSelected}' style="border-bottom: 1px solid #c3e3ef;">
                        <p>Repair</p>
                    </div>
                    <!-- {{messages.typeName}} -->
                    <div class="modalMessage" ng-click="repairSelected = false; partSelected = true; addLineErrorMsg = ''; " ng-class='{"bckgLightBlue" : partSelected}'>
                        <p style= "padding-bottom: .5em;">Part</p><p ng-show="(addLineForm.$invalid && addLineForm.repairCode.$dirty&& addLineForm.repairLocCode.$dirty && partSelected ) ||  addLineConf " style="text-align: right; float: right; padding-right: 1em; color: #b50030;">Please insert valid repair and repair location codes.</p>
                        <div style="display:block; padding: 0 2.3em 0 2.3em; position:relative;">
                        	<label for="repairCode" style="position: absolute;top: -10px;left: 0;width: 50%;height: 3.6em;"></label>
                        	<div class="partInpWrap" ng-class='{"invalid" : addLineForm.repairCode.$invalid && addLineForm.$dirty && partSelected}'>
                            	<input id="repairCode"  style="padding-left:.5em;" ng-focus="repairSelected = false; partSelected = true; " name="repairCode" ng-model="addLineInputs.repairCode" placeholder="Type repair code here" type="text" required ng-maxlength=8>
                       	 	</div>
                       	 	<label for="repairLocCode" style="position: absolute;top: -10px;right: 0;width: 50%;height: 3.6em;"></label>
                        	<div  class="partInpWrap" ng-class='{"invalid" : addLineForm.repairLocCode.$invalid && addLineForm.$dirty && partSelected}'>
                            	<input id="repairLocCode" style="padding-left:.5em;" ng-focus="repairSelected = false; partSelected = true;" name="repairLocCode" ng-model="addLineInputs.repairLocCode" placeholder="Type repair loc code here" type="text" required ng-maxlength=4>
                        	</div>
                       	</div>
                    </div>
                    <!-- {{messages.typeIMO}} -->
                </div>
                <div class="footerBtn" style="position:relative;">
					<button  class="buttonSecondary classicBtn" ios-touchend="cancelMultiModal()">Cancel</button>
					<button  class="buttonPrimary classicBtn" ios-touchend="confirmAddLine(repairSelected, partSelected, addLineForm); ">Confirm</button>
				</div>		
            </ng-form>
        </div>
    </div>
</div>