<div id="emailPlanVisit" class="full" >
  <span class="block padd-TRBN colorGrey">Please select whether to notify the depot by sending an e-mail or skip to add the visit directly to the calendar.</span>

  <div ng-form="emailVisitForm" class="paddingM">
    <div class="form-field">
      <span class="block padd-VS colorGrey">From</span>
      <input type="email" name="emailFrom" ng-model="email.from" ng-readonly="true" placeholder="myemailaddress@maersk.com"/>
    </div>

    <div class="form-field">
      <span class="block padd-VS colorGrey">Recipients</span>
      <div scroll-to-bottom="email.recipients" class="multiEmails" ng-class="{'entryFieldError' : email.recipients.length == 0}">

        <div class="recipient" ng-repeat="recipient in email.recipients track by $index">
          <span class="posRel padd-HXS colorBlack">{{recipient.adr}}</span>
          <button type="button" class="clear-btn mrgn-RN" ios-touchend="removeRecipientAdr($index)"></button>
        </div>
        <div ng-if="email.recipients.length<5" class="divParentForm heightAuto">
	        <form class="addFormProp">
                <label for="emailto" class="toLabelEmail" ng-class="{'toLabelEmail--no-recipients':email.recipients.length === 0}"></label>
	        	<input id="emailto" type="email" name="emailRecipients" placeholder="myemailaddress@maersk.com"
	         	 ng-model="email.recipientAdr" ng-keypress="addRecipientAdr($event, email.recipientAdr);"
	         	 ng-focus="raiseModal();" ng-blur="lowerModal();addRecipientOnBlur(email.recipientAdr)" />
			</form>
		</div>
      </div>
      <!-- <div class="posRel">
        <input id="emailTo" type="email" name="emailRecipients" ng-model="email.recipients" placeholder="myemailaddress@maersk.com" ng-focus="raiseModal();" ng-blur="lowerModal()"/>
        <button class="close-icon" style="right:0.5em;" ng-if="email.recipients.length!==0" ios-touchend="clearRecipients();"></button>
      </div> -->
      <span class="block padd-VS colorRed" ng-if="!shopMail && email.recipients.length == 0">There is no e-mail address available for the depot. Add an e-mail address or skip the notification process.</span>
    </div>

    <div class="form-field">
      <label for="subjectId" class="subjectLabel"></label>
      <span class="block padd-VS colorGrey">Subject</span>
       <div class="divParentForm">
	       <form class="addFormProp">
	     	 <input id="subjectId" type="text" limit-to="78" name="emailSubject" ng-class="{'entryFieldError' : email.subject.trim().length == 0}" ng-model="email.subject" placeholder="Subject" ng-focus="raiseModal()" ng-blur="lowerModal()"/>
	     </form>
     </div>
      <span class="block padd-VS colorRed" ng-if="emailVisitForm.emailSubject.$invalid">Please add a title</span>
    </div>

    <div class="form-field">
      <label for="textAreaId" class="textAreaLabel"></label>
      <span class="block padd-VS colorGrey">Message</span>
      <div class="divParentForm">
        <form class="addFormProp">
            <textarea id="textAreaId" ng-model="email.notes" name="emailMsg" rows="4" cols="80" placeholder="Enter your additional comment here, if any…" ng-focus="raiseModal();" ng-blur="lowerModal()" ng-class="{'entryFieldError' : email.notes.length > 255}"></textarea>
        </form>
      </div>
    </div>
  </div>

  <div class="flex-row-stretch width100">
    <button type="button" class="block btnModal bckgBlueLight fontZSDB" ios-touchend="$parent.$parent.skip(); cancelMultiModal();">Skip</button>
    <button type="button" class="block btnModal bckgBlue fontZSDB"
        ng-disabled="email.subject.trim().length == 0 || email.recipients.length == 0 || email.notes.length > 255"
        ng-class="{'bckgRed': email.subject.trim().length == 0 || email.recipients.length == 0 || email.notes.length > 255}"
        ios-touchend="$parent.$parent.sendEmail(email.from, email.subject, email.recipients, email.notes, false, email.bccPlanned);">
        Send
    </button>
  </div>
</div>
