
<div class="modalWrapper">
  
  <div class="modalContentWrapper colorBlack" ng-class="{upModal : upModal}">
  <!-- <ion-content has-bouncing="false" direction="y" scrollbar-x="false"> -->
    <div class="modalInner minHPhotoGal" style="height:auto !important;">
      <!-- header -->
      <div class="paddingM font20">
        <span class="darkBlue fontZSDB">{{$parent.title}} Visit - Confirmation</span>
      </div>
      <div class="separator"></div>
      <!-- render view -->
       <div ng-include src="$parent.emailStateView" class="full"></div>
<!--      <div ng-include="$parent.$parent.emailStateVi" class="full"></div>-->
    </div>
    <!-- </ion-content> -->
  </div>
  
</div>

