<div id='' class="modalWrapper">
  <div class="modalContentWrapper colorBlack">
    <div class="modalInner minHPhotoGal modal-60">
      <!-- modal title -->
      <div class="paddingM font20">
        <span class="darkBlue fontZSDB">Finish visit progress</span>
        <span class="colorGrey">(Step {{currentStep}} of 3)</span>
      </div>
      <!-- modal content -->
      <div class="separator" ng-show="steps[2].processing || steps[2].processed"></div>
      <div class="visit-steps">
        <!-- step 3 -->
        <div class="step flex-row-spacebtw" ng-show="steps[2].processing || steps[2].processed">
          <div class="step-name fontZSDB font20 padd05w1">
            <span class="colorGrey">MERC+ Update</span>
          </div>
          <div class="padd05w1 flex-row-spacebtw">
            <div class="step-status" ng-class="{'spin' : steps[2].processing}">
              <i class="icon font32" ng-class="{'ion-load-c spin colorGrey' : steps[2].processing,
                  'ion-checkmark colorGreen2' : steps[2].success,
                  'ion-android-close colorRed' : !steps[2].success && steps[2].processed}"></i>
            </div>
          </div>
        </div>
        <div class="separator" ng-show="steps[1].processing || steps[1].processed"></div>
        <!-- step 1 -->
        <div class="step flex-row-spacebtw" ng-show="steps[1].processing || steps[1].processed">
          <div class="step-name fontZSDB font20 padd05w1">
            <span class="colorGrey">PDF Upload</span>
          </div>
          <div class="padd05w1 flex-row-spacebtw">
            <div class="step-status" ng-class="{'spin' : steps[1].processing}">
              <i class="icon font32" ng-class="{'ion-load-c spin colorGrey' : steps[1].processing,
                  'ion-checkmark colorGreen2' : steps[1].success,
                  'ion-android-close colorRed' : !steps[1].success && steps[1].processed}"></i>
            </div>
          </div>
        </div>
        <div class="separator" ng-show="steps[0].processing || steps[0].processed"></div>
        <!-- step 2 -->
        <div class="step flex-row-spacebtw" ng-show="steps[0].processing || steps[0].processed">
          <div class="step-name fontZSDB font20 padd05w1">
            <span class="colorGrey">Gallery Upload</span>
          </div>
          <div class="padd05w1 flex-row-spacebtw">
            <div class="step-status" ng-class="{'spin' : steps[0].processing}">
              <i class="icon font32" ng-class="{'ion-load-c spin colorGrey' : steps[0].processing,
                  'ion-checkmark colorGreen2' : steps[0].success,
                  'ion-android-close colorRed' : !steps[0].success && steps[0].processed}"></i>
            </div>
          </div>
        </div>
        <div class="separator"></div>

      </div>
      <!-- modal footer -->
      <div class="modal-footer fullW">

        <div ng-show='steps[0].failed ||steps[1].failed ||steps[2].failed'>
          <div class="separator"></div>
          <div class="footer-msg padd-1em">
            <span class="colorGrey">An error occured. You can “Retry” to upload or “Cancel” to restart the submission process later.</span>
          </div>
        </div>

        <div ng-show="!steps[0].success || !steps[1].success || !steps[2].success">
          <button ng-disabled ='!steps[0].failed && !steps[1].failed && !steps[2].failed'
                  ng-class="{'disabledFinishCancelButton' : !steps[0].failed && !steps[1].failed && !steps[2].failed}" 
                  class="classicBtn buttonSecondary" 
                  ng-click="cancelMultiModal();cancel();">Cancel</button>
          <button ng-disabled ='!steps[0].failed && !steps[1].failed && !steps[2].failed'
                  ng-class="{'disabledFinishRetryButton' : !steps[0].failed && !steps[1].failed && !steps[2].failed}" 
                  class="classicBtn buttonPrimary" 
                  ng-click="retry();">Retry</button>
        </div>

        <button ng-show="steps[0].success && steps[1].success && steps[2].success" class="classicBtn button-full" ios-touchend="finish();">Finish</button>

      </div>
    </div>
  </div>
</div>
