<div id='' class="modalWrapper">
	<div class="modalContentWrapper colorBlack" ios-touchend="cancelIfBackDrop($event);">
		<!-- notification modal -->		
		<div class="logOut paddingNone minHPhotoGal logMod" >
 			<div class=" paddingBottomXXS font18 heightAuto">
				<div class=" paddingM font20 ">Logout confirmation<!-- {{messages.photoGallery}} -->
				</div>					
				<div class="separator"></div>					
			</div>
			<ion-content class="photoGalleryScroll" style="top:4.5em!important;">
 		   		<ion-list >
       				<ion-item class="tagsOptions" style="padding:0 .5em;">
						<p style="text-align: center;font-size: 1.2em;padding-top: 2em;">Are you sure you want to exit the application?</p>
			 		</ion-item>
         		</ion-list>
         	</ion-content>
			<div class="twoButtonModal posAbs" style="bottom:0!important;left:0;">
				<button id="cancelModal" class="buttonSecondary classicBtn" ios-touchend="cancelMultiModal()">{{contents.modalCancelButton}}</button>
				<button id="confirmModal" class="buttonPrimary classicBtn" ios-touchend="confirmMultiModal()">{{contents.modalConfirmButton}}</button>
			</div>
		</div>
	</div>
</div>