<div id={{contents.modalId}} class="modalWrapper" ng-switch="settings.type">
	<div class="modalContentWrapper" ios-touchend="cancelIfBackDrop($event);">
	
		<!-- notification modal -->
		
		<div class="modalInnerSmallModal paddingTopBot" ng-switch-default>
 			<div class="centerText font20 modalInnerContent paddingTopBot">
				<div class="ZSBold font22" ng-if="contents.modalTitle">{{contents.modalTitle}}</div>
				<div class="separator marginTopXS marginBottomXS" ng-if="contents.modalTitle"></div>
				<div class="modalMessage" ng-if="contents.modalContent">
					{{contents.modalContent}}
				</div>
			</div>
			<div class="buttonsWrapper posRel">
				<button id="confirmModal" class="singleButtonModal classicBtn fullW" ios-touchend="confirmMultiModal()" ng-if="contents.modalConfirmButton">{{contents.modalConfirmButton}}</button>
			</div>
		</div>
		
		<!-- confirm modal -->
		
		<div class="modalInnerSmallModal posRel paddingTopBot height30" ng-switch-when="confirm">
 			<div class=" centerText  font20 modalInnerContent paddingTopBot">
				<div class="ZSBold font22" ng-if="contents.modalTitle">{{contents.modalTitle}}</div>
				<div class="separator marginTopXS marginBottomXS" ng-if="contents.modalTitle"></div>
				<div class="modalMessage" ng-if="contents.modalContent">
					{{contents.modalContent}}
				</div>
			</div>
			<div class="twoButtonModal posAbs" style="bottom:0!important;">
				<button id="cancelModal" class="buttonSecondary classicBtn" ios-touchend="cancelMultiModal()">{{contents.modalCancelButton}}</button>
				<button id="confirmModal" class="buttonPrimary classicBtn" ios-touchend="confirmMultiModal()">{{contents.modalConfirmButton}}</button>
			</div>
		</div>
		
		<!--  input modal -->
		
		<div class="modalInner" ng-switch-when="input">
 			<div class="modalInnerContent  font18">
				<div class="ZSBold font22" ng-if="contents.modalTitle">{{contents.modalTitle}}</div>
				<div class="separator marginTopXS marginBottomXS" ng-if="contents.modalTitle"></div>
				<div class="modalMessage">
					<div ng-class="{entryFieldError: inputObject.isValid === false}" class="buttonsWrapper inputTextLogin borders">
						<input type="{{inputOptions.inputType}}"  class="font16 sizes paddingLeftXS ng-pristine ng-untouched ng-valid" 
						 placeholder="{{inputOptions.placeHolder}}"
						 ng-blur="removeFocusToParent($event)"
						 ng-model="inputObject.value"
						 ng-focus="addFocusToParent($event);">
					</div>
				</div>
			</div>
			<div class="buttonsWrapper twoButtonModal posRel">
				<button id="cancelModal" class="button borders default small" ios-touchend="cancelMultiModal()">{{contents.modalCancelButton}}</button>
				<button id="confirmModal" class="button borders default small" ios-touchend="confirmInputModal(inputObject.value)">{{contents.modalConfirmButton}}</button>
			</div>
		</div>
	</div>
</div>
