<div class="surveyInnerWrapper pdfWrapper">
<div class="pdfWrapperInner">
<!--<span ng-show="obj.startedAudit.length==0" class="noResultsWrapper" style="margin-top:0!important;">No audit started</span>-->
<div ng-if="obj.startedAudit.length > 0" class="manualsWrapper unitReferMainCls pdfScreen">
	<div class="fontZSB fullW depotNo" style="text-align: left; padding-left: 1.3em;">
		<span class="colorBlack font22 fontZSDB">{{::obj.startedVisitInfo.repairShopNo}}, </span>
		<span class="colorBlack font22">{{::obj.startedVisitInfo.repairShopName}}, {{::obj.startedVisitInfo.country}}</span>
		<!--<button ng-disabled="disableUI" ng-click="goToDepotDetails(obj.startedVisitInfo.visitId); $scope.lastView='started'; " style="left: 1.5em;" class="pdfButton classicBtn">Inspect Containers</button>-->
		<!-- <button ng-disabled="disableUI" ng-click="previewPdf(obj.startedVisitInfo.visitId, true)" style="right: 9em !important; position: absolute; top: .3em" class="classicBtn"><i class="ion-clipboard" style="margin-right: .5em"></i>Generate PDF</button> -->
		<button ng-disabled="disableUI" ng-click="preFinishVisitConfirmation()" id="buttonFinishStart" style="right: 1.5em;" class="pdfButton classicBtn" >Submit visit</button>
	</div>
	<div class="dTb fullW fontZSDB centerText pdfScrKpiRow">
		<div class="pdfKpi">Total no. of Work Orders = {{::obj.startedVisitInfo.totalNo}}</div>
		<div class="pdfKpi">Work Orders In Progress = {{::obj.startedVisitInfo.inProgressNo}}</div>
		<div class="pdfKpi">Finished Work Orders = {{::obj.startedVisitInfo.finishedNo}}</div>
		<div class="pdfKpi">Not Started Work Orders = {{::obj.startedVisitInfo.notStartedNo}}</div>
	</div>
	<ion-content id="scrollPdf" scrollbar-x="false" has-bouncing="false" class="has-header" delegate-handle="mainScroll" style="margin-top: -2px!important; z-index:9; top:6em!important;">

			<table class="preview-wo">

				<colgroup>
					<col style="width:5em;">
					<col style="width:5em;">
					<col style="width:6em;">
					<col style="width:7em;">
					<col style="width:8em;">
					<col style="width:9em;">
					<col style="width:10em;">
					<col style="width:14em;">
				</colgroup>

				<tr class="wo-row">
					<td class="wo-header wo-cell-name" colspan="8">
						Work Orders In Progress ({{::obj.startedVisitInfo.inProgressNo}})
					</td>
				</tr>

				<tr class="wo-row" ng-if="obj.startedVisitInfo.startedWorkOrders.length > 0" woMod = wo ng-repeat="workOrder in obj.startedVisitInfo.startedWorkOrders">
					<td class="wo-cell-name" colspan="8">
						{{$index + 1}}. Container number: {{::workOrder.containerno}}, WO: {{::workOrder.workorderid}}, {{::workOrder.wostatus}}
					</td>
				</tr>

				<tr class="wo-row">
					<td class="wo-header wo-cell-name" colspan="8">
						PRE-REPAIR Work Orders ({{::obj.startedVisitInfo.preRepairWorkOrdersNo}})
					</td>
				</tr>

				<tr class="wo-row">
					<td class="wo-subheader wo-cell-name" colspan="8">
						Approved Work Orders ({{::obj.startedVisitInfo.preApprovedWoNo}})
					</td>
				</tr>

				<tr class="wo-row" ng-if="obj.startedVisitInfo.preApprovedWo.length > 0" woMod = wo ng-repeat="workOrder in obj.startedVisitInfo.preApprovedWo">
					<td class="wo-cell-name" colspan="8">
						{{$index + 1}}. Container number: {{::workOrder.containerno}}, WO: {{::workOrder.workorderid}}, {{::workOrder.wostatus}}
					</td>
				</tr>

				<tr class="wo-row">
					<td class="wo-subheader wo-cell-name" colspan="8">
						Estimate correct but Reject WO ({{obj.startedVisitInfo.approvedButRejected.length}})
					</td>
				</tr>

				<tr class="wo-row" ng-if="obj.startedVisitInfo.approvedButRejected.length > 0" woMod = wo ng-repeat="workOrder in obj.startedVisitInfo.approvedButRejected">
					<td class="wo-cell-name" colspan="8">
						{{$index + 1}}. Container number: {{::workOrder.containerno}}, WO: {{::workOrder.workorderid}}, {{::workOrder.wostatus}}
					</td>
				</tr>

				<tr class="wo-row">
					<td class="wo-subheader wo-cell-name" colspan="8">
						Rejected Work Orders ({{::obj.startedVisitInfo.preFailedWoNo}})
					</td>
				</tr>

				<tbody woMod = wo ng-repeat="workOrder in obj.startedVisitInfo.preRejectedWo">

					<tr class="wo-row">
						<td class="wo-cell-name" colspan="8">
							{{$index + 1}}. Container number: {{::workOrder.containerno}}, WO: {{::workOrder.workorderid}}, {{::workOrder.wostatus}}
						</td>
					</tr>

					<tr>
						<td colspan="8">
							<table class="preview-wo">

								<colgroup>
									<col style="width:5em;">
									<col style="width:5em;">
									<col style="width:6em;">
									<col style="width:7em;">
									<col style="width:8em;">
									<col style="width:9em;">
									<col style="width:10em;">
									<col style="width:14em;">
								</colgroup>

								<tr class="wo-row">
									<th class="wo-cell-header">&nbsp;</th>
									<th class="wo-cell-header">Pcs.</th>
									<th class="wo-cell-header">Damage Code</th>
									<th class="wo-cell-header">TPI Code</th>
									<th class="wo-cell-header">Repair Code</th>
									<th class="wo-cell-header">Repair Loc Code</th>
									<th class="wo-cell-header">Spare Part Number</th>
									<th class="wo-cell-header">&nbsp;</th>
								</tr>

								<tbody ng-repeat="part in workOrder.parts">

									<tr class="wo-row"
									ng-if="part.preQuantity || part.preDamageCode || part.preTPI || part.preRepairCode || part.preRepairLocCode"
									ng-hide="part.preQuantity===part.quantity && part.preDamageCode===part.damageCode && part.preTPI===part.TPI && part.preRepairCode===part.repairCode && part.preRepairLocCode===part.repairLocCode">
										<td class="wo-cell">&nbsp;</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preQuantity!==part.quantity}">{{::part.preQuantity}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preDamageCode!==part.damageCode}">{{::part.preDamageCode}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preTPI!==part.TPI}">{{::part.preTPI}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preRepairCode!==part.repairCode}">{{::part.preRepairCode}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preRepairLocCode!==part.repairLocCode}">{{::part.preRepairLocCode}}</td>
										<td class="wo-cell">&nbsp;</td>
										<td class="wo-cell">&nbsp;</td>
									</tr>

									<tr class="wo-row">
										<td class="wo-cell"><span class="new-tag colorRed" ng-if="part.$addedPart===true"> (new)</span>&nbsp;</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preQuantity!==part.quantity}">{{::part.quantity}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preDamageCode!==part.damageCode}">{{::part.damageCode}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preTPI!==part.TPI}">{{::part.TPI}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preRepairCode!==part.repairCode}">{{::part.repairCode}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preRepairLocCode!==part.repairLocCode}">{{::part.repairLocCode}}</td>
										<td class="wo-cell">{{::part.partCode}}</td>
										<td class="wo-cell">&nbsp;</td>
									</tr>

									<tr ng-if="part.$childParts.length > 0">
										<td colspan="8">
											<table class="preview-wo">

												<colgroup>
													<col style="width:5em;">
													<col style="width:5em;">
													<col style="width:6em;">
													<col style="width:7em;">
													<col style="width:8em;">
													<col style="width:9em;">
													<col style="width:10em;">
													<col style="width:14em;">
												</colgroup>

												<tbody ng-repeat="childPart in part.$childParts">
													<tr class="wo-row">
														<td class="wo-cell"><span class="new-tag colorRed" ng-if="$parent.part.$addedPart===true || childPart.addedPart===true"> (new)</span>&nbsp;</td>
														<td class="wo-cell">{{::childPart.postQuantity}}</td>
														<td class="wo-cell">{{::$parent.part.damageCode}}</td>
														<td class="wo-cell">{{::$parent.part.TPI}}</td>
														<td class="wo-cell">{{::childPart.postRepairCode}}</td>
														<td class="wo-cell">{{::$parent.part.repairLocCode}}</td>
														<td class="wo-cell">{{::childPart.postPartCode}}</td>
														<td class="wo-cell">&nbsp;</td>
													</tr>
												</tbody>

											</table>
										</td>
									</tr>

									<tr class="wo-row" ng-if="part.repairDescription.length > 0">
										<td>&nbsp;</td>
										<td class="wo-cell-descr" colspan="7">
											<b>Description:</b> {{::part.repairDescription}}
										</td>
									</tr>

								</tbody>
							</table>
						</td>
					</tr>

					<tr class="wo-row" ng-if="workOrder.finalcomment.length > 0">
						<td class="new-tag">&nbsp;</td>
						<td class="wo-cell">
							<b>Comment:</b>
						</td>
						<td class="wo-cell-descr" colspan="6">
							{{::workOrder.finalcomment}}
						</td>
					</tr>

				</tbody>

				<tr class="wo-row">
					<td class="wo-header wo-cell-name" colspan="8">
						POST-REPAIR Work Orders ({{::obj.startedVisitInfo.postRepairWorkOrdersNo}})
					</td>
				</tr>

				<tr class="wo-row">
					<td class="wo-subheader wo-cell-name" colspan="8">
						Approved Work Orders ({{obj.startedVisitInfo.postApprovedWoNo}})
					</td>
				</tr>

				<tbody woMod = wo ng-repeat="workOrder in obj.startedVisitInfo.postApprovedWo">

					<tr class="wo-row">
						<td class="wo-cell-name" colspan="8">
							{{$index + 1}}. Container number: {{::workOrder.containerno}}, WO: {{::workOrder.workorderid}}, {{::workOrder.wostatus}}
						</td>
					</tr>

					<tr>
						<td colspan="8">
							<table class="preview-wo">

								<colgroup>
									<col style="width:5em;">
									<col style="width:5em;">
									<col style="width:6em;">
									<col style="width:7em;">
									<col style="width:8em;">
									<col style="width:9em;">
									<col style="width:10em;">
									<col style="width:14em;">
								</colgroup>

								<tr class="wo-row">
									<th class="wo-cell-header">&nbsp;</th>
									<th class="wo-cell-header">Pcs.</th>
									<th class="wo-cell-header">Damage Code</th>
									<th class="wo-cell-header">TPI Code</th>
									<th class="wo-cell-header">Repair Code</th>
									<th class="wo-cell-header">Repair Loc Code</th>
									<th class="wo-cell-header">Spare Part Number</th>
									<th class="wo-cell-header">Repair Quality Average Score</th>
								</tr>

								<tbody ng-repeat="part in workOrder.parts">

									<tr class="wo-row"
									ng-if="part.preQuantity || part.preDamageCode || part.preTPI || part.preRepairCode || part.preRepairLocCode"
									ng-hide="part.preQuantity===part.quantity && part.preDamageCode===part.damageCode && part.preTPI===part.TPI && part.preRepairCode===part.repairCode && part.preRepairLocCode===part.repairLocCode">
										<td class="wo-cell">&nbsp;</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preQuantity!==part.quantity}">{{::part.preQuantity}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preDamageCode!==part.damageCode}">{{::part.preDamageCode}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preTPI!==part.TPI}">{{::part.preTPI}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preRepairCode!==part.repairCode}">{{::part.preRepairCode}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preRepairLocCode!==part.repairLocCode}">{{::part.preRepairLocCode}}</td>
										<td class="wo-cell">&nbsp;</td>
										<td class="wo-cell">
											<span ng-if="part.$ratingRQ" class="colorBlack"><b>RQ: </b>{{::part.$ratingRQ}}</span>
											<span ng-if="!part.$ratingRQ" class="colorRed">Missing Repair Quality Score</span>
										</td>
									</tr>

									<tr class="wo-row">
										<td class="wo-cell"><span class="new-tag colorRed" ng-if="part.$addedPart===true"> (new)</span>&nbsp;</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preQuantity!=part.quantity}">{{::part.quantity}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preDamageCode!=part.damageCode}">{{::part.damageCode}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preTPI!=part.TPI}">{{::part.TPI}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preRepairCode!=part.repairCode}">{{::part.repairCode}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preRepairLocCode!=part.repairLocCode}">{{::part.repairLocCode}}</td>
										<td class="wo-cell">{{::part.partCode}}</td>
										<td class="wo-cell">
											<span ng-if="part.$ratingRQ" class="colorBlack"><b>RQ: </b>{{::part.$ratingRQ}}</span>
											<span ng-if="!part.$ratingRQ" class="colorRed">Missing Repair Quality Score</span>
										</td>
									</tr>

									<tr ng-if="part.$childParts.length > 0">
										<td colspan="8">
											<table class="preview-wo">

												<colgroup>
													<col style="width:5em;">
													<col style="width:5em;">
													<col style="width:6em;">
													<col style="width:7em;">
													<col style="width:8em;">
													<col style="width:9em;">
													<col style="width:10em;">
													<col style="width:14em;">
												</colgroup>

												<tbody ng-repeat="childPart in part.$childParts">
													<tr class="wo-row">
														<td class="wo-cell"><span class="new-tag colorRed" ng-if="$parent.part.$addedPart===true || childPart.addedPart===true"> (new)</span>&nbsp;</td>
														<td class="wo-cell">{{::childPart.postQuantity}}</td>
														<td class="wo-cell">{{::$parent.part.damageCode}}</td>
														<td class="wo-cell">{{::$parent.part.TPI}}</td>
														<td class="wo-cell">{{::childPart.postRepairCode}}</td>
														<td class="wo-cell">{{::$parent.part.repairLocCode}}</td>
														<td class="wo-cell">{{::childPart.postPartCode}}</td>
														<td class="wo-cell">&nbsp;</td>
													</tr>
												</tbody>

											</table>
										</td>
									</tr>

									<tr class="wo-row" ng-if="part.repairDescription.length > 0">
										<td>&nbsp;</td>
										<td class="wo-cell-descr" colspan="7">
											<b>Description:</b> {{::part.repairDescription}}
										</td>
									</tr>

								</tbody>

							</table>
						</td>
					</tr>

					<tr class="wo-row" ng-if="workOrder.finalcomment.length > 0">
						<td class="new-tag">&nbsp;</td>
						<td class="wo-cell">
							<b>Comment:</b>
						</td>
						<td class="wo-cell-descr" colspan="6">
							{{::workOrder.finalcomment}}
						</td>
					</tr>

				</tbody>

				<tr class="wo-row">
					<td class="wo-subheader wo-cell-name" colspan="8">
						Rejected Work Orders ({{::obj.startedVisitInfo.postFailedWoNo}})
					</td>
				</tr>

				<tbody woMod = wo ng-repeat="workOrder in obj.startedVisitInfo.postRejectedWo">

					<tr class="wo-row">
						<td class="wo-cell-name" colspan="8">
							{{$index + 1}}. Container number: {{::workOrder.containerno}}, WO: {{::workOrder.workorderid}}, {{::workOrder.wostatus}}
						</td>
					</tr>

					<tr>
						<td colspan="8">
							<table class="preview-wo">

								<colgroup>
									<col style="width:5em;">
									<col style="width:5em;">
									<col style="width:6em;">
									<col style="width:7em;">
									<col style="width:8em;">
									<col style="width:9em;">
									<col style="width:10em;">
									<col style="width:14em;">
								</colgroup>

								<tr class="wo-row">
									<th class="wo-cell-header">&nbsp;</th>
									<th class="wo-cell-header">Pcs.</th>
									<th class="wo-cell-header">Damage Code</th>
									<th class="wo-cell-header">TPI Code</th>
									<th class="wo-cell-header">Repair Code</th>
									<th class="wo-cell-header">Repair Loc Code</th>
									<th class="wo-cell-header">Spare Part Number</th>
									<th class="wo-cell-header">Repair Quality Average Score</th>
								</tr>

								<tbody ng-repeat="part in workOrder.parts">

									<tr class="wo-row"
									ng-if="part.preQuantity || part.preDamageCode || part.preTPI || part.preRepairCode || part.preRepairLocCode"
									ng-hide="part.preQuantity===part.quantity && part.preDamageCode===part.damageCode && part.preTPI===part.TPI && part.preRepairCode===part.repairCode && part.preRepairLocCode===part.repairLocCode">
										<td class="wo-cell">&nbsp;</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preQuantity!==part.quantity}">{{::part.preQuantity}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preDamageCode!==part.damageCode}">{{::part.preDamageCode}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preTPI!==part.TPI}">{{::part.preTPI}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preRepairCode!==part.repairCode}">{{::part.preRepairCode}}</td>
										<td class="wo-cell wo-old" ng-class="{'colorRed':part.preRepairLocCode!==part.repairLocCode}">{{::part.preRepairLocCode}}</td>
										<td class="wo-cell">&nbsp;</td>
										<td class="wo-cell">&nbsp;</td>
									</tr>

									<tr class="wo-row">
										<td class="wo-cell"><span class="new-tag colorRed" ng-if="part.$addedPart===true"> (new)</span>&nbsp;</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preQuantity!=part.quantity}">{{::part.quantity}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preDamageCode!=part.damageCode}">{{::part.damageCode}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preTPI!=part.TPI}">{{::part.TPI}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preRepairCode!=part.repairCode}">{{::part.repairCode}}</td>
										<td class="wo-cell" ng-class="{'colorGreen':part.preRepairLocCode!=part.repairLocCode}">{{::part.repairLocCode}}</td>
										<td class="wo-cell">{{::part.partCode}}</td>
										<td class="wo-cell">
											<span ng-if="part.$ratingRQ" class="colorBlack"><b>RQ: </b>{{::part.$ratingRQ}}</span>
											<span ng-if="!part.$ratingRQ" class="colorRed">Missing Repair Quality Score</span>
										</td>
									</tr>

									<tr ng-if="part.$childParts.length > 0">
										<td colspan="8">
											<table class="preview-wo">

												<colgroup>
													<col style="width:5em;">
													<col style="width:5em;">
													<col style="width:6em;">
													<col style="width:7em;">
													<col style="width:8em;">
													<col style="width:9em;">
													<col style="width:10em;">
													<col style="width:14em;">
												</colgroup>

												<tbody ng-repeat="childPart in part.$childParts">
													<tr class="wo-row">
														<td class="wo-cell"><span class="new-tag colorRed" ng-if="$parent.part.$addedPart===true || childPart.addedPart===true"> (new)</span>&nbsp;</td>
														<td class="wo-cell">{{::childPart.postQuantity}}</td>
														<td class="wo-cell">{{::$parent.part.damageCode}}</td>
														<td class="wo-cell">{{::$parent.part.TPI}}</td>
														<td class="wo-cell">{{::childPart.postRepairCode}}</td>
														<td class="wo-cell">{{::$parent.part.repairLocCode}}</td>
														<td class="wo-cell">{{::childPart.postPartCode}}</td>
														<td class="wo-cell">&nbsp;</td>
													</tr>
												</tbody>

											</table>
										</td>
									</tr>

									<tr class="wo-row" ng-if="part.repairDescription.length > 0">
										<td>&nbsp;</td>
										<td class="wo-cell-descr" colspan="7">
											<b>Description:</b> {{::part.repairDescription}}
										</td>
									</tr>

								</tbody>

							</table>
						</td>
					</tr>

					<tr class="wo-row" ng-if="workOrder.finalcomment.length > 0">
						<td class="new-tag">&nbsp;</td>
						<td class="wo-cell">
							<b>Comment:</b>
						</td>
						<td class="wo-cell-descr" colspan="6">
							{{::workOrder.finalcomment}}
						</td>
					</tr>

				</tbody>

				<tr class="wo-row">
					<td class="wo-header wo-cell-name" colspan="8">
						Not Started Work Orders ({{obj.startedVisitInfo.notStartedNo}})
					</td>
				</tr>

				<tr class="wo-row" woMod = wo ng-repeat="workOrder in obj.startedVisitInfo.plannedWorkOrders">
					<td class="wo-cell-name" colspan="8">
						{{$index + 1}}. Container number: {{::workOrder.containerno}}, WO: {{::workOrder.workorderid}}, {{::workOrder.wostatus}}
					</td>
				</tr>

			</table>


		<div class="list" id="pdfControllerDiv" ng-controller="PdfController">
     			<div style="width:49%; display:inline-block; float:left;">
     				<p class="fontZSDB font 22 paddingLeftL" style="margin-top: 2em; margin-bottom: 0em!Important;" >Auditor:</p>
      				<ion-checkbox class="tagsOptions agreementCheck" style="left:1em; padding-top: 0em;" ng-model="agreement.auditor">I agree with the audit visit.</ion-checkbox>
      	 			<div style="padding-left:2em; height: 25em; padding-top: 1em;">
 	  					<div id="wrapperSignature_1" class="m-signature-pad">
		   					<div class="m-signature-pad--body">
		    					<canvas my-touchstart="freezeScroll('mainScroll')" my-touchend="enableScroll('mainScroll'); auditorSigned();" id="canvas_1" width="470" height="300"></canvas>
		    				</div>
							<div class="m-signature-pad--footer">
								<button type="button" class=" classicBtn fullW" id="clearButton1" ng-click="clearAuditorSignature();">Clear</button>
							</div>
	  					</div>
	   				</div>
    			</div>
     			<div style="width:49%; display:inline-block; float:left;">
     				<p class="fontZSDB font 22 paddingLeftL" style="margin-top: 2em; margin-bottom: 0em!Important;"> Shop manager:</p>
       				<ion-checkbox class="tagsOptions agreementCheck"  style="left:1em; padding-top: 0em;" ng-model="agreement.shopManager">I agree with the audit visit.</ion-checkbox>
      				<div  style="padding-left:2em; height: 25em; padding-top: 1em;">
  	  					<div id="wrapperSignature_2" class="m-signature-pad">
	   					<div class="m-signature-pad--body" >
	    				 	<canvas my-touchstart="freezeScroll('mainScroll')" my-touchend="enableScroll('mainScroll'); shopManagerSigned();" id="canvas_2" width="470" height="300"></canvas>
	    				 </div>
						 <div class="m-signature-pad--footer">
						 	<button type="button" class=" fullW classicBtn" id="clearButton2" ng-click="clearShopManagerSignature();" >Clear</button>
						 </div>
  					</div>
   				</div>
    		</div>
     	</div>
	</ion-content>
</div>
</div>
</div>
