<div class="codeScreenWrapper">
	<div class="addSearchDiv">
		<label class="labelForManuals" for="manualInput" ></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox"
			style="width: 98.5% !important;">
			<form class="addFormProp" ng-submit="blurAllInputs();">
				<input id="manualInput" required class="width925 search-box dispInBl"
					style="margin-left: 2.5em; line-height: 1.5em !Important;"
					type="text" placeholder="{{!code.search ? 'Search..' : ''}}" ng-model="code.search"
					autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 600 }"
					ng-change="updateResults()" limit-to="50">
                    <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></button>
					<button ng-show="code.search.length > 0" class="close-icon" ng-click="resetCodeSearch()"></button>
			</form>
		</div>
	</div>
	<!-- table header -->
	<ion-header-bar no-tap-scroll=true class="headerList"
		style="top: 8.7em !important;height: auto!important;">
		<div class="row filter-top">
			<div class="col col-11 disableNoWrap posRel" click-off="dropdownInfo.showDropManual = false">
				<form  class="dropdownForm" style="width: 76%; margin-left: 0.9em;">
        			<label for="manualId" class="labelForSearchDropdown"  ></label>
        			<input id="manualId" ng-focus="selectDropdown('showDropManual');" style="padding-left: 0.4em;"
        			ng-class="{fullOpacity : dropdownInfo.showDropManual}" class="dropdownInput noOpacity" type="text" ng-model="searchManual" placeholder="Search Manual">
    			</form>
			
				<div class="modalFilter border04" ng-class="{'dropDownOpened' : dropdownInfo.showDropManual, '' : !dropdownInfo.showDropManual}">
					<div class="filter-item filter-sort" ng-click="sortEntries('manualCode')" ng-class="{ 'ascSort': fieldName=='manualCode' && inverseOrder==true, 'descSort': fieldName=='manualCode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="dropdownInfo.showDropManual = !dropdownInfo.showDropManual;">{{preFilterSettings.manualCode || 'Manual Code'}}</div>
				</div>
				<div ng-show="dropdownInfo.showDropManual" class="filter-dropdown dropDownSet" style="width: 98px;">
                   <ion-content has-bouncing="false" style="height: 100%; top: 0px !important;">
                   		<div ng-click="selectManualCode(null);" class="dropdown-item">All</div>
                           <div ng-click="selectManualCode(codeInfo.code);" ng-repeat="codeInfo in manualCodesList | filter: searchManual" class="dropdown-item">{{codeInfo.code}}</div>
					</ion-content>
				</div>
			</div>

			<div class="col col-11 disableNoWrap posRel" click-off="dropdownInfo.showDropMode = false">
				<form  class="dropdownForm" style="width: 76%; margin-left: 0.9em;">
        			<label for="repairModeId" class="labelForSearchDropdown"  ></label>
        			<input id="repairModeId" ng-focus="selectDropdown('showDropMode');" style="padding-left: 0.4em;"
        			ng-class="{fullOpacity : dropdownInfo.showDropMode}" class="dropdownInput noOpacity" type="text" ng-model="searchMode" placeholder="Search Mode">
    			</form>
				<div class="modalFilter border04" ng-class="{'dropDownOpened' : dropdownInfo.showDropMode, '' : !dropdownInfo.showDropMode}">
					<div class="filter-item filter-sort" ng-click="sortEntries('mode')" ng-class="{ 'ascSort': fieldName=='mode' && inverseOrder==true, 'descSort': fieldName=='mode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="dropdownInfo.showDropMode = !dropdownInfo.showDropMode">{{preFilterSettings.mode || 'Mode'}}</div>
				</div>
				<div ng-show="dropdownInfo.showDropMode" class="filter-dropdown dropDownSet" style="width: 98.5px;">
                	<ion-content has-bouncing="false" style="height: 100%; top: 0px !important;">
                		<div ng-click="selectModeCode(null);" class="dropdown-item">All</div>
                    	<div ng-click="selectModeCode(codeInfo.mode);" ng-repeat="codeInfo in modeCodesList | filter: searchMode" class="dropdown-item">{{codeInfo.mode}}</div>
					</ion-content>
				</div>
			</div>

			<div class="col col-15">
				<div class="modalFilter border04" ng-click="sortEntries('repairCode')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='repairCode' && inverseOrder==true, 'descSort': fieldName=='repairCode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Repair Code</div>
				</div>
			</div>
			<div class="col col-17">
				<div class="modalFilter border04" ng-click="sortEntries('repairDesc')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='repairDesc' && inverseOrder==true, 'descSort': fieldName=='repairDesc' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Repair Description</div>
				</div>
			</div>
			<div class="col col-13">
				<div class="modalFilter border04" ng-click="sortEntries('partCode')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='partCode' && inverseOrder==true, 'descSort': fieldName=='partCode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Part Number</div>
				</div>
			</div>
			<div class="col col-15">
				<div class="modalFilter border04" ng-click="sortEntries('partDesc')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='partDesc' && inverseOrder==true, 'descSort': fieldName=='partDesc' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Part Description</div>
				</div>
			</div>
			<div class="col col-15">
				<div class="modalFilter border04" ng-click="sortEntries('maxPartQty')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='maxPartQty' && inverseOrder==true, 'descSort': fieldName=='maxPartQty' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Max Part Qty</div>
				</div>
			</div>
		</div>
	</ion-header-bar>

	<!-- table content -->
	<ion-content has-bouncing="false"
		class="contentTable addVisitScroll list-content"
		style="top: 12.1em !important; z-index: 0;" scroll="false">
		<span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">No data to display</span>
		<ion-list class="addVisitScrollWrapper list-ion">
			<ion-item
					collection-item-height="50" ng-repeat="code in currentResults" class="tr list-ionItem">
					<div class="row" ng-click="goToPageDetails(code, 'Associate Parts with Code/Mode')">
						<div class="col truncate col-11">{{code.manualCode}}</div>
						<div class="col col-11">{{code.mode}}</div>
						<div class="col col-15">{{code.repairCode}}</div>
						<div class="col truncate col-17">{{code.repairDesc}}</div>
						<div class="col truncate col-13">{{code.partCode || "-"}}</div>
						<div class="col truncate col-15">{{code.partDesc}}</div>
						<div class="col col-15">{{code.maxPartQty}}</div>
						<span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
					</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>
