<div class="codeScreenWrapper">
	<div class="addSearchDiv">
		<label class="labelForManuals" for="manualInput" ></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox"
			style="width: 98.5% !important;">
			<form class="addFormProp" ng-submit="blurAllInputs();">
				<input id="manualInput" required class="width925 search-box dispInBl"
					style="margin-left: 2.5em; line-height: 1.5em !Important;"
					type="text" placeholder="{{!code.search ? 'Search..' : ''}}"
					ng-model="code.search"
					autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 300 }"
					ng-change="updateResults()" limit-to="50">
                    <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></button>
					<button ng-show="code.search.length > 0" class="close-icon" ng-click="resetCodeSearch()"></button>
			</form>
		</div>
	</div>
	<!-- table header -->
	<ion-header-bar no-tap-scroll=true class="headerList"
		style="top: 8.7em !important;height: auto!important;">
		<div class="row filter-top">
			<div class="col col-20">
				<div class="modalFilter border04" ng-click="sortEntries('code')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='code' && inverseOrder==true, 'descSort': fieldName=='code' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Manual Code</div>
				</div>
			</div>
			<!-- Code Description -->
			<div class="col col-75">
				<div class="modalFilter border04" ng-click="sortEntries('description')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='description' && inverseOrder==true, 'descSort': fieldName=='description' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Code Description</div>
				</div>
			</div>
		</div>
	</ion-header-bar>

	<!-- table content -->
	<ion-content has-bouncing="false"
		class="contentTable addVisitScroll list-content"
		style="top: 12.1em !important;" scroll="false">
		<span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">No data to display</span>
		<ion-list class="displayTable addVisitScrollWrapper list-ion">
			<ion-item
					collection-item-height="50" ng-repeat="code in currentResults" class="tr list-ionItem">
					<div class="row" ng-click="goToPageDetails(code,'Container Repair Location')">
						<!-- Manual Code -->
						<div class="col col-20 truncate">{{code.code}}</div>
						<!-- Code Description -->
						<div class="col col-75 truncate">{{code.description}}</div>
						<span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
					</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>
