<div class="codeScreenWrapper">
	<div class="addSearchDiv">
		<label class="labelForManuals" for="manualInput" ></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox"
			style="width: 98.5% !important;">
			<form class="addFormProp" ng-submit="blurAllInputs();">
				<input id="manualInput" required class="width925 search-box dispInBl"
					style="margin-left: 2.5em; line-height: 1.5em !Important;"
					type="text" placeholder="{{!code.search ? 'Search..' : ''}}" ng-model="code.search"
					autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 300 }"
					ng-change="updateResults()" limit-to="50">
                    <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></button>
					<button ng-show="code.search.length > 0" class="close-icon" ng-click="resetCodeSearch()"></button>
			</form>
		</div>
	</div>
	<!-- table header -->
	<ion-header-bar no-tap-scroll=true class="headerList"
		style="top: 8.7em !important;height: auto!important;">
		<div class="row filter-top">
			<div class="col col-14">
				<div class="modalFilter border04" ng-click="sortEntries('code')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='code' && inverseOrder==true, 'descSort': fieldName=='code' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Damage Code</div>
				</div>
			</div>
			<div class="col col-14">
				<div class="modalFilter border04" ng-click="sortEntries('name')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='name' && inverseOrder==true, 'descSort': fieldName=='name' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Name</div>
				</div>
			</div>
			<div class="col col-17">
				<div class="modalFilter border04" ng-click="sortEntries('description')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='description' && inverseOrder==true, 'descSort': fieldName=='description' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Description</div>
				</div>
			</div>
			<div class="col col-15">
				<div class="modalFilter border04" ng-click="sortEntries('numerical_code')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='numerical_code' && inverseOrder==true, 'descSort': fieldName=='numerical_code' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Numerical Code</div>
				</div>
			</div>
			<div class="col col-15">
				<div class="modalFilter border04" ng-click="sortEntries('chuser')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='chuser' && inverseOrder==true, 'descSort': fieldName=='chuser' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Change User</div>
				</div>
			</div>
			<div class="col col-18">
				<div class="modalFilter border04" ng-click="sortEntries('chts')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='chts' && inverseOrder==true, 'descSort': fieldName=='chts' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Change Time</div>
				</div>
			</div>
		</div>
	</ion-header-bar>

	<!-- table content -->
	<ion-content has-bouncing="false"
		class="contentTable addVisitScroll list-content"
		style="top: 12.1em !important;" scroll="false">
		<span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">No data to display</span>
		<ion-list class="addVisitScrollWrapper list-ion">
			<ion-item
					collection-item-height="50" ng-repeat="code in currentResults" class="tr list-ionItem">
					<div class="row" ng-click="goToPageDetails(code,'Damage Code')">
						<div class="col col-14 truncate">{{code.code}}</div>
						<div class="col col-14 truncate">{{code.name}}</div>
						<div class="col col-17 truncate">{{code.description}}</div>
						<div class="col col-15 truncate">{{code.numerical_code}}</div>
						<div class="col col-15 truncate">{{code.chuser || "-"}}</div>
						<div class="col col-18 truncate">{{code.chts}}</div>
						<span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
					</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>
