<div class="codeScreenWrapper">
	<div class="addSearchDiv">
		<label class="labelForManuals" for="manualInput" ></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox"
			style="width: 98.5% !important;">
			<form class="addFormProp" ng-submit="blurAllInputs();">
				<input id="manualInput" required class="width90 search-box dispInBl"
					style="margin-left: 2.5em; line-height: 1.5em !Important;"
					type="text" placeholder="{{!code.search ? 'Search by shop code..' : ''}}" ng-model="code.search"
					autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 600 }"
					ng-change="updateResults()" limit-to="50">
                <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></button>    
				<button ng-show="code.search.length > 0" class="close-icon" ng-click="resetCodeSearch()"></button>
			</form>
		</div>
	</div>
	<!-- table header -->
	<ion-header-bar no-tap-scroll=true class="headerList"
		style="top: 8.7em !important;height: auto!important;">
		<div class="row filter-top">
			<div class="col col-11 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('shopCode')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='shopCode' && inverseOrder==true, 'descSort': fieldName=='shopCode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="testDD.LRShop = !testDD.LRShop;">Shop Code</div>
				</div>
			</div>
			<div class="col col-11 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('customer')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='customer' && inverseOrder==true, 'descSort': fieldName=='customer' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Customer</div>
				</div>
			</div>
			<div class="col col-15 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('eqType')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='eqType' && inverseOrder==true, 'descSort': fieldName=='eqType' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Equipment Type</div>
				</div>
			</div>
			<div class="col col-11 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('effDate_ts')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='effDate_ts' && inverseOrder==true, 'descSort': fieldName=='effDate_ts' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Effective Date</div>
				</div>
			</div>
			<div class="col col-11 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('expDate_ts')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='expDate_ts' && inverseOrder==true, 'descSort': fieldName=='expDate_ts' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Expiration Date</div>
				</div>
			</div>
			<div class="col col-13 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('regRate')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='regRate' && inverseOrder==true, 'descSort': fieldName=='regRate' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Ordinary Rate</div>
				</div>
			</div>
			<div class="col col-09 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('ot1Rate')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='ot1Rate' && inverseOrder==true, 'descSort': fieldName=='ot1Rate' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">OT1 Rate</div>
				</div>
			</div>
			<div class="col col-09 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('ot2Rate')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='ot2Rate' && inverseOrder==true, 'descSort': fieldName=='ot2Rate' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">OT2 Rate</div>
				</div>
			</div>
			<div class="col col-09 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('ot3Rate')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='ot3Rate' && inverseOrder==true, 'descSort': fieldName=='ot3Rate' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">OT3 Rate</div>
				</div>
			</div>
		</div>
	</ion-header-bar>

	<!-- table content -->
	<ion-content has-bouncing="false"
		class="contentTable addVisitScroll list-content"
		style="top: 12.1em !important;" scroll="false">
		<span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">No data to display</span>
		<ion-list class="addVisitScrollWrapper list-ion">
			<ion-item
					collection-item-height="50" ng-repeat="code in currentResults"
					ng-click="" ng-class="" class="tr list-ionItem">
					<div class="row" ng-click="goToPageDetails(code, 'Labor Rates')">
						<!-- Manual Code -->
						<div class="col col-11 truncate">{{code.shopCode}}</div>
						<div class="col col-11 truncate">{{code.customer}}</div>
						<div class="col col-15 truncate">{{code.eqType}}</div>
						<div class="col col-11 truncate">{{code.effDate}}</div>
						<div class="col col-11 truncate">{{code.expDate}}</div>
						<div class="col col-13 truncate">{{code.regRate}}</div>
						<div class="col col-09 truncate">{{code.ot1Rate}}</div>
						<div class="col col-09 truncate">{{code.ot2Rate}}</div>
						<div class="col col-09 truncate">{{code.ot3Rate}}</div>
						<span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
					</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>
