<div class="codeScreenWrapper">
	<div class="addSearchDiv">
		<label class="labelForManuals" for="manualInput" ></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox"
			style="width: 98.5% !important;">
			<form class="addFormProp" ng-submit="blurAllInputs();">
				<input id="manualInput" required class="width925 search-box dispInBl"
					style="margin-left: 2.5em; line-height: 1.5em !Important;"
					type="text" placeholder="{{!code.search ? 'Search..' : ''}}" ng-model="code.search"
					autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 1000 }"
					ng-change="updateResults()" limit-to="50">
                    <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></button>
					<button ng-show="code.search.length > 0" class="close-icon" ng-click="resetCodeSearch()"></button>
			</form>
		</div>
	</div>
	<!-- table header -->
	<ion-header-bar no-tap-scroll=true class="headerList"
		style="top: 8.7em !important;height: auto!important;">
		<div class="row filter-top">
			<div class="col col-08 disableNoWrap posRel" click-off="dropdownInfo.showDropPartsGroup = false">
				<form  class="dropdownForm" style="width: 67%; margin-left: 0.9em;">
        			<label id="showDropPartsGroupLabel" for="showDropPartsGroup" class="labelForSearchDropdown"  ></label>
        			<input id="showDropPartsGroup" ng-focus="selectDropdown('showDropPartsGroup');" style="padding-left: 0.4em;"
        			ng-class="{fullOpacity : dropdownInfo.showDropPartsGroup}" class="dropdownInput noOpacity" type="text" ng-model="searchPartsGroup" placeholder="Search Group">
    			</form>
				<div class="modalFilter border04" ng-class="{'dropDownOpened' : dropdownInfo.showDropPartsGroup, '' : !dropdownInfo.showDropPartsGroup}">
					<div class="filter-item filter-sort" ng-click="sortEntries('partGroup')" ng-class="{ 'ascSort': fieldName=='partGroup' && inverseOrder==true, 'descSort': fieldName=='partGroup' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="dropdownInfo.showDropPartsGroup = !dropdownInfo.showDropPartsGroup;">{{preFilterSettings.partGroup || 'Part Group'}}</div>
				</div>
				<div ng-show="dropdownInfo.showDropPartsGroup" class="filter-dropdown dropDownSet" style="width: 68.5px;">
                    <ion-content has-bouncing="false" style="height: 100%; top: 0px !important;">
                    		<div ng-click="selectPartsGroupCode(null);" class="dropdown-item">All</div>
                            <div ng-click="selectPartsGroupCode(codeInfo.code);" ng-repeat="codeInfo in partGroupsList | filter: searchPartsGroup" class="dropdown-item">{{codeInfo.code}}</div>
					</ion-content>
				</div>

			</div>
			<div class="col col-12 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('designation')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='designation' && inverseOrder==true, 'descSort': fieldName=='designation' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="testDD.MPPartGroup = !testDD.MPPartGroup;">Designation</div>
				</div>
			</div>

			<div class="col col-13 disableNoWrap posRel" click-off="dropdownInfo.showDropManufacturerCode = false">
				<form  class="dropdownForm" style="width: 80%; margin-left: 0.9em;">
        			<label for="manufacturerCode" class="labelForSearchDropdown"  ></label>
        			<input id="manufacturerCode" ng-focus="selectDropdown('showDropManufacturerCode');" style="padding-left: 0.4em;"
        			ng-class="{fullOpacity : dropdownInfo.showDropManufacturerCode}" class="dropdownInput noOpacity" type="text" ng-model="searchManufacturerCode" placeholder="Search Code">
    			</form>

				<div class="modalFilter border04" ng-class="{'dropDownOpened' : dropdownInfo.showDropManufacturerCode, '' : !dropdownInfo.showDropManufacturerCode}">
					<div class="filter-item filter-sort" ng-click="sortEntries('manufacturer')" ng-class="{ 'ascSort': fieldName=='manufacturer' && inverseOrder==true, 'descSort': fieldName=='manufacturer' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="dropdownInfo.showDropManufacturerCode = !dropdownInfo.showDropManufacturerCode;">{{preFilterSettings.manufacturer || 'Manufacturer Code'}}</div>
				</div>

				<div ng-show="dropdownInfo.showDropManufacturerCode" class="filter-dropdown dropDownSet" style="width: 118.5px;">
                    <ion-content has-bouncing="false" style="height: 100%; top: 0px !important;">
                    		<div ng-click="selectManufacturerCode(null);" class="dropdown-item">All</div>
                            <div ng-click="selectManufacturerCode(codeInfo.code);" ng-repeat="codeInfo in manufacturerCodesList | filter: searchManufacturerCode" class="dropdown-item">{{codeInfo.code}}</div>
					</ion-content>
				</div>

			</div>
			<div class="col col-09 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('code')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='code' && inverseOrder==true, 'descSort': fieldName=='code' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Part Number</div>
				</div>
			</div>
			<div class="col col-06 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('qty')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='qty' && inverseOrder==true, 'descSort': fieldName=='qty' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Qty</div>
				</div>
			</div>
			<div class="col col-19 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('description')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='description' && inverseOrder==true, 'descSort': fieldName=='description' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Description</div>
				</div>
			</div>
			<div class="col col-08 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('price')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='price' && inverseOrder==true, 'descSort': fieldName=='price' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">PRICE (USD)</div>
				</div>
			</div>
			<div class="col col-06 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('core')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='core' && inverseOrder==true, 'descSort': fieldName=='core' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Core</div>
				</div>
			</div>
			<div class="col col-11 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('coreValue')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='coreValue' && inverseOrder==true, 'descSort': fieldName=='coreValue' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Core Value USD</div>
				</div>
			</div>
			<div class="col col-08 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('deductCore')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='deductCore' && inverseOrder==true, 'descSort': fieldName=='deductCore' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Deduct Code</div>
				</div>
			</div>
		</div>
	</ion-header-bar>

	<!-- table content -->

	<ion-content has-bouncing="false"
		class="contentTable addVisitScroll list-content"
		style="top: 12.1em !important; z-index: 0;" scroll="false">
		<span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">No data to display</span>
		<ion-list class="addVisitScrollWrapper list-ion">
			<ion-item
					collection-item-height="50" ng-repeat="code in currentResults"
					ng-click="" ng-class="" class="tr list-ionItem">
					<div class="row" ng-click="goToPageDetails(code, 'Master Parts')">
						<!-- Manual Code -->
						<div class="col col-08 truncate">
							<span class="colorGrey ">{{code.partGroup}}</span>
						</div>
						<div class="col col-12 truncate">
							<span class="colorGrey ">{{code.designation.trim() ? code.designation : "N/A"}}</span>
						</div>
						<div class="col col-13 truncate">
							<span class="colorGrey ">{{code.manufacturer}}</span>
						</div>
						<div class="col col-09 truncate">
							<span class="colorGrey ">{{code.code}}</span>
						</div>
						<div class="col col-06 truncate">
							<span class="colorGrey ">{{code.qty}}</span>
						</div>
						<div class="col col-19 truncate">
							<span class="colorGrey ">{{code.description}}</span>
						</div>
						<div class="col col-08 truncate">
							<span class="colorGrey ">{{code.price}}</span>
						</div>
						<div class="col col-06 truncate">
							<span class="colorGrey ">{{code.core}}</span>
						</div>
						<div class="col col-11 truncate">
							<span class="colorGrey ">{{code.coreValue}}</span>
						</div>
						<div class="col col-08 truncate">
							<span class="colorGrey ">{{code.deductCore}}</span>
						</div>
						<span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
					</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>
