<div class="codeScreenWrapper">
	<div class="addSearchDiv">
		<label class="labelForManuals" for="manualInput" ></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox"
			style="width: 98.5% !important;">
			<form class="addFormProp" ng-submit="blurAllInputs();">
				<input type="text" id="manualInput" required class="width925 search-box dispInBl"
					style="margin-left: 2.5em; line-height: 1.5em !Important;"
				    placeholder="{{!code.search ? 'Search..' : ''}}" ng-model="code.search"
					autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 600 }"
					ng-change="updateResults()" limit-to="50">
                    <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></button>
					<button ng-show="code.search.length > 0" class="close-icon" ng-click="resetCodeSearch()"></button>
			</form>
		</div>
	</div>
	<!-- table header -->
	<ion-header-bar no-tap-scroll=true class="headerList"
		style="top: 8.7em !important;height: auto!important;">
		<div class="row filter-top">
			<div class="col col-12 disableNoWrap posRel" click-off="dropdownInfo.showDropManual = false">
				<form  class="dropdownForm" style="width: 78%; margin-left: 0.9em;">
        			<label for="searchManual" class="labelForSearchDropdown" ></label>
        			<input id="searchManual" autocorrect="off" ng-focus="selectDropdown('showDropManual');" style="padding-left: 0.4em;"
        			ng-class="{fullOpacity : dropdownInfo.showDropManual}" class="dropdownInput noOpacity" type="text" ng-model="searchManual" placeholder="Search Manual">
    			</form>
				<div class="modalFilter border04" ng-class="{'dropDownOpened' : dropdownInfo.showDropManual, '' : !dropdownInfo.showDropManual}">
					<div class="filter-item filter-sort" ng-click="sortEntries('manualCode')" ng-class="{ 'ascSort': fieldName=='manualCode' && inverseOrder==true, 'descSort': fieldName=='manualCode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="dropdownInfo.showDropManual = !dropdownInfo.showDropManual;">{{preFilterSettings.manualCode || 'Manual Code'}}</div>
				</div>
				<div ng-show="dropdownInfo.showDropManual" class="filter-dropdown dropDownSet" style="width: 108px;">
                    <ion-content has-bouncing="false" style="height: 100%; top: 0px !important;">
                    		<div ng-click="selectManualCode(null);" class="dropdown-item">All</div>
                            <div ng-click="selectManualCode(codeInfo.code);" ng-repeat="codeInfo in manualCodesList | filter: searchManual" class="dropdown-item">{{codeInfo.code}}</div>
					</ion-content>
				</div>
			</div>
			<!-- Code Description -->
			<div class="col col-16 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('repairDesc')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='repairDesc' && inverseOrder==true, 'descSort': fieldName=='repairDesc' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Code Description</div>
				</div>
			</div>
			<!-- Mode -->
			<div class="col col-08 disableNoWrap posRel" click-off="dropdownInfo.showDropMode = false">
				<form  class="dropdownForm" style="width: 67%; margin-left: 0.9em;">
					<label id="searchModeLabel" for="searchMode" class="labelForSearchDropdown" ></label>
        			<input id="searchMode" ng-focus="selectDropdown('showDropMode');" style="padding-left: 0.4em;"
        			ng-class="{fullOpacity : dropdownInfo.showDropMode}" class="dropdownInput noOpacity" type="text" ng-model="searchMode" placeholder="Search Mode">
    			</form>
				<div class="modalFilter border04" ng-class="{'dropDownOpened' : dropdownInfo.showDropMode, '' : !dropdownInfo.showDropMode}">
					<div class="filter-item filter-sort" ng-click="sortEntries('mode')" ng-class="{ 'ascSort': fieldName=='mode' && inverseOrder==true, 'descSort': fieldName=='mode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="dropdownInfo.showDropMode = !dropdownInfo.showDropMode;">{{preFilterSettings.mode || 'Mode'}}</div>
				</div>
				
				<div ng-show="dropdownInfo.showDropMode" class="filter-dropdown dropDownSet" style="width: 69px;">
                    <ion-content has-bouncing="false" style="height: 100%; top: 0px !important;">
                   			<div ng-click="selectModeCode(null);" class="dropdown-item">All</div>
                            <div ng-click="selectModeCode(codeInfo.mode);" ng-repeat="codeInfo in modeCodesList | filter: searchMode" class="dropdown-item">{{codeInfo.mode}}</div>
					</ion-content>
				</div>
			</div>
			<!-- Mode Description -->
			<div class="col col-14 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('modeDesc')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='modeDesc' && inverseOrder==true, 'descSort': fieldName=='modeDesc' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Mode Description</div>
				</div>
			</div>
			<!-- Index Id -->
			<div class="col col-10 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('indexId')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='indexId' && inverseOrder==true, 'descSort': fieldName=='indexId' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Index Id</div>
				</div>
			</div>
			<!-- Index ID Description -->
			<div class="col col-13 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('indexDesc')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='indexDesc' && inverseOrder==true, 'descSort': fieldName=='indexDesc' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Index Id Description</div>
				</div>
			</div>
			<!-- Repair Code -->
			<div class="col col-12 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('repairCode')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='repairCode' && inverseOrder==true, 'descSort': fieldName=='repairCode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Repair Code</div>
				</div>
			</div>
			<!-- Repair Description -->
			<div class="col col-13 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('repairDesc')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='repairDesc' && inverseOrder==true, 'descSort': fieldName=='repairDesc' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="">Repair Code Description</div>
				</div>
			</div>
		</div>
	</ion-header-bar>

	<!-- table content -->
	<ion-content has-bouncing="false"
		class="contentTable addVisitScroll list-content"
		style="top: 12.1em !important;z-index: 0;" scroll="false">
		<span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">No data to display</span>
		<ion-list class="addVisitScrollWrapper list-ion">
			<ion-item
					collection-item-height="50" ng-repeat="code in currentResults"
					ng-click="" ng-class="" class="tr list-ionItem">
					<div class="row" ng-click="goToPageDetails(code, 'Repair STS Code')">
						<!-- Manual Code -->
						<div class="col col-12 truncate">{{code.manualCode}}</div>
						<div class="col col-16 truncate">{{code.manualDesc}}</div>
						<div class="col col-08 truncate">{{code.mode}}</div>
						<div class="col col-14 truncate">{{code.modeDesc}}</div>
						<div class="col col-10 truncate">{{code.indexId}}</div>
						<div class="col col-13 truncate">{{code.indexDesc.trim() ? code.indexDesc : "N/A"}}</div>
						<div class="col col-12 truncate">{{code.repairCode}}</div>
						<div class="col col-13 truncate">{{code.repairDesc}}</div>
						<span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
					</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>
