<div class="shop" ng-show="false">
	<!-- row 1 -->
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Manual</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Part Number</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Part Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Max Part Qty</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
</div>
<div class="shop" ng-show="breadcrumbObject.params[1] == 'Master Parts'">
	<!-- row 1 -->
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Part Group</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.partGroup}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Designation</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.designation}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Manufacturer Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.manufacturer}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Part Number</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.code}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Qty</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.qty}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.description}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>PRICE(USD)</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.price}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Active</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.active}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Core</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.core}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Core Value USD</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.coreValue}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Deduct Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.deductCore}}</b></span>
		</div>
	</div>
</div>
<div class="shop" ng-show="false">
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Manual Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Code Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Index Id</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Index Id Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Code Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
</div>
<div class="shop" ng-show="breadcrumbObject.params[1] == 'Container Repair Location'">
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Manual Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.code}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Code Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.description}}</b></span>
		</div>
	</div>
</div>
<div class="shop" ng-show="breadcrumbObject.params[1] == 'Damage Code'">
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Damage Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.code}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Name</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.name}}</b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.description}}</b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Numerical Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.numerical_code}}</b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Change User</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.chuser}}</b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Change Time</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.chts}}</b></span>
		</div>
	</div>
</div>
<div class="shop" ng-show="false">
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop Name</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Suspend Limit</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Suspend Material Limit</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Auto Approval Limit</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
</div>
<div class="shop" ng-show="false">
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Amount(Currency 001)</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Manual</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Effective Date</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
			<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Expiry Date</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
</div>
<div class="shop" ng-show="false">
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Customer</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Equipment Type</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Effective Date</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Expiration Date</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
		<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Ordinary Rate</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
			<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>OT1 Rate</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
				<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>OT2 Rate</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
				<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>OT3 Rate</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b></b></span>
		</div>
	</div>
</div>

<div class="shop" ng-show="breadcrumbObject.params[1] == 'Repair STS Code'">
	<!-- row 1 -->
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Manual Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.manualCode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Code Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.repairDesc}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.mode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.modeDesc}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Index Id</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.indexId}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Index Id Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.indexDesc}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.repairCode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Code Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.repairDesc}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Max Quantity</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.maxQuantity}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Man Hour</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.manHour}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop Material Ceiling</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.shopMaterialCeiling}}</b></span>
		</div>
	</div>
</div>

<div class="shop" ng-show="breadcrumbObject.params[1] == 'Associate Parts with Code/Mode'">
	<!-- row 1 -->
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Manual</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.manual}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.mode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.repairCode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.repairDesc}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Part Number</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.partCode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Part Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.partDesc}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Max Part Qty</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.maxPartQty}}</b></span>
		</div>
	</div>
</div>

<div class="shop" ng-show="breadcrumbObject.params[1] == 'Shop Limits'">
	<!-- row 1 -->
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.shopCode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop Name</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.shopName}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop Mode</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.mode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode Description</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.modeDesc}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Suspend Limit</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.repairLimit}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Suspend Material Limit</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.materialLimit}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Auto Approval Limit</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.approveLimit}}</b></span>
		</div>
	</div>
</div>

<div class="shop" ng-show="breadcrumbObject.params[1] == 'Labor Rates'">
	<!-- row 1 -->
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Shop Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.shopCode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Customer</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.customer}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Equipment Type</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.eqType}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Effective Date</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.effDate}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Expiration Date</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.expDate}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Ordinary Rate</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.regRate}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>OT1 Rate</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.ot1Rate}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>OT2 Rate</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.ot2Rate}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>OT3 Rate</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.ot3Rate}}</b></span>
		</div>
	</div>
</div>

<div class="shop" ng-show="breadcrumbObject.params[1] == 'Shop Contract'">
	<!-- row 1 -->
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Repair Code</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.repairCode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Mode</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.mode}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Amount (Currency 001)</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.amount}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Manual</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.manual}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Effective Date</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.effDate}}</b></span>
		</div>
	</div>
	<div class="row borderBottom">
		<div class="col col-30">
			<span class="truncate"><b>Expiry Date</b></span>
		</div>
		<div class="col col-60">
			<span class="truncate"><b>{{detailedCode.expDate}}</b></span>
		</div>
	</div>
</div>