<div class="codeScreenWrapper">
	<div class="addSearchDiv">
	<label class="labelForManuals" style="width: 41%;" for="manualInput" ></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox"
			style="width: 40% !important;margin-left: .5em!important;float: left; text-align: left;">
			<!--<form class="addFormProp" ng-submit="searchByShopCode();code.searched = true;">-->
				<input id="manualInput" required class="width925 search-box dispInBl"
					style="margin-left: 2.5em; line-height: 1.5em !Important; width: 80%; padding-right:0px;"
					type="text" placeholder="{{!code.search ? 'Search by shop code..' : ''}}"
					ng-model="code.search"
					autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 300 }"
					ng-change="code.searched=false;" limit-to="50">
					<button ng-show="code.search.length > 0" class="close-icon" style="width:23px; height: 23px;" ng-click="resetData($event); code.searched = false;"></button>
			<!--</form>-->
		</div>
		<div  class="searchBtnWrapper">
            <button id="searchClear" ng-click="searchByShopCode();code.searched = true;" class="classicBtn" ng-disabled="!code.search">Search</button>
            <!--<button id="searchClear" ng-show="code.searched && currentResults.length > 0" ng-click="resetData();code.searched = false;" class="classicBtn">Clear</button>-->
		</div>
		<div  class="divInput shopDescWrapper addVisSearchBox" style="width: 48%!important; float: left;">
				<span style="color:white; line-height: 2em;" ng-show="code.shopDesc">
					Shop description: {{code.shopDesc}}
				</span>
		</div>
	</div>
	<!-- table header -->
	<ion-header-bar no-tap-scroll=true class="headerList"
		style="top: 8.7em !important;height: auto!important;">
		<div class="row filter-top">
			<div class="col col-20">
				<div class="modalFilter border04" ng-click="sortEntries('geoLoc')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='geoLoc' && inverseOrder==true, 'descSort': fieldName=='geoLoc' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Geo Location</div>
				</div>
			</div>
			<!-- Code Description -->
			<div class="col col-75">
				<div class="modalFilter border04" ng-click="sortEntries('shopActive')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='shopActive' && inverseOrder==true, 'descSort': fieldName=='shopActive' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Shop Active</div>
				</div>
			</div>
		</div>
	</ion-header-bar>

	<!-- table content -->
	<ion-content has-bouncing="false"
		class="contentTable addVisitScroll list-content"
		style="top: 12.1em !important;" scroll="false">
		<span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">Please search by shop code in order to generate results</span>
		<ion-list class="displayTable addVisitScrollWrapper list-ion">
			<ion-item
					collection-item-height="50" ng-repeat="code in currentResults" class="tr list-ionItem">
					<div class="row" ng-click="goToShopDetails(code)">
						<!-- Manual Code -->
						<div class="col col-20 truncate">{{code.geoLoc}}</div>
						<!-- Code Description -->
						<div class="col col-75 truncate">{{code.shopActive}}</div>
						<span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
					</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>
