<div class="codeScreenWrapper">
    <div class="addSearchDiv row">
        <div class="col col-60 posRel">
            <div class="modal-search flex-row-start">

                <div class="posRel width100 heightL">
                    <form ng-submit="validateAndSetShopCode(code.shopCode);" class="width100 heightL">
                        <label class="labelForManuals" for="inputShop"></label>
                        <input id="inputShop" type="text" limit-to="78" ng-model="code.shopCode" placeholder="{{!code.shopCode ? 'Search by shop code..' : ''}}" class="posRel borderLeft"
                        />
                        <button ng-if="code.shopCode.length > 0" class="close-icon" ios-touchend="resetShopSearch()"></button>
                    </form>
                </div>
                <button type="submit" ng-click="validateAndSetShopCode(code.shopCode);" ng-disabled="code.shopSet" class="search-btn borderRight">Find</button>

            </div>
        </div>
        <div class="col col-40 posRel">
            <div class="modal-search flex-row-start">

                <div class="posRel width100 heightL">
                    <form ng-submit="searchForContracts(code.shopCode, code.repairCode, code.shopSet);" class="width100 heightL">
                        <label class="labelForManuals" for="inputRepair"></label>
                        <input id="inputRepair" type="text" limit-to="78" ng-model="code.repairCode" placeholder="{{!code.repairCode ? 'Search by repair code..' : ''}}" class="posRel borderLeft"/>
                        <button ng-if="code.repairCode.length > 0" class="close-icon" ios-touchend="resetRepairSearch()"></button>
                    </form>
                </div>
                <button type="submit" ng-click="searchForContracts(code.shopCode, code.repairCode, code.shopSet);" class="search-btn borderRight">Search</button>

            </div>
        </div>
    </div>
    <!-- table header -->
    <ion-header-bar no-tap-scroll=true class="headerList" style="top: 8.7em !important;height: auto!important;">
        <div class="row filter-top">
            <div class="col col-15 disableNoWrap">
                <div class="modalFilter border04" ng-click="sortEntries('repairCode')">
                    <div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='repairCode' && inverseOrder==true, 'descSort': fieldName=='repairCode' && inverseOrder==false }"></div>
                    <div class="filter-item filter-name greyColorDarker">Repair Code</div>
                </div>
            </div>
            <div class="col col-17 disableNoWrap">
                <div class="modalFilter border04" ng-click="sortEntries('mode')">
                    <div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='mode' && inverseOrder==true, 'descSort': fieldName=='mode' && inverseOrder==false }"></div>
                    <div class="filter-item filter-name greyColorDarker" ng-click="testDD.SCMode = !testDD.SCMode;">Mode</div>
                </div>
            </div>
            <div class="col col-17 disableNoWrap">
                <div class="modalFilter border04" ng-click="sortEntries('amount')">
                    <div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='amount' && inverseOrder==true, 'descSort': fieldName=='amount' && inverseOrder==false }"></div>
                    <div class="filter-item filter-name greyColorDarker">Amount (Currency USD)</div>
                </div>
            </div>
            <div class="col col-17 disableNoWrap">
                <div class="modalFilter border04" ng-click="sortEntries('manual')">
                    <div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='manual' && inverseOrder==true, 'descSort': fieldName=='manual' && inverseOrder==false }"></div>
                    <div class="filter-item filter-name greyColorDarker">Manual</div>
                </div>
            </div>
            <div class="col col-17 disableNoWrap">
                <div class="modalFilter border04" ng-click="sortEntries('effDate_ts')">
                    <div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='effDate_ts' && inverseOrder==true, 'descSort': fieldName=='effDate_ts' && inverseOrder==false }"></div>
                    <div class="filter-item filter-name greyColorDarker">Effective Date</div>
                </div>
            </div>
            <div class="col col-17 disableNoWrap">
                <div class="modalFilter border04" ng-click="sortEntries('expDate_ts')">
                    <div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='expDate_ts' && inverseOrder==true, 'descSort': fieldName=='expDate_ts' && inverseOrder==false }"></div>
                    <div class="filter-item filter-name greyColorDarker">Expiry Date</div>
                </div>
            </div>
        </div>
    </ion-header-bar>

    <!-- table content -->
    <ion-content has-bouncing="false" class="contentTable addVisitScroll list-content" style="top: 12.1em !important;" scroll="false">
        <span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">No data to display</span>
        <ion-list class="addVisitScrollWrapper list-ion">
            <ion-item collection-item-height="50" ng-repeat="code in currentResults" ng-click="" ng-class="" class="tr list-ionItem">
                <div class="row" ng-click="goToPageDetails(code, 'Shop Contract')">
                    <!-- Manual Code -->
                    <div class="col col-15 truncate">{{code.repairCode}}</div>
                    <div class="col col-17 truncate">{{code.mode}}</div>
                    <div class="col col-17 truncate">{{code.amount}}</div>
                    <div class="col col-17 truncate">{{code.manual}}</div>
                    <div class="col col-17 truncate">{{code.effDate}}</div>
                    <div class="col col-17 truncate">{{code.expDate}}</div>
                    <span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>