<div class="codeScreenWrapper">
	<div class="addSearchDiv">
		<label class="labelForManuals" for="manualInput" ></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox"
			style="width: 98.5% !important;">
			<form class="addFormProp" ng-submit="blurAllInputs();">
				<input id="manualInput" required class="width925 search-box dispInBl"
					style="margin-left: 2.5em; line-height: 1.5em !Important;"
					type="text" placeholder="{{!code.search ? 'Search..' : ''}}" ng-model="code.search"
					autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 600 }"
					ng-change="updateResults()" limit-to="50">
                    <button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></button>
					<button ng-show="code.search.length > 0" class="close-icon" ng-click="resetCodeSearch()"></button>
			</form>
		</div>
	</div>
	<!-- table header -->
	<ion-header-bar no-tap-scroll=true class="headerList"
		style="top: 8.7em !important;height: auto!important;">
		<div class="row filter-top">
			<div class="col col-12 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('shopCode')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='shopCode' && inverseOrder==true, 'descSort': fieldName=='shopCode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Shop Code</div>
				</div>
			</div>
			<div class="col col-12 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('shopName')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='shopName' && inverseOrder==true, 'descSort': fieldName=='shopName' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Shop Name</div>
				</div>
			</div>
			<div class="col col-12 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('mode')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='mode' && inverseOrder==true, 'descSort': fieldName=='mode' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker" ng-click="testDD.SLShopMode = !testDD.SLShopMode;">Shop Mode</div>
				</div>
			</div>
			<div class="col col-18 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('modeDesc')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='modeDesc' && inverseOrder==true, 'descSort': fieldName=='modeDesc' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Mode Description</div>
				</div>
			</div>
			<div class="col col-12 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('repairLimit')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='repairLimit' && inverseOrder==true, 'descSort': fieldName=='repairLimit' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Suspend Limit</div>
				</div>
			</div>
			<div class="col col-18 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('materialLimit')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='materialLimit' && inverseOrder==true, 'descSort': fieldName=='materialLimit' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Suspend Material Limit</div>
				</div>
			</div>
			<div class="col col-15 disableNoWrap">
				<div class="modalFilter border04" ng-click="sortEntries('approveLimit')">
					<div class="filter-item filter-sort" ng-class="{ 'ascSort': fieldName=='approveLimit' && inverseOrder==true, 'descSort': fieldName=='approveLimit' && inverseOrder==false }"></div>
					<div class="filter-item filter-name greyColorDarker">Auto Approval Limit</div>
				</div>
			</div>
		</div>
	</ion-header-bar>

	<!-- table content -->
	<ion-content has-bouncing="false"
		class="contentTable addVisitScroll list-content"
		style="top: 12.1em !important;" scroll="false">
		<span ng-show="currentResults.length == 0" class="noResultsWrapperCodes">No data to display</span>
		<ion-list class="addVisitScrollWrapper list-ion">
			<ion-item
					collection-item-height="50" ng-repeat="code in currentResults"
					ng-click="" ng-class="" class="tr list-ionItem">
					<div class="row" ng-click="goToPageDetails(code, 'Shop Limits')">
						<!-- Manual Code -->
						<div class="col col-12 truncate">{{code.shopCode}}</div>
						<div class="col col-12 truncate">{{code.shopName}}</div>
						<div class="col col-12 truncate">{{code.mode}}</div>
						<div class="col col-18 truncate">{{code.modeDesc}}</div>
						<div class="col col-12 truncate">{{code.repairLimit}}</div>
						<div class="col col-18 truncate">{{code.materialLimit}}</div>
						<div class="col col-18 truncate">{{code.approveLimit}}</div>
						<span class="codesArrowDown">
                      		<i class="icon ion-ios-arrow-right grayFont"></i>
                  		</span>
					</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<custom-pagination config="config" update-results="changePageResults()"></custom-pagination>
</div>
