<div class="shop">
	<!-- row 1 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Shop Code:</b> {{detailedCode.code}}</span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>Shop Active:</b> {{detailedCode.active}}</span>
		</div>
	</div>

	<!-- row 2 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Shop Description:</b> {{detailedCode.name}}</span>
		</div>
	</div>

	<!-- row 3 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Shop Type:</b> {{detailedCode.shopeType}}</span>
		</div>
	</div>

	<!-- row 4 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Vendor Code:</b> {{detailedCode.vendorCode}}</span>
		</div>
	</div>

	<!-- row 5 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>GEO Location:</b>{{detailedCode.geoLoc}}</span>
		</div>
		<div class="col col-30"></div>
		<div class="col col-15">
			<span class="truncate"><b>Parts</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate"><b>Labor</b></span>
		</div>
	</div>

	<!-- row 6 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>RKRP Location:</b> {{detailedCode.rkrpLoc}}</span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>Container Sales Tax (%):</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.conSalesTaxParts}}</span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.conSalesTaxLabor}}</span>
		</div>
	</div>

	<!-- row 7 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Currency Code:</b> {{detailedCode.currCode}}</span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>Chassis / Genset Sales Tax (%):</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.genSalesTaxLabor}}</span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.genSalesTaxLabor}}</span>
		</div>
	</div>

	<!-- row 8 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Email Address:</b> {{detailedCode.email}}</span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>Import Tax:</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.importTax}}</span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.importTax}}</span>
		</div>
	</div>

	<!-- row 9 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Phone:</b> {{detailedCode.phone}}</span>
		</div>
	</div>

	<!-- row 10 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Link to Accounting:</b></span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>ACEP:</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.acep}}</span>
		</div>
	</div>

	<!-- row 11 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>RRIS70 Suffix Code:</b>{{detailedCode.rris70Code}}</span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>OT Suspended:</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.otSuspended}}</span>
		</div>
	</div>

	<!-- row 12 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Change User Name:</b> {{detailedCode.chUser}}</span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>Preparation Time:</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.prepTime}}</span>
		</div>
	</div>

	<!-- row 13 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Change Time:</b> {{detailedCode.chts}}</span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>Decentralized:</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.decentralized}}</span>
		</div>
	</div>

	<!-- row 14 -->
	<div class="row borderBottom">
		<div class="col col-40">
			<span class="truncate"><b>Bypass All Validations Except CPH Limits:</b> {{detailedCode.bypass}}</span>
		</div>
		<div class="col col-30">
			<span class="truncate"><b>Auto Complete:</b></span>
		</div>
		<div class="col col-15">
			<span class="truncate">{{detailedCode.autocomplete}}</span>
		</div>
	</div>

</div>
