<div data-grid class="gridWrapper clearBoth">
	<div class="kpiMainCls">
		<tabset  class="headKpi card">
			<tab class="item item-text-wrap paddingNone">
			<canvas id="line" colours="graph.colors" options="graph.someOptions" class="chart chart-line" chart-data="graph.data" chart-labels="graph.labels" chart-legend="false" chart-series="graph.popupData"></canvas>		
				<div class="blueBottomLine"></div>
			</tab>
		</tabset>
		<div class="failReasonsWrapper">
			<div class="reasonItem" ng-repeat="reason in graph.series">
				<div class="reasonLine" style="background:{{reason.code}}"></div><span>{{reason.name}}</span>
			</div>
		</div>
		<div class="mainKpi" >
			<div class="leftDownKpi kpiDetailsView">
				<div id="kpi1" class="circlePgrDiv" ng-click="addBackground1();setFilterStatus('all');statusFilter();graphChange()" >
					<div class="statusPgr">{{failledData.totalCount}}</div>
					<div round-progress max="failledData.totalCount" current="failledData.totalCount" color="#004e6b" bgcolor="#e9e9e9" radius="100" stroke="10" duration="1800" animation="easeInOutCubic"></div>
					<div style="padding-top: 2.2em!important;" class="PrgRightTxt">Inspections</div>
				</div>
				<div id="kpi3" class="circlePgrDiv" ng-click="addBackground3();setFilterStatus('rejected');statusFilter()" >
					<div class="statusPgr">{{failledData.failedCount}}</div>
					<div round-progress max="failledData.totalCount" current="failledData.failedCount" color="#b50030" bgcolor="#e9e9e9" radius="100" stroke="10" duration="1800" animation="easeInOutCubic"></div>
					<div class="PrgRightTxt">Rejected<br>Inspections</div>
				</div>
			</div>
			<div class="rightDownKpi" >
				<ion-header-bar style="height:3em!important; ">
					<div ng-click="ShopsOrderFunction ('depotName')" class="width50 paddingLeftS">WoNo.</div>
					<div ng-click="ShopsOrderFunction ('location')" class="width50 paddingLeftS">Audit Date</div>
				</ion-header-bar>
				
				
				<div ng-if="showLoader" style="height: 100%; width: 100%;display: table;">
					<div style="display:table-cell;width: 100%;height: 100%;vertical-align: middle;text-align: center;"> 
						<div class="ion-loading-c"></div>
						<div>LOADING</div>
					</div> 
				</div>
						
				<ion-content has-bouncing="true" style="bottom: 3em;">
				    <ion-list>
					    <div class="parentCollapsibleUpcom" ng-repeat= "wo in failedWONumbers | orderBy:'-AUDIT_DATE' ">
						    <ion-item ng-class="{activeAdd : group.visible}" class="dropItems" ng-click="viewHistory(wo.WO_ID)" >
						    	<div class="width50 paddingLeftS">{{wo.WO_ID}}</div>
						    	<div class="width50 paddingLeftS" style="padding-left:1.8em;">{{wo.AUDIT_DATE | date :  "mediumDate"  }}</div>
						    </ion-item>	
					    </div>
				    </ion-list>
			    </ion-content> 
			</div>
		</div>
	</div>
</div>