<div data-grid class="gridWrapper clearBoth">
	<div class="kpiMainCls kpiOverview">
		<tabset  class="headKpi card">
			<tab class="item item-text-wrap paddingNone">		
				<canvas id="line" colours="graph.colors" options="graph.someOptions" class="chart chart-line" chart-data="graph.data" chart-labels="graph.labels" chart-legend="false" chart-series="graph.series"></canvas> 
				<div class="blueBottomLine"></div>
			</tab>
		</tabset>
		<div class="mainKpi" >
			<div class="leftDownKpi">
				<div id="kpi1" class="circlePgrDiv" ng-click="addBackground1();setFilterStatus('all');statusFilter();graphChange()" >
					<div class="statusPgr">{{obj.totalCount}}</div>
					<div round-progress max="obj.totalCount" current="obj.totalCount" color="#004e6b" bgcolor="#e9e9e9" radius="100" stroke="10" duration="1800" animation="easeInOutCubic"></div>
					<div style="padding-top: 2.2em!important;" class="PrgRightTxt">Inspections</div>
				</div>
				<div id="kpi2" class="circlePgrDiv" ng-click="addBackground2();setFilterStatus('passed');statusFilter()" >
					<div class="statusPgr">{{obj.passedCount}}</div>
					<div round-progress max='obj.totalCount' current='obj.passedCount' color="#69b8d6" bgcolor="#e9e9e9" radius="100" stroke="10" duration="1800" animation="easeInOutCubic"></div>
					<div class="PrgRightTxt">Passed<br>Inspections</div>
				</div>
				<div id="kpi3" class="circlePgrDiv" ng-click="addBackground3();setFilterStatus('rejected');statusFilter()" >
					<div class="statusPgr">{{obj.rejectedCount}}</div>
					<div round-progress max='obj.totalCount' current='obj.rejectedCount' color="#b50030" bgcolor="#e9e9e9" radius="100" stroke="10" duration="1800" animation="easeInOutCubic"></div>
					<div class="PrgRightTxt">Rejected<br>Inspections</div>
				</div>
			</div>
			<div class="rightDownKpi" >
				<ion-header-bar style="height:3em!important;">
					<div ng-click="ShopsOrderFunction ('depotName')" class="width33 paddingLeftS">Depot</div>
					<div ng-click="ShopsOrderFunction ('location')" class="width33 paddingLeftS">Location</div>
					<div class="width33 paddingLeftS">Date</div>
				</ion-header-bar>
				<ion-content has-bouncing="false" style="bottom: 3em;">
				    <ion-list>
					    <div class="parentCollapsibleUpcom" ng-repeat= "depot in obj.shops | statusFilter : currentStatus | orderBy:defaultOrderTag:switchOrder">
						    <ion-item ng-class="{activeAdd : group.visible}" class="dropItems" ng-click="selectDepot(depot.json.SHOP_CD)">
						    	<div class="width33 paddingLeftS">{{depot.json.SHOP_CD}}</div>
						    	<div class="width33 paddingLeftS" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 33.3%;">{{depot.json.LOC_DESC}}</div>
						    	<div class="width33 paddingLeftS">NA</div>
						    </ion-item>
					    </div>
				    </ion-list>
			    </ion-content> 
			</div>
		</div>
	</div>
</div>