<div id='' class="modalWrapper modalHistoryNew kpiModal">
	<div class="modalContentWrapper colorBlack" ios-touchend="cancelIfBackDrop($event);">	
		<!-- notification modal -->		
		<div class="modalInner paddingNone" style="height:90%!important;">
 			<div class=" paddingBottomXXS font18 heightAuto">
				<div class="paddingM darkBlue font22 ">Work Order Parts
					<button ios-touchend="cancelMultiModal()" class="iconExit exitIcon2 "> </button>
				</div>					
				<div class="separator "></div>
				<ion-header-bar class="modalHistHeader">
					<div class="tr fontZSDB" style="margin-top:0px!important;">
						<div class="td">Pcs.</div><!-- {{messages.pcs}} -->
						<div class="td">Damage<br>Code</div><!-- {{messages.damageCode}} -->
						<div class="td">Repair<br>Code</div><!-- {{messages.repairCode}} -->
						<div class="td">Repair<br>Loc Code</div>	<!-- {{messages.repairLoc}} -->
						<div class="td">Description</div><!-- {{messages.description}} -->
						<div class="td">Spare Part<br>Number</div><!-- {{messages.sparePartNr}} -->
						<div class="td">Tpi</div><!-- {{messages.sparePartNr}} -->
					</div>	
				</ion-header-bar>
				<ion-content scrollbar-x="false" has-bouncing="false" class="has-header" delegate-handle="mainScroll" style="top: 7.2em !important;">
					<div style="margin-bottom:4em;">
						<ion-list class="dTb fullW" ng-repeat="item in modalParts">
							<form name="formObject.historyForm" novalidate>
								<div class="parentCollapsible">
									<ng-form name="componentsEntryForm">
										<ion-item class="dropItems" woMod = wo style="z-index: inherit;background: #fff !important; padding:0!important;">
				              				<div class="parentCollapsibleHistory dropItems displayTable">  		
									            <div class="dTb fullW" style="margin-top:0!important; table-layout: fixed!important;">
									            	<div class="tr">
								            			<div class="td">{{item.postPcsNumber || "N/A"}}</div> 
														<div class="td">{{item.postDamageCodeNumber || "N/A"}}</div>
														<div class="td">{{item.postRepairCodeNumber || "N/A"}}</div> 
														<div class="td">{{item.postRepairLocCodeNumber || "N/A"}}</div> 
														<div class="td">{{item.description || "N/A"}}</div> 
														<div class="td" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 14%;">{{item.postsparePartNumber || "N/A"}}</div> 
								            			<div class="td" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 12%;">{{item.postTpi || "N/A"}}</div> 
								            			<div class="iconEl" ng-click="item.$visible = !item.$visible; res();"  ng-class="{activeAdd : item.$visible}">
								            				<i class="ion-arrow-down-b"></i>
								            			</div>
								            		</div>
												</div>
											</div>
				          				</ion-item>
				          				<div class="collapsibleContent" ng-if="item.$visible">
					          				<ion-item class="collapseItems referContent" style="padding: 0 !important;">
												<div class="fullW headText">
								            		<div class="dTb fullW" style="margin-top:0!important; table-layout: fixed!important;">
														<div class="tr">
															<div class="td">{{item.prePcsNumber || "N/A"}}</div> 
															<div class="td">{{item.preDamageCodeNumber || "N/A"}}</div> 
															<div class="td">{{item.preRepairCodeNumber || "N/A"}}</div> 
															<div class="td">{{item.preRepairLocCodeNumber || "N/A"}}</div> 
															<div class="td">{{item.description || "N/A"}}</div> 
															<div class="td">{{item.preSparePartNumber || "N/A"}}</div> 
															<div class="td">{{item.preTpi || "N/A"}}</div> 
														</div>
													</div> 
										        </div>
											</ion-item>
										</div>
									</ng-form>
								</div>
							</form>
						</ion-list>
					</div>
				</ion-content>
			</div>
		</div>
	</div>
</div>
