<div class="bckgWhite full">
	<div class="calendarWrapper">
		<datepicker max-mode="day" data-ng-model="datePicker.date" show-weeks="false" class="datepickerSurveyWrapper" custom-class="getDayClass(date, mode)" starting-day="1"></datepicker>
	</div>
	<div class="datePickerPos" data-ng-show='false' data-ng-model="dateSelected">{{datePicker.date | date:'dd-MM-yyyy'}}</div>
</div>