<div data-grid class="swipeList pastVis">
	<ion-content id="vis" has-bouncing="false">
		<span ng-show="obj.pastVisitDates.length==0" class="noResultsWrapper" style="margin-top:0!important;">There are no past visits</span>
		<ion-list>
			<div class="swGroup" ng-repeat="date in obj.pastVisitDates track by $index">
				<div class="swHead">{{date | date: 'EEEE, MMMM d' }}<i>{{obj.pastVisits[date].length || 0}}</i></div>
				<ion-item class="swItem" ng-click="goToDepotDetails(visit.visitId, visit.status);" ng-repeat="visit in obj.pastVisits[date]">
          	 	  	<div class="statusBullet {{visit.status}}"></div>         	 	 	
          	 		<p class="width30">{{visit.shopDescription}}</p>
	          	 	<p class="width40">{{visit.description}}</p>
	          		<p class="width30" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 27%;">{{visit.location}}</p>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</div>