<div class="bckgWhite calendarDepot" ng-controller="DepotDetailsCtrl">
    <div class="posRel uppDepWrap">
        <div class="headMainUpcomeing ">
            <div class="depotProp">{{obj.repairShopDetails.description + " / " + obj.repairShopDetails.shopCode}}</div>
            <div style="position: absolute; right: 0; top: 0em;">
                <button ng-if="obj.inspectionStatus == 'Finished'" ng-disabled="disableUI" ng-click="previewPdf(obj.visitId, obj.inspectionStatus)"
                    style="position: relative; top: .65em; margin-right: .6em;" class="classicBtn"><i class="ion-clipboard" style="margin-right: .5em"></i>Generate PDF</button>
                <button id="buttonFinishStart" ng-class="{'disableButton' : (obj.action=='Missed visit' || obj.action=='Accepted' || obj.action=='Rejected' || obj.action=='Pending')}"
                    class="floatR  buttonFinishStart classicBtn" ng-click="completeVisit()" style="position: relative; margin: .65em 1em 0 0;">
					<i ng-class="{'ion-ios-play' : (obj.action=='Start visit'),'ion-stop' : (obj.action=='Finish visit' || obj.action=='Missed visit')}"></i>{{obj.action}}
				</button>
                <ionic-datepicker input-obj="datepickerObject" style="position: relative; float: right;">
                    <!-- <div class="dIB fontZSDB"><div class="dIB">{{datepickerObject.inputDate | date:'dd MMM yyyy'}}</div></div> -->
                    <div ng-hide="obj.inspectionStatus=='Started' || obj.inspectionStatus == 'Finished' || obj.inspectionStatus=='Pending' "
                        class="calendarButton" style="margin: 0 .6em 0 0;"></div>
                </ionic-datepicker>
            </div>
        </div>
        <p class="rowHeaderWrapper">
            <span ng-hide="obj.inspectionStatus == 'Pending' || obj.inspectionStatus == 'Finished' || obj.inspectionStatus == 'Missed'"
                style="color:#000; float:left;">Capture Container No.</span>
            <button ng-hide="obj.inspectionStatus == 'Pending' || obj.inspectionStatus == 'Finished' || obj.inspectionStatus == 'Missed'"
                class="cameraButton" style="float:left; margin-top: 0.5em;" ios-touchend="openOCR()"></button>
            <span ng-hide="obj.inspectionStatus == 'Pending' || obj.inspectionStatus == 'Finished' || obj.inspectionStatus == 'Missed'"
                style="color:#000; float:right; margin-right:3em;">Add Work Order(s)</span>
            <button ng-hide="obj.inspectionStatus == 'Pending' || obj.inspectionStatus == 'Finished' || obj.inspectionStatus == 'Missed'"
                ng-click="addContainersToVisit(true)" class="addContainerIcon buttonAdd"></button>
        </p>
    </div>
    <div class="downDepWrap">
        <ion-header-bar class="tableHeader">
            <div class="headText tableHeader fontZSDB">
                <div class="pListHead width14">Work Order No</div>
                <!-- {{messages.containerType}} -->
                <div class="pListHead width13">Repair Mode</div>
                <!-- {{messages.containerType}} -->
                <div class="pListHead width15">Container No.</div>
                <!-- {{messages.containerNo}} -->
                <div class="pListHead width14">Audit Status</div>
                <!-- {{messages.auditresult}} -->
                <div class="pListHead width14">Repair Cost</div>
                <!-- {{messages.repairCost}} -->
                <div class="pListHead width14">Date</div>
                <!-- {{messages.date}} -->
                <div class="pListHead width15">WO Status</div>
                <!-- {{messages.status}} -->
            </div>

        </ion-header-bar>
        <ion-content scrollbar-x="false" has-bouncing="false" direction="xy" class="has-header" delegate-handle="mainScroll">
            <div ng-if="requestTabOpen" style="margin-bottom: 4em;">
                <span ng-show="obj.workOrdersForAudit.length == 0 && obj.inspectionStatus == 'Pending'" class="noResultsWrapper">There were no inspected work orders for this visit.</span>
                <ion-list class=" dTb fullW startedVisit">
                    <ion-item ng-repeat="visit in obj.workOrdersForAudit" ng-click="goToUnitRefer(visit, visit.containerno, visit.auditstatus, visit.workorderid, true)">
                        <!-- {{request}} -->
                        <div class="alertYellowIcon" ng-show="visit.isECRW" ng-click="toastAcceptNotComplete(); $event.stopPropagation();"></div>
                        <div class="headText dTb">
                            <div class="pListHead dTbCell width14">{{visit.workorderid}}</div>
                            <div class="pListHead dTbCell width13">{{visit.mode}}</div>
                            <div class="pListHead dTbCell width15">{{visit.containerno}}</div>
                            <div style="position: relative" ng-class="{colorRed:visit.auditresult=='Rejected',colorGreen:visit.auditresult=='Accepted'}"
                                class="pListHead dTbCell width14 ">
                                <div>{{visit.auditresult||"Pending"}}</div>
                                <div ng-if="obj.inspectionStatus == 'Finished' " ng-click="onStatusIconClick(visit);$event.stopPropagation();" ng-class="{acceptedIcon: visit.mercstatus == 'SUCCESS', rejectedIcon: visit.mercstatus == 'FAILED'}"
                                    class="iconStatus inProgressIcon enable-pointer-events"></div>
                            </div>

                            <div class="pListHead dTbCell width14">{{"USD " + parseFloat(visit.repaircost)}}
                            </div>
                            <div class="pListHead dTbCell width14">{{visit.repairdate}}</div>
                            <div class="pListHead dTbCell width16 next" style="max-width: 10px; white-space: nowrap; text-overflow: ellipsis; padding-right:1.3em!Important; overflow: hidden;">{{visit.statuscode > 390 ? "Post - Repair" : visit.wostatus}}</div>
                            <ion-option-button ng-class="{ 'bckgGrey' :( (obj.inspectionStatus=='Missed') || (obj.inspectionStatus=='Finished') || (visit.auditresult == 'Accepted') || (visit.auditresult == 'Rejected'))}"
                                ng-click="removeRequestEntry(visit.workorderid, visit.auditresult);" class="itemOptBtnR button">Remove</ion-option-button>
                            <!--<ion-option-button ng-click="showHistory(visit.containerno)" class="itemOptBtnH">History</ion-option-button>-->
                            <ion-option-button ng-click="showVisitDetails(visit.containerno,visit.workorderid,'history'); $event.stopPropagation();"
                                class="itemOptBtnH button">History</ion-option-button>
                            <ion-option-button ng-click="showVisitDetails(visit.containerno,visit.workorderid,'remarks'); $event.stopPropagation();"
                                class="removeButton button">Remarks</ion-option-button>
                            <!-- {{messages.history}} -->
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </div>
</div>