<div class="headMainUpcomeing blueColor">
	<div class="wrapTog">
		<div class="radiusToggle">

			<div class="butonToggleCal dTbCell" ng-click="isVisitStarted && ((screen === 'started') || setView('started')); "
			ng-class="{ 'blueActive': screen === 'started', 'blueColor' : screen != 'started' && isVisitStarted, 'grayFont' : !isVisitStarted }" style="border-right: 1px solid #69b8d6;" >Started Visit</div>
			<div class="butonToggleCal dTbCell" ng-click="setView('upcoming'); " ng-class="screen === 'upcoming'? 'blueActive' : 'blueColor'" style="border-right: 1px solid #69b8d6; border-bottom: none; border-top: none;" >Upcoming Visits{{messages.week}}</div>
			<div class="butonToggleCal dTbCell" ng-click="setView('past'); " ng-class="screen === 'past'? 'blueActive' : 'blueColor'" style="border-right: 1px solid #69b8d6;" >Past Visits </div>
			<div class="butonToggleCal dTbCell" ng-click="setView('missed'); " ng-class="screen === 'missed'? 'blueActive' : 'blueColor'">Missed Visits </div>

		</div>
		<div  id="toggleCalView" ng-click="togleStatus=!togleStatus; changeView(togleStatus);  " ng-model="togleStatus"  toggle-class="toggle-calm">Calendar View
			<div class="toggleGrayBig" ng-class="togleStatus ? 'blueBackTog':''">
				<span class="toggleBullet" ng-class="togleStatus? 'rightAlign':''"></span>
			</div>
		</div>

	</div>
</div>
<div ng-switch="screenSelected()" class="surveyWrapper"  id="surveyWrapper" ng-class="{ 'fullScreenSurvey': togleStatusForFull, 'smallerScreenSurvey' : !togleStatusForFull, 'fadeIn' : !togleStatus }">
	<div ng-switch-when="month" class="surveyInnerWrapper"><div class="surveyMonthView" ng-class="{'fadeIn':togleStatus}" ng-include="'templates/survey/monthView.html'"></div></div>
	<div ng-switch-when="upcoming"  class="surveyInnerWrapper"><div class="surveyUpcoming" ng-include="'templates/survey/upcomingVisitsView.html'"></div></div>
	<div ng-switch-when="missed" class="surveyInnerWrapper"><div class="surveyMissed" ng-include="'templates/survey/missedVisitsView.html'"></div></div>
	<div ng-switch-when="past" class="surveyInnerWrapper"><div class="surveyUpcoming" ng-include="'templates/survey/pastVisitsView.html'"></div></div>
	<div ng-switch-when="started" class="surveyInnerWrapper pdfWrapper"><div ng-include="'templates/survey/startedVisitsView.html'" class="pdfWrapperInner"></div></div>
	<div ng-switch-default  class="surveyInnerWrapper"><div class="surveyUpcoming" ng-include="'templates/survey/upcomingVisitsView.html'"></div></div>
</div>
