<div data-grid class="swipeList">
	<ion-content id="vis" has-bouncing="false">
		<span ng-show="obj.upcomingVisitDates.length==0" class="noResultsWrapper" style="margin-top:0!important;">There are no upcoming visits</span>
		<ion-list>
			<div class="swGroup" ng-repeat="date in obj.upcomingVisitDates track by $index">
				<div class="swHead">{{date | date: 'EEEE, MMMM d' }}<i>{{obj.upcomingVisits[date].length || 0}}</i></div>
				<ion-item class="swItem" ng-click="goToDepotDetails(visit.visitId, visit.status);" ng-repeat="visit in obj.upcomingVisits[date]">
          	 	 	<p class="width30">{{visit.shopDescription}}</p>
	          	 	<p class="width40">{{visit.description}}</p>
	          		<p class="width30" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 27%;">{{visit.location}}</p>
	          	 	<ion-option-button ng-click="confirmCancelVisit(visit.visitId)" class="removeButton">Remove</ion-option-button><!-- {{messages.remove}} -->
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</div>