<div class="tooltip" id="tooltipContent">
	<span class="toolTipArrow"></span>
	<div ng-if="selectedDayVisits" ng-class="{'pastDate':(toolTipAddVisit===false)}" class="displayTable fullW tooltipInnerContent">
		<div ng-if="selectedDayVisits.length > 0" ng-cloack>
			<div ng-if="selectedDayVisits.length > 0" class="borderBottomLightGrey toolTipHeader toolTipElem">
				<div class="dTbCell blueColor">Name</div>
				<div class="dTbCell blueColor">Location</div>
			</div>
			<ion-scroll direction="y" has-bouncing="true" class="tooltipScroll">
				<div class="borderBottomLightGrey toolTipElem" ng-repeat="visit in selectedDayVisits" ng-click="goToDepotDetails(visit.visitId, visit.auditStatus)">
					<div class="dTbCell">{{visit.shopDescription}}</div>
					<div class="dTbCell">{{visit.locationInfo}}</div>
				</div>
			</ion-scroll>
		</div>
		<div ng-if="visitsMessage!==false" class="noVisitsWrapper" ng-cloack>{{visitsMessage}}</div>
	</div>
	<button ng-if="toolTipAddVisit" class="toolTipButton" ng-click="goToPlanVisit(selectedDate);">Add new visit</button>
</div>