<div class="fullW">
	<!--<div class="addVisitSegmentedControl">
		  <div class="segmentedControlButtonsContainer">
			<button ng-click="setMyWorkOrders()" class="whiteBtn segmentedControlButtons myWorkOrdersButton" style="border-color: #69b8d6;" ng-class="{'whiteBtnActive' : myWorkOrders}">My Work Orders</button>
			<button ng-click="setAllWorkOrders()" class="whiteBtn segmentedControlButtons allWorkOrdersButton" ng-class="{'whiteBtnActive' : !myWorkOrders}">All Work Orders</button>
		</div>
	</div>-->
    <div class="addSearchDiv">
        <label for="shopSearch" class="labelShopSearch"></label>
        <div class="divInput iconSearchLeft addVisSearchBox">
            <form class="addFormProp" style="height: 1.6em; margin: .3em 0 0 0;">
                <input id="shopSearch" autocapitalize="off" autocorrect="off" autocomplete="off" ng-model-options="{ debounce: 1000 }" required placeholder="Search for containers that are currently in the selected shop" type="text" ng-model="paginationSearch"  class="width90 search-box dispInBl" style="width:89%; line-height: 1.6em !important;" name="container">
            </form>
            <button ng-show="paginationSearch" ng-hide="!paginationSearch" class="close-icon" ios-touchend="clearSearch()" style="top: 3px; width: 110px;right: 1px; height:30px;"></button>

        </div>
        <button ng-click="openOCR()" class="classicBtn" style="position: relative; top: .5em; text-align: left; float: left; margin-left: 0.5em; width: 22%; right: 0.4em;">Capture Container No. <span class="cameraWhiteButton"></span> </button>
        <button ng-click="refreshResults()" class="ion-refresh classicBtn" style="top: .5em; position: relative; float: left; margin-right: 0.3em;"></button>
        <button ng-click="cacheResults()" style="position: relative; float: left; margin-left: 0.5em; width: 14%; right: 0.4em;" class="bookVisitBtn classicBtn">Cache results</button>
        <button ng-click="confirmSelections()" ng-disabled="isActionInProgress" style="position: relative; float: right; margin-left: 0.3em; width: 14%;" id="bookVisit" class="bookVisitBtn classicBtn">{{buttonLabel}}</button>
    </div>
    <label for="repairModeId" style="position: absolute; top: 3.6em; width: 5.4%; height: 8%; left: 31.1%; z-index: 1000;"></label>
    <label for="statusId" style="position: absolute; top: 3.6em; left: 39.5%; height: 8%; width: 19.4%; z-index: 1001;"></label>
    <ion-header-bar no-tap-scroll=true class="displayTable">
        <div class="filtersWrapper">
            <div class="filterItem" ng-click="sortEntries('workOrderId')" style="width: 14%!important;">
                <div class="headLstVis filterSorting" ng-class="{'ascSort': sortingOptions.fieldName=='workOrderId' && sortingOptions.ascending==false, 'descSort': sortingOptions.fieldName=='workOrderId' && sortingOptions.ascending==true}">
                </div>
                <div class="dropdownClusterWrapper filterDropdown" style="width: 83%">
                    <div class="divInputUserSet fontZSDB greyColorDarker paddingToBot">Work Order No
                    </div>
                </div>
            </div>
            <div class="filterItem" ng-click="sortEntries('containerNo')" style="width: 13% !important;">
                <div class="headLstVis filterSorting" ng-class="{'ascSort': sortingOptions.fieldName=='containerNo' && sortingOptions.ascending==false, 'descSort': sortingOptions.fieldName=='containerNo' && sortingOptions.ascending==true}"></div>
                <div class="dropdownClusterWrapper filterDropdown" style="width: 82%;">
                    <div class="divInputUserSet fontZSDB greyColorDarker paddingToBot">Container No</div>
                </div>
            </div>
            <div class="filterItem " style="width: 8%!important;" click-off="hideDropMode = false">
                <div class="headLstVis filterSorting" ng-click="sortEntries('repairMode')" ng-class="{'activeBorder' : hideDropMode, 'ascSort': sortingOptions.fieldName=='repairMode' && sortingOptions.ascending==false, 'descSort': sortingOptions.fieldName=='repairMode' && sortingOptions.ascending==true}"></div>
                <div ng-click="hideDropMode = !hideDropMode; hideDropStatus = false; hideDropGate = false;" ng-class="{activeBorderRight : hideDropMode}" class="filterDropdown dropdownClusterWrapper" style="position:absolute; width: 70%;">
                    <div class="divInputUserSet fontZSDB greyColorDarker paddingToBot">{{preFilterSettings.mode ||"Mode"}}</div>
                </div>
                <form  class="visitInputWrapp">
                    <input id="repairModeId" ng-focus="hideDropMode=true;hideDropStatus = false; hideDropGate=false;"  ng-class="{fullOpacity : hideDropMode}" class="searchModeInput" type="text" ng-model="searchMode" placeholder="Search Mode">
                </form>

                <div ng-show="hideDropMode" class="dropVisitSelect small">
                    <div class="dropContentWrap">
                        <ion-content style="height:100%">
                            <div ng-click="changeMode(null);" class="visitItemDrop">All</div>
                            <div ng-repeat="item in modeValues |filter: searchMode" ng-click="changeMode(item.mode);" class="visitItemDrop">{{item.mode}}</div>
                        </ion-content>
                    </div>
                </div>
            </div>
            <div class="filterItem" click-off="hideDropStatus = false" style="width:22%!important;">
                <div class="headLstVis filterSorting" ng-click="sortEntries('status')" ng-class="{'activeBorder' : hideDropMode, 'ascSort': sortingOptions.fieldName=='status' && sortingOptions.ascending==false, 'descSort': sortingOptions.fieldName=='status' && sortingOptions.ascending==true}"></div>
                <div ng-click="hideDropStatus = !hideDropStatus; hideDropMode = false; hideDropGate = false;"  ng-class="{activeBorderRight : hideDropStatus}" class="filterDropdown dropdownClusterWrapper" style="position:absolute;width: 89.5% !important;">
                    <div class="divInputUserSet fontZSDB greyColorDarker paddingToBot">{{preFilterSettings.status||"Status"}}</div>
                </div>
                <form class="visitInputWrapp">
                    <input id="statusId"  ng-focus="hideDropStatus=true; hideDropMode=false; hideDropGate=false;" ng-class="{fullOpacity : hideDropStatus}"  class="searchModeInput" type="text" ng-model="searchStatus" placeholder="Search Status">
                </form>
                <div ng-show="hideDropStatus" class="dropVisitSelect">
                    <div class="dropContentWrap">
                        <ion-content style="height:100%">
                            <div ng-click="changeStatus(null); $event.stopPropagation();"  class="visitItemDrop" >All</div>
                            <div ng-repeat="item in statusValues |orderBy:'status'|filter:searchStatus" ng-click="changeStatus(item.status); $event.stopPropagation();" class="visitItemDrop">{{item.status}}</div>
                        </ion-content>
                    </div>
                </div>
            </div>
            <div class="filterItem" ng-click="sortEntries('repairCost')" style="width: 12% !important;">
                <div class="headLstVis filterSorting" ng-class="{'ascSort': sortingOptions.fieldName=='repairCost' && sortingOptions.ascending==false, 'descSort': sortingOptions.fieldName=='repairCost' && sortingOptions.ascending==true}"></div>
                <div class="filterDropdown dropdownClusterWrapper" style="position:absolute; width: 80%;">
                    <div class="divInputUserSet fontZSDB greyColorDarker paddingToBot">Repair Cost</div>
                </div>
            </div>

            <div class="filterItem" ng-click="sortEntries('reapirDateTimeStamp')" style="width: 12%!important;">
                <div class="headLstVis filterSorting" ng-class="{'ascSort': sortingOptions.fieldName=='reapirDateTimeStamp' && sortingOptions.ascending==false, 'descSort': sortingOptions.fieldName=='reapirDateTimeStamp' && sortingOptions.ascending==true}"></div>
                <div class="filterDropdown dropdownClusterWrapper" style="position:absolute; width: 80%!important;">
                    <div class="divInputUserSet fontZSDB greyColorDarker paddingToBot">Repair Date</div>
                </div>
            </div>
            <div class="filterItem" click-off="hideDropGate = false">
                <div class="headLstVis filterSorting" ng-click="sortEntries('gateInDateTimeStamp')" ng-class="{'ascSort': sortingOptions.fieldName=='gateInDateTimeStamp' && sortingOptions.ascending==false, 'descSort': sortingOptions.fieldName=='gateInDateTimeStamp' && sortingOptions.ascending==true}"></div>
                <div ng-click="hideDropGate = hideDropGate; hideDropMode = false; hideDropStatus = false;" ng-class="{activeBorderRight : hideDropGate}"  class="filterDropdown dropdownClusterWrapper" style="position:absolute;">
                    <div class="divInputUserSet fontZSDB greyColorDarker paddingToBot">{{preFilterSettings.gate && preFilterSettings.gate.label || "Days since Gate in"}}</div>
                </div>

                <form class="visitInputWrapp">
                    <input id="gateId" ng-focus="hideDropGate = true; hideDropStatus=false; hideDropMode=false" ng-class="{fullOpacity : hideDropGate}"  class="searchModeInput" type="text" ng-model="gateIn" placeholder="...since Gate in">
                </form>
                <div ng-show="hideDropGate" class="dropVisitSelect">
                    <div class="dropContentWrap">
                        <ion-content style="height:100%">
                            <div ng-click="changeGateInDate(null); $event.stopPropagation();"  class="visitItemDrop" >All</div>
                            <div ng-repeat="item in gateInValues |orderBy:'label'|filter:gateIn" ng-click="changeGateInDate(item); $event.stopPropagation();" class="visitItemDrop">{{item.label}}</div>
                        </ion-content>
                    </div>
                </div>

            </div>
        </div>
    </ion-header-bar>
    <ion-content id="addVisitScroll" has-bouncing="false" class="has-header contentTable addVisitScroll" delegate-handle="paginationScroll">
        <span ng-show="currentResults.length == 0" class="noResultsWrapper">No work orders found</span>
        <ion-list class="displayTable addVisitScrollWrapper">
            <ion-item collection-item-height="50" ng-click="selectRow(entry); $event.stoppropagation()" ng-class="{bckgGrey : entry.locked == 1, bckgLightOrange : entry.locked == 2, orangeWOpacity : entry.selected}" ng-repeat="entry in currentResults" class="tr">
                <div class="td" style="width: 15%;">{{entry.workOrderId}}</div>
                <div class="td" style="padding-left: 1.8em;">{{entry.containerNo}}</div>
                <div class="td" style="padding-left: 0.5em; width: 6%;">{{entry.repairMode ? entry.repairMode : "N/A"}}</div>
                <div class="td" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:22%!important; padding-left:1.9em!important;">{{entry.status}}</div>
                <div class="td" style="padding-left: 2em; width: 12.5%;">USD {{entry.displayRepairCost ? entry.displayRepairCost : 0 }}</div>
                <div class="td" style="padding-left: 2em; width: 12.5%;">
                    <div class="dateVisit">{{entry.repairDate}}</div>
                </div>
                <div class="td" style="padding-left: 2em; width: 16.4%;">
              		<div class="dateVisit">{{entry.daysSinceGateIn}} {{(entry.daysSinceGateIn == 1) ? "day" : "days"}}</div>
                	<ion-option-button ng-click="showHistory(entry.containerNo,entry.workOrderId); $event.stopPropagation();" class="itemOptBtnH button">History</ion-option-button>
                	<ion-option-button ng-click="showRemarks(entry.containerNo,entry.workOrderId); $event.stopPropagation();" class="removeButton button">Remarks</ion-option-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="outer-pagination">
        <ul class="pagination">
            <li ng-repeat="button in paginationButtons">
                <a href="" ng-click="!button.disabled && setCurrentPage(button.page)" ng-class="{selected : button.text == currentPage, disabled : button.disabled}">{{button.text}}</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
