 <div class="outer-pagination">
     <ul class="pagination">
         <li ng-repeat="button in paginationButtons">
             <a href="" ng-click="!button.disabled && setCurrentPage(button.page)" ng-class="{selected : button.text == currentPage, disabled : button.disabled}">{{button.text}}</a>
         </li>
     </ul>
 </div>