<div class="codeListContainer">
    <ion-list>
        <ion-item ng-repeat="screen in codeScreens" >
            <div class="codeScreenItem" ios-touchend='goToCodeScreen(screen, $index);' 
                  ng-class="{ 'holdCode' : selectedCodeScreen===$index, 'notHoldCode' : selectedCodeScreen!==$index }">{{screen}}
                  <!--  <span class="grayFont" ng-show='showAdditionalMessage(screen)'> (Coming soon)</span> -->
                  <span class="codesArrowForward">
                      <i class="icon ion-ios-arrow-right grayFont"></i>
                  </span></div>
        </ion-item>
    </ion-list>
</div>
