<div class="manualsWrapper">
	<div class="addSearchDiv">
		<label for="manualInput" style="position: absolute;top: 0;left: 0;width: 100%;height: 3.7em;"></label>
		<div class="divInput iconSearchLeft fullW addVisSearchBox" style="width:98.5%!important;">
			<form class="addFormProp">
				<input id="manualInput" my-enter="keyboardEnter($event)" required class="width925 search-box dispInBl" 
					 name="manual" type="text" placeholder="Search for manuals" ng-model="code.search2"
					ng-keypress="limitSearchInput($event, code.search2, 50)">
				<button ng-if="code.search2.length>0" id="closeButton" class="close-icon" ios-touchend="resetSearch2()"></button>
			</form>
		</div>
	</div>
	<div class="displayTable full">
		<div class="dTbRow tableHeader fullW">
			<div class=" dTbCell middleCenter width9 "></div>
			<div ng-click="orderManuals('title')" ng-class="{'ascSortBlue': delaultManual=='title' && inverseOrder==true, 'descSortBlue': delaultManual=='title' && inverseOrder==false}"class="dTbCell middleCenter width40 headLstVis"> Manual Name</div>
			<div ng-click="orderManuals('addedDate')" ng-class="{'ascSortBlue': delaultManual=='addedDate' && inverseOrder==true, 'descSortBlue': delaultManual=='addedDate' && inverseOrder==false}"class="dTbCell middleCenter width25 headLstVis">Date Added</div>
			<div ng-click="orderManuals('language')" ng-class="{'ascSortBlue': delaultManual=='language' && inverseOrder==true, 'descSortBlue': delaultManual=='language' && inverseOrder==false}"class="dTbCell middleCenter width25 headLstVis">Language</div>
		</div>
	</div>
	<div class="displayTable full">
		<div class="dTbRow fullW">
			<div class="dTbCell ovrflw fullH fullW">
				<ion-content class="manScroll fullW" id="content" delegate-handle="manualsScroll" overflow="hidden" direction="y" style="top: 5.5em !important;">
					<div ng-click="viewPdf(manual.serverPath,$index)" ng-repeat="manual in filterHelp.filterManuals=(obj.manuals | filter : code.search2 |multiSearch:searchFieldsFilter:code.search2 | orderBy:delaultManual:inverseOrder)" class="borderBottomBlue manualLine fullW lineHeightL">
						<div  ng-class="'pdf_file'"class="dispInBl manualsPad  width9 "></div>
						<div class="dispInBl manualsPad  width40">{{manual.title}}</div>
						<div class="dispInBl manualsPad  width25">{{manual.addedDate | date:'dd MMM, yyyy'}}</div>
						<div class="dispInBl manualsPad  width25">{{manual.language}}</div>
					</div>
				</ion-content>
			</div>
		</div>
	</div>
</div>
