<div id='' class="modalWrapper codesModal" ng-controller="ManualsController">
	<div class="modalContentWrapper colorBlack">
		<div class="modalInner paddingNone">
			<!-- header -->
			<div class="title">
			  <span class="font20" ng-class="{'grayFont' : obj == breadcrumbsArray[breadcrumbsArray.length - 1] , 'maerskBlueColor' : obj != breadcrumbsArray[breadcrumbsArray.length - 1]}" ng-repeat="obj in breadcrumbsArray" ng-click="callBreadcrumbFunction(obj);" >
				  {{obj.title}}
				  	<span class="font20 grayFont" ng-hide="obj == breadcrumbsArray[breadcrumbsArray.length - 1]"> > </span>
			  </span>
			</div>
			<div class="exitIconCM" ios-touchend="cancelMultiModal(); preserveStateAfterClose();"></div>
			<!-- header -->
				<div class="manualsWrapper">
					<!-- nav buttons -->
					<div class="addVisitSegmentedControl" style="border-bottom: 1px solid #69b8d6;">
						<div class="segmentedControlButtonsContainer">
							<button
								class="whiteBtn1 segmentedControlButtons leftRadius"
								ng-class="{'blueButton' : manualsView}"
								ng-click="manualsView = true;changeView(manualsView)">Manuals
								</button>
							<button
								class="whiteBtn1 segmentedControlButtons rightRadius"
								ng-class="{'blueButton' : !manualsView}"
								ng-click="manualsView = false;changeView(manualsView)">MERC+ Codes
								</button>
						</div>
					</div>
					<!-- !nav buttons -->

					<!-- render view -->
					<div ng-include src="sysInfoModalView"></div>
					<!-- !render view -->
				</div>
		</div>
	</div>
</div>