<div class="addPhotoWrapper">
	<div class="floatL">
		<img ng-src='{{item.photo}}' class="imgProp">
		<div class="dateTimeProp">Time: hh:mm</div> <!-- {{messages.time}} -->
		<div class="dateTimeProp">Date: dd-mm-yyyy</div> <!-- {{messages.date}} -->
	</div>
	<div class="rightSide">
	<button class="sendEmailBtn" ng-click='sendToEmail()'>Send to email</button>
		<div class="labelProp">Free Text</div><!-- {{messages.freeText}} -->
		<div class="divTextAreaProp">
			<textarea class="textareaProp"></textarea>
		</div>
		<div>
			<div class="labelProp tagWrap">Tags</div><!-- {{messages.tags}} -->
			<div class="addPhotoIc" ng-click='addTag()'></div>
		</div>
		<div class="tagsDivProp">
			<div ng-show='tags.length==0'>No tags added</div>
			<div ng-repeat ='item in tags' class="tagProp "><div class='removeTag'></div>{{item.value}}</div>
		</div>
		<div class="labelProp">Send to</div> <!-- {{messages.sendTo}} -->
		<div class="dropdownDiv dropDownArrow">Category List</div><!-- {{messages.findingList}} -->
		<button class="submitBtn" ng-click='submitPhoto()'>Save</button><!-- {{messages.submitButton}} -->
	</div>
</div>