.ionic_datepicker .selected_date_full {
  color: #004e6b;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

.ionic_datepicker .color_blue {
  color: #004e6b;
}

.ionic_datepicker .bg_color_blue {
  background-color: #004e6b;
}

.ionic_datepicker .date_col:hover {
  background-color: rgba(56, 126, 245, 0.5);
  cursor: pointer;
}

.ionic_datepicker .date_col:active {
  background-color: rgba(56, 126, 245, 1);
  cursor: pointer;
}

.ionic_datepicker .no_padding {
  padding: 0;
}

.ionic_datepicker .date_cell {
  padding: 5px;
}

.ionic_datepicker .date_selected {
  background-color: #004e6b;
  color:#fff;
}

.ionic_datepicker .today {
  background-color: rgba(186, 186, 186, 1);
}

.ionic_datepicker .pointer_events_none {
  pointer-events: none !important;
  color: #AAAAAA;
}

.ionic_datepicker .select_section {
  padding: 0;
}

.ionic_datepicker .select_section label {
  padding: 12px;
}

.ionic_datepicker .select_section select {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  direction: ltr;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.ionic_datepicker .select_section .item-select:after {
  right: 4px;
  border-top: 4px solid;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}

.ionic_datepicker .left_arrow {
  direction: rtl;
}

.ionic_datepicker .right_arrow {

}
.ionic_datepicker_modal_content .ionic_datepicker .selected_date_full {
  font-size: 20px;
}
.ionic_datepicker .font_22px {
  font-size: 22px;
}
.ionic_datepicker_modal_content {
  padding-top: 10%;
}
.ionic_datepicker_modal_content .ionic_datepicker .selected_date_full{
  padding: 20px;
}
.ionic_datepicker .cal-button {
    padding: 0px !important;
    font-size: 14px !important;
}
.picker-body {
    height: inherit;
}

.picker-body .popup-body {
    overflow: inherit !important;
}
@media (min-width: 680px) {
  .ionic_datepicker_modal_content {
    padding-top: 0;
  }
  .ionic_datepicker_modal_content .ionic_datepicker .selected_date_full {
    font-size: inherit;
  }
  .ionic_datepicker_modal_content .ionic_datepicker .selected_date_full{
    padding: 10px 0 0 0;
  }
}

.calendar_grid .row:first-child .col		{ text-align:center; }