/* Font family definitions */
	@font-face { font-family: 'Roboto-Black'; src: url('../fonts/Roboto-Black.ttf') format('truetype'); font-weight: normal; font-style: normal; }
	@font-face { font-family: 'Roboto-Bold'; src: url('../fonts/Roboto-Bold.ttf') format('truetype'); font-weight: normal; font-style: normal; }
	@font-face { font-family: 'Roboto-Light'; src: url('../fonts/Roboto-Light.ttf') format('truetype'); font-weight: normal; font-style: normal; }
	@font-face { font-family: 'Roboto-Medium'; src: url('../fonts/Roboto-Medium.ttf') format('truetype'); font-weight: normal; font-style: normal; }
	@font-face { font-family: 'Roboto-Regular'; src: url('../fonts/Roboto-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
	@font-face { font-family: 'Roboto-Thin'; src: url('../fonts/Roboto-Thin.ttf') format('truetype'); font-weight: normal; font-style: normal; }

.pdfKpi,
.inspectionTypeHeader,
.inspectionTypeHeader2,
.dTbCell				{ font-size:11px!important;}

/* set fonts */
.inspectionTypeHeader   { font-family: 'Roboto-Black'; font-weight: normal!important;}
.headText   			{ font-family: 'Roboto-Regular'; font-weight: normal!important;}
.inspectionTypeHeader2  { font-family: 'Roboto-Medium'; font-weight: normal!important;}
.whiteBg				{ font-family: 'Roboto-Light'; font-weight: normal!important;}
.dTbCellPdf				{ font-family: 'Roboto-Light'; font-weight: normal!important;}

.dTb					{ border-collapse: collapse;}
.dTbCell                { width:5%!important; padding-left:0!important;}
.headLabels .dTbCell	{ line-height:13px!important; padding-top:3px; padding-bottom:3px;}
.header					{ height: 4.5em; border-bottom: solid 1px #999; }
.header .maerskLogo		{ background: url(../images/svg/maersk_logo.svg) no-repeat scroll left center/ 6.75em 1.5em; width:50%; height: 4.5em; display: inline-block; } 
.header .rightSide		{ display: inline-block; height: 4em; line-height: 4em; float: right;font-size: 12px;  }
.ovrfv					{ overflow:visible; }
.pdfBottomBorder		{ border-bottom: 1px solid #e9e9e9!important; }
.report                 { line-height: 4em; height: 2em;}
.dateTime               { height: 2em; color: #666;  line-height: 2.7em; text-align: right;}
.fontHeader             { font-size : 12px; font-family: 'Roboto-Black';}
.leftSpan               { float : left;   font-weight: 500; font-family: 'Roboto-Bold';}
.rightSpan              { float : right;  font-weight: 500; font-family: 'Roboto-Bold';}
.centerSpan             { font-weight: 500; font-family: 'Roboto-Bold';}
.totalWO                { float: left; color: #666 !important;}
.notStartedWO           { float: right; color: #666 !important;}
.rejectedWOHeader       { padding: 0 4em 0 4em; position: relative;}
.rejectedWOCell         { padding-right: 2em!important; width: 11em!important;}
.doubleBorder           { border-top: 1px solid #69b8e9!important;}
.contRepairAvg          { float: right; color: black!important;  padding-right: 10px; text-align: right; font-family: 'Roboto-Black';}
.missingQScores         { float: right; color: #b50030!important;  padding-right: 10px; text-align: right; font-family: 'Roboto-Black';}
.tableContainer         { padding: 0 15em 0 4em; border-bottom: 1px solid #69b8e9; }
.boldFont               { font-family: 'Roboto-Black';}
.boldFontB               { color:#000!important; font-family: 'Roboto-Black';}
.descriptionContainer   { width: 100%; height: 2em; overflow: hidden; display: table-row; white-space: nowrap; line-height: 2em;}
.repairQ                { float: right; color: black!important; text-align: right; padding-right: 10px;}
.partColor              { color : #666;} 
.reportDateTime         { margin:0 auto;} 
.descSP					{ font-family: 'Roboto-Light'; font-weight: normal!important; color:#000!important;}      

.dTbCellPdf             { line-height: 13px!important; padding-top: 6px; padding-bottom: 6px; font-size: 11px!important; display: table-cell;}
.pcsLabelSize           { width: 5%; }
.dmgCodeLabelSize       { width: 14%; }
.tipLabelSize           { width: 10%; }
.repCodLabelSize        { width: 13%; }
.repLocCodLabelSize     { width: 15%; }
.sparPrtLabelSize       { width: 15%; }
.newTextSpan            { margin:0 auto; padding-left:1em; color: #b50030!important;}
/* .dTbRow.tHead.tbElem:first-child { border-top: 2px solid #69b8e9!important; } */
.comment 				{ border: 2px 0 solid #69b8e9!important; display:block; overflow:auto;}
.padTB					{ height: 3em!important; line-height: 3em!important;}
.corrected 				{ text-decoration: line-through; }
.postModified			{ color: green; }


.footerCont					{ height: 5em; bottom: 0;font-family: 'Roboto-Regular'; font-size:11px;}
.footerCont > .leftSideContainer { display: inline-block; height: 100%; float: left; width: 50%; }
.footerCont > .rightSideContainer     {display: inline-block; height: 100%; float: left; width: 50%;}
.footerCont > .rightSideContainer > .rightFooterInfo { float:right;}