<div class="full bckgBlue" id="loginScreen">
<div style="height:100%"   >
	<div class="dTb full" id='loginSroll'>
		<div class="dTbRow">
			<div class="dTbCell middleCenter">
				<div class="loginWrapper">
					<div class="loginLogo"></div>
					<div class="authResponseWrapper" ng-show="initFailed && mdmInfoReceived">
						<div class="colorRed">{{failMessage}}</div>
					</div>
					<div class="authResponseWrapper" ng-show="!initFailed && mdmInfoReceived">
						<div class="inputwrapper">
							<input class="inputProp" ng-disabled="true" ng-model="user.userName" type="text" placeholder=" Username"> 				
						</div>
						<div class="inputwrapper posRel">
							<form class="formWrapper">
								<label class="certificateLabel" for="certificateId">
									<input class="inputProp" ng-model="user.certificateId" type="text" id="certificateId" placeholder=" Username"
                                       autocomplete="off" autocorrect="off" autocapitalize="none">
								</label>
                            </form>
						</div>
						<div style="margin-top: .5em;"> 
							<button class="loginBtn fontZSB needsclick" ng-click="login()">Login</button> 
						</div>
						<div ng-show="loginFailed" style="margin-top: .5em;" class="colorRed">{{failMessage}}</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="buildno-div linkProp">{{buildNo}}</div>
</div>
