<div id='' class="modalWrapper">
	<div class="modalContentWrapper colorBlack" ng-click="cancelIfBackDrop($event);">	
		<!-- notification modal -->		
		<div class="modalInner modalGallery minHPhotoGal" style="height:30%!important;">
			<div class="paddingM darkBlue font22">Add tag<!-- {{messages.photoGallery}} -->
				<button class="iconExit exitIcon2" ng-click="cancelMultiModal()"> </button>
			</div>					
			<div class="separator"></div>					
			<p style="padding:1em 2em .3em 2em; margin:0;">Other</p>
			<div class="inputSizes" style="margin: 0 auto 1em auto; padding-left: 0.7em;">
				<input class="inputLogin" ng-model="tag.tagContent" type="text" placeholder="Please add tag description here" /> 
			</div>
			<div class="twoButtonModal">
				<button id="cancelModal" class="buttonSecondary classicBtn" ng-click="cancelMultiModal()">{{contents.modalCancelButton}}</button>
				<button id="confirmModal" class="buttonPrimary classicBtn" ng-click="confirmMultiModal()">{{contents.modalConfirmButton}}</button>
			</div>
		</div>
	</div>
</div>