<div id='' class="modalWrapper" style="z-index:999;">
	<div class="modalContentWrapper colorBlack" ng-click="cancelIfBackDrop($event);">	
		<!-- notification modal -->		
		<div class="modalInner paddingNone minHPhotoGal" style="height:100%!important; overflow: visible; background:none!important; box-shadow:none;">
 			<div class=" paddingBottomXXS font18 heightAuto">
				<div class=" paddingM font20" style="padding-bottom: 1.8em!important;">{{imageName}}
					<button class="iconExit exitIcon2" ios-touchend="cancelMultiModal()"> </button>
				</div>					
			</div>
			<div style="height: 85%; overflow: visible; position: relative; width: 100%;" ng-image-viewer imgs="images" current="currentImgId"></div>
		</div>
	</div>
