<div class="nPhotoGallery">
	<div class="galTopWrapper">
		<div class="tableElem">HULL
			<span class="forwardGal"></span>
			<span class="backGal"></span>
			<div class="removePhoto"></div>
			<div class="sendViaEmail"></div>
		</div>
		<div class="gallScrollWrap" style="position:relative;">
			<ion-scroll direction="x">
				<div class="dTb">
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem = !gallCheckItem" ng-class="gallCheckItem ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem1 ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem1 = !gallCheckItem1" ng-class="gallCheckItem1 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem2 ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem2 = !gallCheckItem2" ng-class="gallCheckItem2 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem3 ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem3 = !gallCheckItem3" ng-class="gallCheckItem3 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem4 ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem4 = !gallCheckItem4" ng-class="gallCheckItem4 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem5 ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem5 = !gallCheckItem5" ng-class="gallCheckItem5 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem6 ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem6 = !gallCheckItem6" ng-class="gallCheckItem6 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem7 ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem7 = !gallCheckItem7" ng-class="gallCheckItem7 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
				</div>
			</ion-scroll>
		</div>
	</div>
	<div class="galBottomWrapper">
		<div class="tableElem">Unsorted</div>
		<div class="gallScrollWrap" style="position:relative;">
			<ion-scroll direction="x">
				<div class="dTb">
					<div class="contentPicDtcGal">
						<div class="imageGalleryWrapper">
							<div ng-class="gallCheckItem8 ? 'titleImageGalCheck' : 'titleImageGal'">
								<div class="galPhotoName">DSC_0001</div>
								<div class="checkGalSelectIc" ng-click="gallCheckItem8 = !gallCheckItem8" ng-class="gallCheckItem8 ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
							</div>
							<div class="galleryImgWrap" style="background-image:url();"></div>
							<div class="tagsTextWrap">
								<div class="tagWrapper">
									<span class="tagIc"></span>
									<div class="tagText"> Hull, Crane, Other, Performance</div>
									<div class="tagsRemaining">+4</div>
								</div>
								<div class="galleryDescript">Lorem ipsum dolor sit amet, praesent sodales, a iaculis iaculis magna vehicula tincidunt libero. Viverra faucibus semper ipsum</div>
							</div>
						</div>
					</div>
				</div>
			</ion-scroll>
		</div>
	</div>
</div>