<div id='' class="modalWrapper"   >
	<div class="modalContentWrapper colorBlack" ios-touchend="cancelIfBackDrop($event);">	
		<!-- notification modal -->		
		<div class="modalInner paddingNone minHPhotoGal" style="height:29.3em!important;">
 			<div class="paddingBottomXXS font18 heightAuto">
				<div class=" paddingM font20 ">Photo Gallery<!-- {{messages.photoGallery}} -->
					<button class="iconExit exitIcon2" ios-touchend="cancelMultiModal()"> </button>
				</div>					
				<div class="separator"></div>					
			</div>
			
			<span ng-show="dataArray.array.length == 0 || !dataArray.array" class="noResultsWrapper">There are no images in gallery.</span>
			<ion-content class="photoGalleryScroll" has-bouncing="true" style="position:absolute; top:4.45em!important; height:75%!important;">
 		   		<div class="nPhotoGallery" ng-if="dataArray.array.length > 0"
 		   				  swipe-element="onSwipeEnd(dir, deltaX, deltaY)" 
						   swipe-element-move="onSwipeMove(dir, deltaX, deltaY)" 
						   swipe-element-start="onSwipeStart(dir, deltaX, deltaY, $event)">
					<div class="galTopWrapper">
						<div class="gallScrollWrap" style="position:relative;">
							<ion-scroll direction="x" delegate-handle="horizontalScroll">
								<div class="dTb">
									<div class="contentPicDtcGal" data-ng-repeat="(key, photo) in dataArray.array | filter:search:strict">
										<div class="imageGalleryWrapper">
											<div ng-class="gallCheckItem ? 'titleImageGalCheck' : 'titleImageGal'">
												<div class="galPhotoName">{{photo.taggedImages.json.name.split(".")[0]}}</div>
												<div class="checkGalSelectIc" ng-click="photo.checked = !photo.checked" ng-class="photo.checked ? 'ion-ios-checkmark' : 'ion-ios-circle-outline'"></div>
												<!-- <div ng-click='photo.checked=!photo.checked' ng-class='{"galleryIconCheck":photo.checked}'class="galleryCheckBox "></div> -->
											</div>
											<div class="galleryImgWrap" style="background-image:url({{photo.base64}});" ng-click="openFullImg(key)"></div>
											<div class="tagsTextWrap" style="background-color: #f9f9f9; ">
												<div class="tagWrapper imageWrapper imageInnerWrapper">
													<p>
														<span class="tagWrapper" ng-if="photo.taggedImages.json.date.length!==0">{{photo.taggedImages.json.date | date:'yyyy-MM-dd'}}</span>
														<span class="tagWrapper" ng-if="photo.taggedImages.json.name.length!==0">{{photo.taggedImages.json.name}}</span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ion-scroll>
						</div>
					</div>
				</div>
         	</ion-content>
			<div class="footerPhotoGal">
				<div class="separator"></div>	
				<div class="paddingM" style="height:3.2em; width:20%;">
					<div class="galleryInnerHeader" style="background-color: #004e6b; top: -4px!important; z-index: 99;">
						<div class="removePhoto" ng-if='!isVisitFinished' ng-click="deletePicture();"></div>
						<div class="sendViaEmail" ng-click='sendToEmail()'></div>
					</div>
					<div style="float:left !important;">{{dataArray.array.length}} Photos</div> <!-- {{messags.photos}} -->
				</div>
			</div>
		</div>
	</div>
</div>