<div id='' class="modalWrapper infoModal">
	<div class="modalContentWrapper colorBlack" ios-touchend="cancelIfBackDrop($event);">		
		<div class="modalInner  paddingNone " >
			<div class="title">Post Repair Definitions & Score Classification</div>
			<div class="exitIcon2" ios-touchend="cancelMultiModal()"></div>
			<div class="dTb upperTable">
				<div class="dTbRow">
					<span class="labelName dTbCell">Post Repair</span>
					<span class="explanation dTbCell">Containers(Box&Units including Gensets) for which a MERC+ Work Order estimate has been approved and repair has been done by concered repair shop.</span>
				</div>
			<div class="dTbRow">
				<span class="labelName dTbCell">Repair Quality</span>
				<span class="explanation dTbCell">Adresses the quality of repair of each line in the Work Order</span>
			</div>
			<div class="dTbRow">
				<span class="labelName dTbCell">Missing Estimate</span>
				<span class="explanation dTbCell">Compares the actual repair(depot estimate) with an estimate to be done by an ML EMR for missing damages</span>
			</div>
			<div class="dTbRow">
				<span class="labelName dTbCell">Ghost Repair</span>
				<span class="explanation dTbCell">Checks whether the depot actually performs the work it estimated and is being paid for by ML</span>
			</div>
			<div class="dTbRow">
				<span class="labelName dTbCell">General Note</span>
				<span class="explanation dTbCell">In case the depot is repairing special containers(Open Tops, Float Racks, etc.) then it is a requirement to include at least one container in the inspection</span>
			</div>
		</div>
		<div class="tableName">Repair Quality(Box)</div>
		<div class="dTb infoTable">
			<div class="tableHeader dTbRow">
				<div class="dTbCell">Score</div>
				<div class="dTbCell">Straightening</div>
				<div class="dTbCell">Painting</div>
				<div class="dTbCell">Flooring</div>
				<div class="dTbCell">Welding</div>
				<div class="dTbCell">Cleaning</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreGreenColor">5</div>
				<div class="dTbCell">Generally good</div>
				<div class="dTbCell">Generally good</div>
				<div class="dTbCell">Sufficient fixing</div>
				<div class="dTbCell">Generally good</div>
				<div class="dTbCell">Good/ According to ML</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreGreenColor">4</div>
				<div class="dTbCell">No preparation</div>
				<div class="dTbCell">Poor preparation</div>
				<div class="dTbCell">Poor sealant</div>
				<div class="dTbCell">Poor</div>
				<div class="dTbCell">Generally OK</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreGreenColor">3</div>
				<div class="dTbCell">Generally poor</div>
				<div class="dTbCell">No undercoat</div>
				<div class="dTbCell">Insufficient fixing</div>
				<div class="dTbCell">Welding defects</div>
				<div class="dTbCell">Excess water</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreOrangeColor">2</div>
				<div class="dTbCell">Doesn't match estimate</div>
				<div class="dTbCell">Insufficient/not finished</div>
				<div class="dTbCell">No under seal</div>
				<div class="dTbCell">Incomplete</div>
				<div class="dTbCell">Unnecessary cleaning</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreOrangeColor">1</div>
				<div class="dTbCell">Insufficient</div>
				<div class="dTbCell">Wrong Material</div>
				<div class="dTbCell">Doesn't match estimate</div>
				<div class="dTbCell">Wrong Material</div>
				<div class="dTbCell">Poor cleaning</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreRedColor">0</div>
				<div class="dTbCell">Not done</div>
				<div class="dTbCell">No paint at all</div>
				<div class="dTbCell">Wrong floor</div>
				<div class="dTbCell">Not done</div>
				<div class="dTbCell">Not done</div>
			</div>
		</div>		
		
		<div class="tableName">Repair Quality(Reefer)</div>
		<div class="dTb infoTable">
			<div class="tableHeader dTbRow">
				<div class="dTbCell" style="width: 5em;">Score</div>
				<div class="dTbCell">Fasteners</div>
				<div class="dTbCell">Elect. Splices</div>
				<div class="dTbCell">Leaks</div>
				<div class="dTbCell">PTI</div>
				<div class="dTbCell" style="width: 10em;">Others</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreGreenColor">5</div>
				<div class="dTbCell">All fasteners presents & tight including cable ties</div>
				<div class="dTbCell">All wiring correctly spliced with heat shrink</div>
				<div class="dTbCell">No Leaks</div>
				<div class="dTbCell">Unit is clean and cable is correctly coiled in tray</div>
				<div class="dTbCell">Perfect Repair</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreGreenColor">4</div>
				<div class="dTbCell">1-2 fasteners missing</div>
				<div class="dTbCell">1 incorrect splice</div>
				<div class="dTbCell">Evidence of old leaks</div>
				<div class="dTbCell">Debris in unit, cable coiled</div>
				<div class="dTbCell">Good quality</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreGreenColor">3</div>
				<div class="dTbCell">3-4 fasteners missing</div>
				<div class="dTbCell">2 incorrect splices</div>
				<div class="dTbCell">Potential leaks</div>
				<div class="dTbCell">Cable not correctly coiled</div>
				<div class="dTbCell">Acceptable</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreOrangeColor">2</div>
				<div class="dTbCell">5-6 fasteners missing</div>
				<div class="dTbCell">3 incorrect splices</div>
				<div class="dTbCell">Minor leak, refrigerant OK</div>
				<div class="dTbCell">Dirty condenser coil</div>
				<div class="dTbCell">Need improvement</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreOrangeColor">1</div>
				<div class="dTbCell">Multiple fasteners missing</div>
				<div class="dTbCell">4 incorrect splices</div>
				<div class="dTbCell">Leak, low refrigerant</div>
				<div class="dTbCell">Old oil, unit not cleaned</div>
				<div class="dTbCell">Poor quality</div>
			</div>
			<div class="tableRows dTbRow">
				<div class="dTbCell scoreRedColor">0</div>
				<div class="dTbCell">Major components not secured</div>
				<div class="dTbCell">Incorrect splices cand cause injury/unit damage</div>
				<div class="dTbCell">Obvious leak, no refrigerant in the unit</div>
				<div class="dTbCell">No PTI check list</div>
				<div class="dTbCell">Not done at all</div>
			</div>
		</div>
		
		</div>
	</div>
</div>
