<div class="ionic_datepicker" click-off='closeAll()' >
  <div class="selected_date_full">{{selectedDateFull | date:dateFormat}}</div>
  <div class="row no_padding">
    <div class="col col-10 left_arrow" ng-click="$event.stopPropagation(); !prevMonthDisable && prevMonth()"
    ng-class="{'pointer_events_none':prevMonthDisable}">
    <button class="button-clear">
      <i class="icon ion-chevron-left"
      ng-class="{'color_blue':(!prevMonthDisable || (!enableDatesFrom.isSet))}"></i>
    </button>
  </div>
  <div class="col col-80 drop_down ">
    <div class="row select_section">
      
       
          <label class="item item-input item-select col col-50 month_select">
            <select ng-model="currentMonth" ng-change="$event.stopPropagation(); monthChanged(currentMonth)" class="month_select" ng-options="month as month for month in ::monthsList " ng-selected="month == currentMonthSelected">
            </select>
          </label>
 
     
       
          <label class="item item-input item-select col col-50 year_select">
            <select ng-model="currentYear" ng-change="$event.stopPropagation(); yearChanged(currentYear)" class="year_select" ng-options="year as year for year in ::yearsList " ng-selected="year == year">
            </select>
          </label>
      
    </div>
  </div>
  <div class="col col-10 right_arrow" ng-click="$event.stopPropagation(); !nextMonthDisable && nextMonth()"
  ng-class="{'pointer_events_none':nextMonthDisable}">
  <button class="button-clear">
    <i class="icon ion-chevron-right"
    ng-class="{'color_blue':(!nextMonthDisable || (!enableDatesTo.isSet))}"></i>
  </button>
</div>
</div>
<div class="calendar_grid">
  <div class="row">
    <div class="col" ng-repeat="weekName in ::weekNames track by $index" style="font-weight: bold" ng-bind="weekName"> 
      </div>
    </div>
    <div style="height: 180px;">
      <div class="row" ng-repeat="row in rows track by $index" style="text-align: center;">
        <div class="col no_padding date_col" ng-repeat="col in cols track by $index"
        ng-class="{'date_selected': (dayList[row + $index].dateString === selctedDateStringCopy && dayList[row + $index].day != undefined),
        'today' : (dayList[row + $index].dateString == today.dateString )}">
        <div class="date_cell" ng-click="$event.stopPropagation(); dateSelected(dayList[row + $index])"
        ng-class="{'pointer_events_none':dayList[row + $index].dateDisabled}">
        {{ dayList[row + col].date }}
      </div>
    </div>
  </div>
</div>
</div>
<div class="error_msg padding-horizontal"
ng-show="date_selection.submitted === true && date_selection.selected === false" ng-bind="errorMsgLabel">
</div>
</div>
