<ion-modal-view class="ionic_datepicker_modal" >
  <ion-header-bar ng-class="modalHeaderColor">
    <h1 class="title">{{titleLabel}}</h1>
  </ion-header-bar>
  <ion-content class="ionic_datepicker_modal_content">
    <div class="ionic_datepicker" style="margin-top:20px;">

      <div class="row">
                <div class="col col-10 left_arrow" ng-click="$event.stopPropagation(); !prevMonthDisable && prevMonth()" ng-class="{'pointer_events_none':prevMonthDisable}">
          <button class="button-clear font_22px">
                        <i class="icon ion-chevron-left" ng-class="{'color_blue':(!prevMonthDisable || (!enableDatesFrom.isSet))}"></i>
          </button>
        </div>
        <div class="col col-80 drop_down">
              <div class="selected_date_full">{{selectedDateFull | date:dateFormat}}</div>
                    <!-- <div class="row select_section" style="margin-top: 5px;">
                        <label class="item item-input item-select col col-50 month_select">
                            <select ng-model="currentMonth" ng-change="monthChanged(currentMonth)" class="month_select" ng-options="month as month for month in monthsList " ng-selected="month == currentMonthSelected">
                  </select>
                </label>



                        <label class="item item-input item-select col col-50 year_select">
                            <select ng-model="currentYear" ng-change="yearChanged(currentYear)" class="year_select" ng-options="year as year for year in yearsList " ng-selected="year == year">
                  </select>
                </label>
              </div> -->
            </div>
                <div class="col col-10 right_arrow" ng-click="$event.stopPropagation() ; !nextMonthDisable && nextMonth()" ng-class="{'pointer_events_none':nextMonthDisable}">
                    <button class=" button-clear font_22px">
                        <i class="icon ion-chevron-right" ng-class="{'color_blue':(!nextMonthDisable || (!enableDatesTo.isSet))}"></i>
          </button>
        </div>
      </div>
      <div class="calendar_grid">
        <div class="row">
                    <div class="col" ng-repeat="weekName in ::weekNames track by $index" style="font-weight: bold" ng-bind="weekName">
          </div>
        </div>
        <div>
          <div class="row" ng-repeat="row in rows track by $index" style="text-align: center;">
                        <div class="col no_padding date_col" ng-repeat="col in cols track by $index" ng-class="{'date_selected': (dayList[row + $index].dateString === selctedDateStringCopy && dayList[row + $index].day != undefined),
        'today' : (dayList[row + $index].dateString == today.dateString )}">
                            <div class="date_cell" ng-click="$event.stopPropagation(); dateSelected(dayList[row + $index])" ng-class="{'pointer_events_none':dayList[row + $index].dateDisabled}">
                                {{ dayList[row + $index].date }}
              </div>
            </div>
          </div>
        </div>
      </div>
            <div class="error_msg padding-horizontal" ng-show="date_selection.submitted === true && date_selection.selected === false" ng-bind="errorMsgLabel">
      </div>
    </div>
  </ion-content>
  <ion-footer-bar ng-class="modalFooterColor" style="padding: 0!Important;">
    <div class="row no_padding">
      <div class="text-center" ng-class="{'col-33': !closeOnSelect, 'col-50': closeOnSelect}" ng-click="$event.stopPropagation(); closeIonicDatePickerModal()">
        <button class="button buttonReschedule button-clear" style="border-radius: 0 0 0 4px!important;">{{closeLabel}}</button>
      </div>
      <div ng-if="showClear" class="col col-33 text-center" ng-click="$event.stopPropagation(); clearIonicDatePickerModal()">
                <button class="button button-clear" >{{clearLabel}}</button>
            </div>
      <div class="text-center" ng-class="{'col-34': !closeOnSelect, 'col-50': closeOnSelect}" ng-click="$event.stopPropagation(); setIonicDatePickerTodayDate()">
        <button class="button buttonReschedule button-clear" style="border-radius: 0 0 0 0!Important;">{{todayLabel}}</button>
      </div>
      <div ng-if="!closeOnSelect" class="col-33 text-center" ng-click="$event.stopPropagation(); setIonicDatePickerDate()">
        <button class="button buttonReschedule button-clear" style="border-radius: 0 0 4px 0!important;">{{setLabel}}</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-modal-view>
