<div id={{contents.modalId}} class="modalWrapper" ng-switch="settings.type">
	<div class="modalContentWrapper" ios-touchend="cancelIfBackDrop($event);">
		<div class="modalInnerSmallModal paddingTopBotLargeDataNotice" ng-switch-default>
		 		<div class="centerText font20 modalInnerContent paddingTopBot">
					<div class="ZSBold font22" ng-if="contents.modalTitle">{{contents.modalTitle}}</div>
					<div class="separator marginTopXS marginBottomXS" ng-if="contents.modalTitle"></div>
					<div class="modalMessage" ng-if="contents.modalContent">
						{{contents.modalContent}}
					</div>
				</div>
				<div class="buttonsWrapper posRel">
					<button id="confirmModal" class="singleButtonModal classicBtn fullW" ios-touchend="confirmMultiModal()" ng-if="contents.modalConfirmButton">{{contents.modalConfirmButton}}</button>
				</div>
		</div>
	</div>
</div>

