<div class="modalWrapper textareaModal" id="modalTextareaFinal" ng-show="$parent.fastClickTextareaNoEditModal()">
	<div class="modalContentWrapper" >
		<div class="modal60" click-off="cancelMultiModal()">
			<div class="selectHeader">
				<div class="selectTop" >
					<p class="modSelectTxt">Work Order Final Comment</p> 
				</div>
			</div>
			<div class="textareaWrap" >
				<textarea id="textAreaFocus"  autofocus class="selectContent disabledtext"  ng-model="data.finalComment" readonly>		
		 	</textarea>
				<div class="posAbs" style="bottom: 0 !important;width:100%;">
					<button id="cancelModal" class="singleButtonModal classicBtn"
						ios-touchend="cancelMultiModal()">OK</button>
				</div>
			</div>

		</div>
	</div>
</div>
</div>