<!-- <div id='' class="modalWrapper modalHistoryNew"> -->
	<!-- <div class="modalContentWrapper colorBlack" ios-touchend="cancelIfBackDrop($event);"> -->
		<!-- notification modal -->
		<!-- <div class="modalInner  paddingNone " style="width:90%;" > -->
 			<div class=" paddingBottomXXS heightAuto">
				<div class="padd-AN darkBlue font16">History / {{historyObject.containerId}}<!-- {{messages.history}} -->
					<!-- <button ios-touchend="cancelMultiModal()" class="iconExit exitIcon2 "> </button> -->
				</div>
				<div class="separator"></div>
				<ion-header-bar class="modalHistHeader">
					<div class="displayTableRow fontZSDB" style="margin-top:0px!important; width: 100%;">
						<div class="displayTableCell7  width15" style="padding-left: 1em; width:13.5%;">Shop No.</div><!-- {{messages.repairShopNo}} -->
						<div class="displayTableCell7  widthHistory" style="width: 20%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Repair Shop Name</div><!-- {{messages.repairDate}} -->
						<div class="displayTableCell7  widthHistory" style="width: 16%;">Creation Date</div><!-- {{messages.repairDate}} -->
						<div class="displayTableCell7  width20" style="width:13.2%;">Location</div><!-- {{messages.woType}} -->
						<div class="displayTableCell7  widthHistory" style="width:13%;">WO NO.</div>
						<div class="displayTableCell7 " style="width:14%; line-height:1em;">Repair Mode</div>
						<div class="displayTableCell7  widthHistory">Total cost</div>
					</div>
				</ion-header-bar>
				<ion-content scrollbar-x="false" has-bouncing="false" class="has-header" delegate-handle="mainScroll" style="top: 9.5em !important; bottom:.2em;">
					<div style="margin-bottom:4em;">
						<ion-list class="dTb fullW">
							<form name="formObject.historyForm" novalidate>
								<div class="parentCollapsible" ng-repeat="workOrder in historyObject.workOrderArray">
									<ng-form name="componentsEntryForm">
										<ion-item class="dropItems" woMod = wo style="z-index: inherit;">
				              				<div class="parentCollapsibleHistory " class="dropItems bckColorList displayTable "  ng-class="{activeAdd : stat2 }" >
									            <div class="displayTable fullW" style="table-layout: fixed !important;">
									            	<div class="displayTableRow fullW font16" style="border-bottom: 2px solid #e9e9e9;">
								            			<div class="displayTableCell7 width15 " style="padding-left: 1em; width:12%">{{workOrder.shopCode}}</div>
								   						<div class="displayTableCell7 widthHistory" style="width: 20%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{workOrder.shopName}}</div>
														<div class="displayTableCell7 widthHistory" stlye="width: 16%;">{{workOrder.repairDate}}</div>
														<div class="displayTableCell7 width20" style="padding-left:0em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width:13%;"> {{workOrder.locationCode}}</div>
														<div class="displayTableCell7 widthHistory" style="padding-left:0em; width:13%;">{{workOrder.workOrderId}}</div>
														<div class="displayTableCell7 " style="width:14%;">{{workOrder.repairMode}}</div>
														<div class="displayTableCell7 widthHistory" style="padding-left:0em;">{{workOrder.totalRepairCost}}</div>
														<div class="iconEl" ng-click="res(); focusField($index); workOrder.$visible = !workOrder.$visible;" ng-class="{activeAdd : workOrder.$visible}">
								            				<i ng-if="!container.addedComponent" class="ion-arrow-down-b"></i>
								            			</div>
													</div>
												</div>
											</div>
				          				</ion-item>
				          				<div class="collapsibleContent" ng-if="historyObject.repairWorkOrders[workOrder.workOrderId].length > 0 && workOrder.$visible">
					          				<div id="header"class="dTb fullW " style="margin-top:0!important;">
												<div class="dTbRow tableHeader tbElem" style="background-color:rgba(105, 184, 214, 0.25);" >
													<div class="dTbCell width6" style="padding-left: 1em;">Pcs.</div> {{messages.pcs}}
													<div class="dTbCell width8" style="padding-left: 0em;">Damage Code</div>{{messages.damageCode}}
													<div class="dTbCell width6" style="padding-left: 0em;">Repair Code</div>{{messages.repairCode}}
													<!-- <div class="dTbCell width6" style="padding-left: 0em;">Repair <br> Mode</div>{{messages.repairMode}} -->
													<div class="dTbCell width25" style="padding-left: 0em;">Description</div>{{messages.description}}
													<div class="dTbCell width10" style="padding-left: 0em;">Repair Loc Code</div>{{messages.repairLoc}}
													<div class="dTbCell width10" style="padding-left: 0em;">Spare Part<br> Number</div>{{messages.sparePartNr}}
													<div class="dTbCell width10" style="padding-left: 0em;">Work Order<br> Number</div>
												</div>
											</div>
											<ion-item class="collapseItems referContent" ng-repeat="repairWorkOrder in historyObject.repairWorkOrders[workOrder.workOrderId]">
												<div class="fullW headText">
								            		<div class="dTb fullW" style="margin-top:0!important; table-layout: fixed!important;">

														<div class="dTbRow  tbElem" ng-if="repairWorkOrder.partNumber == '' || repairWorkOrder.partNumber == null  || repairWorkOrder.partNumber == undefined ">
															<div class="displayTableCell7 width6" style=" padding-left: 1em; ">{{:: repairWorkOrder.parts || "0"}}</div>
															<div class="displayTableCell7 width8" style="padding-left: 0em;">{{:: repairWorkOrder.damageCode || "N/A"}}</div>
															<div class="displayTableCell7 width6" style="padding-left: 0em;">{{:: repairWorkOrder.repairCode || "N/A"}}</div>
															<!-- <div class="displayTableCell7 width6" style="padding-left: 0em;">{{:: repairWorkOrder.repairMode || "N/A"}}</div> -->
															<div class="displayTableCell7 width25" style="padding-left: 0em;">{{:: repairWorkOrder.repairDescription || "N/A"}}</div>
															<div class="displayTableCell7 width10" style="padding-left: 0em;">{{:: repairWorkOrder.repairLocCode.trim() || "N/A"}}</div>
															<div class="displayTableCell7 width10" style="padding-left: 0em;">{{:: repairWorkOrder.partNumber || ""}}</div>
															<div class="displayTableCell7 width10" style="padding-left: 0em;">{{:: workOrder.workOrderId || "N/A"}}</div>
														</div>

														<div class="dTbRow  bckgGrey tbElem" ng-if="repairWorkOrder.partNumber != '' && repairWorkOrder.partNumber != null  && repairWorkOrder.partNumber != undefined ">
															<div class="displayTableCell7 width6" style=" padding-left: 1em; ">{{:: repairWorkOrder.parts || "0"}}</div>
															<div class="displayTableCell7 width8" style="padding-left: 0em;"></div>
															<div class="displayTableCell7 width6" style="padding-left: 0em;">{{:: repairWorkOrder.repairCode || "N/A"}}</div>
															<!-- <div class="displayTableCell7 width6" style="padding-left: 0em;"></div> -->
															<div class="displayTableCell7 width25" style="padding-left: 0em;"></div>
															<div class="displayTableCell7 width10" style="padding-left: 0em;"></div>
															<div class="displayTableCell7 width10" style="padding-left: 0em;">{{:: repairWorkOrder.partNumber || ""}}</div>
															<div class="displayTableCell7 width10" style="padding-left: 0em;"></div>
														</div>
													</div>
										        </div>
											</ion-item>
										</div>
									</ng-form>
								</div>
							</form>
						</ion-list>
					</div>
				</ion-content>
			</div>
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->
