<div class="modalWrapper selectModal" ng-controller="DepotDetailsCtrl">
	<div class="modalContentWrapper">	
		<div class="modal60" >
		<div click-off=''> 
			<div class="selectHeader">
				<div class="selectTop" >
					<p class="modSelectTxt">Add new container</p> 
				</div>
				<div class="greyBar">
					<div class="searchWrapper">
						<input class="searchInput iconSearchLeft" type="text" placeholder="Search for contianer" ng-model=""> 
					</div>
				</div>
			</div>
			<div class="selectContent">
				<div class="selectContentHead addIcon" ng-click=''>
					<ion-header>
						<div class="contSelectHeadTxt">Container No.</div>
						<div class="contSelectHeadTxt">Container Type</div> 
						<div class="contSelectHeadTxt">Date</div> 
						<!-- <div class="contSelectHeadTxt">Status</div> 
						<div class="contSelectHeadTxt">Repair Cost</div>  -->
					</ion-header>
				</div>
				<div class="selectContentMain" >
				<ion-content class="has-header" has-bounce="false">
   				  	<div class="list">
   				  		 <div class="list">
   				    <ion-item >
          				  <label class="checkbox">
             			 	<input type="checkbox"  ng-click="">
             			 	<div class="modalOption"> 123456</div>
             			 	<div class="modalOption"> dry</div>
             			 	<div class="modalOption"> 12-12-15</div>
          					</label>
  				   </ion-item>
  				   <ion-item >
          				  <label class="checkbox">
             			 	<input type="checkbox"  ng-click="">
             			 	<div class="modalOption"> 5434324</div>
             			 	<div class="modalOption"> dry</div>
             			 	<div class="modalOption"> 12-12-15</div>
          					</label>
  				   </ion-item>
  				   <ion-item >
          				  <label class="checkbox">
             			 	<input type="checkbox"  ng-click="">
             			 	<div class="modalOption"> 99324329</div>
             			 	<div class="modalOption"> dry</div>
             			 	<div class="modalOption"> 12-12-15</div>
          					</label>
  				   </ion-item>
  				   <ion-item >
          				  <label class="checkbox">
             			 	<input type="checkbox" ng-click="">
             			 	<div class="modalOption"> 7273273</div>
             			 	<div class="modalOption"> dry</div>
             			 	<div class="modalOption"> 12-12-15</div>
          					</label>
  				   </ion-item>
  				 
  				   </div>
   				  	</div>

			 	</ion-content>
			 	</div>
		 	</div>
		 	<div class="buttonsWrapper " style="position: absolute; bottom: 0; width: 100%;">
				<button style="border-radius: 0 0 4px 4px;"id="confirmModal" class="buttonPrimary classicBtn fullW" ng-click="confirmMultiModal()" >Confirm</button>
			</div>
		 	
		 	</div>
		</div>												
	</div>
</div>