<div class=" paddingBottomXXS heightAuto">
    <div class="padd-AN darkBlue font16">
        <span class="colorGrey">({{historyObject.historyRemarksArray.length}})</span> Remarks / {{historyObject.containerId}}
    </div>
    <div class="separator"></div>
    <ion-content scrollbar-x="false" has-bouncing="false" style="top: 6.5em; bottom:2.7em" delegate-handle="mainScroll">
        <div class="manualsWrapper remarksList">
            <!-- table header -->
            <div class="row borderBottom">
                <div class="col col-20">
                    <span class="fontZSDB colorBlack">Date</span>
                </div>
                <div class="col col-10">
                    <span class="fontZSDB colorBlack">Source</span>
                </div>
                <div class="col col-45">
                    <span class="fontZSDB colorBlack">Remark</span>
                </div>
                <div class="col col-20">
                    <span class="fontZSDB colorBlack">User</span>
                </div>
                <div class="col col-05">
                    <span class="fontZSDB colorBlack"></span>
                </div>
            </div>
            <!-- table body -->
            <div ng-repeat="item in historyObject.partialHistoryRemarksArray" id="location-{{$index}}">
                <div class="row borderBottom">
                    <div class="col col-20">
                        <!-- {{item}}. 2017-06-03 17:12 -->
                        <dd class="ellipsis">{{item.date | date:'yyyy-MM-dd HH:mm'}}</dd>
                    </div>
                    <div class="col col-10">
                        <!-- {{item}}. Internal -->
                        <dd class="ellipsis">{{item.source}}</dd>
                    </div>
                    <div class="col col-45">
                        <!-- {{item}}. Request for TTL and CD Demounting required. MRL MAC / BOX – 450/ 250 USD -->
                        <dd class="ellipsis">{{item.remark}}</dd>
                    </div>
                    <div class="col col-20">
                        <!-- {{item}}. PPD016EMR [princeponmalar] -->
                        <dd class="ellipsis">{{item.chuser}}</dd>
                    </div>
                    <div class="col col-05 remarks-arrow" ng-init="item.displayRemarks=false" ng-click="showHideRemarks(item)">
                        <div ng-class="{'remarks-arrow--active': item.displayRemarks}">
                            <i class="ion-arrow-down-b"></i>
                        </div>
                    </div>
                </div>
                <div class="row borderBottom remarks-bg" ng-if="item.displayRemarks">
                    <div class="col">
                        <p><span class="fontZSDB colorBlack">Date: </span>{{item.date | date:'yyyy-MM-dd HH:mm'}}</p>
                        <p><span class="fontZSDB colorBlack">Source: </span>{{item.source}}</p>
                        <p><span class="fontZSDB colorBlack">Remark: </span>{{item.remark}}</p>
                        <p><span class="fontZSDB colorBlack">User: </span>{{item.chuser}}</p>
                    </div>
                </div>

            </div>
            <!-- pagination -->
        </div>
    </ion-content>
    <custom-pagination config="config" update-results="changePageResults()" style="position:absolute;width:100%;bottom:2.7em"></custom-pagination>
</div>
