<div class="modalWrapper textareaModal" id="modalTextarea" ng-show="$parent.fastClickTextareaModal()">
    <div class="modalContentWrapper" ios-touchend="return;">
        <div class="modal60">
            <div class="textareaWrap" style="padding-bottom:4em!Important; position:relative;">
           	    <form name="commentBox"  style="height:100%;">     	
               	 	<label for="textAreaFocus" style="position: absolute; top: -10px; right: -2%; left: -2%; width: 104%; height: 13em;"></label>
               	 	<textarea  ng-trim=true autofocus id="textAreaFocus" class="selectContent" placeholder=" Insert final comment here..." ng-model="data.finalComment" ></textarea>
               </form>
                <div class="counterProp" ng-class="{red : data.finalComment.length > maxNumberOfCharacters }">{{maxNumberOfCharacters - data.finalComment.length}} characters left</div>
                <div class="twoButtonModal posAbs" style="bottom: 0 !important;">
                    <button id="cancelModal" class="buttonSecondary classicBtn" ng-disabled="requiredComment" ng-class="{'disabledButton' : requiredComment}"
                        ios-touchend="cancelMultiModal()">Skip</button>
                    <button id="confirmModal" class="buttonPrimary classicBtn" ng-disabled="(requiredComment ? !(!!data.finalComment) : false) || maxNumberOfCharacters < data.finalComment.length" 
                    	ng-class="{'disabledButtonDark' : (requiredComment ? !(!!data.finalComment) : false) || maxNumberOfCharacters < data.finalComment.length}"
                        ios-touchend="confirmMultiModal()">Submit</button>
                </div>
            </div>
            <!-- <label style="position: absolute; width:100%; height:4em;" ng-click="preventPropagation($event);"></label> -->
        </div>
        
    </div>
</div>
</div>