<!-- <div class="modalWrapper modalHistoryNew">
    <div class="modalContentWrapper" ios-touchend="cancelIfBackDrop($event);"> -->
        <div class="modalWrapper codesModal modalHistoryNew">
            <div class="modalContentWrapper">
                <div class="modalInner" style="width: 90% !important; height: 33em !important;">
                    <div class="exitIconCM" ios-touchend="cancelMultiModal(); preserveStateAfterClose(); resetHistoryData();"></div>
                    <!-- nav buttons -->
                    <div class="manualsWrapper">
                        <div class="addVisitSegmentedControl" style="border-bottom: 1px solid #69b8d6;">
                            <div class="segmentedControlButtonsContainer">
                                <button
                                    class="whiteBtn1 segmentedControlButtons leftRadius"
                                    ng-class="{'blueButton' : historyObject.currentView=='history'}"
                                    ng-click="switchVisitDetailsHistoryRemarks('history');">History
                                </button>
                                <button
                                    class="whiteBtn1 segmentedControlButtons rightRadius"
                                    ng-class="{'blueButton' : historyObject.currentView=='remarks'}"
                                    ng-click="switchVisitDetailsHistoryRemarks('remarks');">Remarks
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- render view -->
                    <div ng-include="historyObject.currentTemplate"></div>
                    <!-- <div ng-include="'templates/common/modalHistory.html'"></div> -->
                    <!-- <div ng-include="'templates/common/modalRemarks.html'"></div> -->
                </div>
            </div>
        </div>
<!--     </div>
</div> -->
