<!-- Login content goes here -->
<div id='' class="modalWrapper modalPlanVisit">
	<div class="modalContentWrapper colorBlack">	
		<!-- notification modal -->		
		<div class="modalInner  paddingNone  ">
 			<div class=" paddingBottomXXS heightAuto">
				<div class="paddingM darkBlue font22 ">Confirm adding the following work orders<button ng-click="cancelMultiModal()" class="iconExit exitIcon2 "> </button>
				</div>	
				<div class="separator "></div>
				<div class="displayTable bckColorList  fullW ">			
						<div class="dTbRow fontZSDB ">
							<div class="displayTableCell paddingLeftL width25">Work Order No</div>
							<div class="displayTableCell paddingLeftL width25">Container No</div><!-- {{messages.repairDate}} -->
							<div class="displayTableCell  width25">Status</div><!-- {{messages.repairShopNo}} -->
							<div class="displayTableCell  width25">Date</div><!-- {{messages.woType}} -->
						
						</div>									
				</div>			
			<ion-content has-bouncing="false" class="bottomXXL scroll-content ionic-scroll  has-header">
			<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
				<!-- ngRepeat: container in containersForNewVisit --><div class="displayTable fullW" ng-repeat="container in containersForNewVisit">		
		           	<div class=" dTbRow">				
		           		<div class="displayTableCell  width25 ng-binding">{{container.workOrderId}}</div>			
		   				<div class="displayTableCell paddingLeftL width25 ng-binding">{{container.containerNo}}</div>
						<div class="displayTableCell width25 ng-binding">{{container.status}}</div>
						<div class="displayTableCell  width25 ng-binding">{{selectedDate}}</div>
					</div>
				</div><!-- end ngRepeat: container in containersForNewVisit -->
			</div>
			<div class="scroll-bar scroll-bar-v">
			<div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;">
			</div>
			</div>
			</ion-content>
			<div class="footerBtn">
				<button  class="buttonSecondary classicBtn" ng-click="cancelMultiModal();">Cancel</button>
				<button  class="buttonPrimary classicBtn" ng-click="confirmMultiModal();">Confirm</button>
			</div>		
				
			</div>
		</div>
	</div>
</div>


