<div data-grid  class=" gridWrapper  bckgWhite visitsTmpl visitTmpl2 planVisitModal" style="position: absolute; width: 100%; z-index: 99;">
	<div id="wrapper" class="dispInBl fullW fullH"> 
		<div id="tableDown" class="downVistTmpl dispInBl" style="height: 92.9%;">
			<input pagination-custom = "{dataSource : obj.workOrdersForRepairShop, entriesPerPage: 10, searchFields: searchFields}" ng-model="paginationSearch">
		</div>
	</div>
</div>