<!-- Login content goes here -->
<div id='' class="modalWrapper modalPlanVisit">
	<div class="modalContentWrapper colorBlack">	
		<!-- notification modal -->		
		<div class="modalInner  paddingNone  ">
 			<div class=" paddingBottomXXS heightAuto">
 			
				<div class="darkBlue font22 posRel ovrflw">
				<div class="parentCollapsible" >
						<label for="visitInput" style="position: absolute; top: 0;margin: 0;height: 3.8em;width:100%;z-index:100;"></label>
						<ng-form name="descrForm">
							<ion-item class="dropItems" woMod = wo style="z-index: inherit;">
	              				<div class="fullW  ">
				            			<div class="inputElem" ng-class='{"invalid" : descrForm.visit.$invalid, "inputElemActive" : descrFoucsed , "borderNone" : description.$accepted}'>
				            		 		<input id="visitInput" ng-required="false;" ng-blur="descrFoucsed = false;" ng-focus="descrFoucsed = true" required  type="text" ng-maxlength="50" maxlength="50" name="visit" placeholder="Set description for visit" ng-disabled="description.$accepted" ng-model="visit.description" value="{{visit.description}}" class="borderNone" style="padding: 5px 0 0 10px;"/>
									</div>
									</div>
									</ion-item>
									</ng-form>
									</div>
				</div>
				</div>	
				<div class="separator "></div>
				<div class="displayTable bckColorList  fullW ">			
						<div class="dTbRow fontZSDB ">
							<div class="displayTableCell paddingLeftL width25">Work Order No</div>
							<div class="displayTableCell paddingLeftL width25">Container No</div><!-- {{messages.repairDate}} -->
							<div class="displayTableCell  width25">Status</div><!-- {{messages.repairShopNo}} -->
							<div class="displayTableCell  width25">Date</div><!-- {{messages.woType}} -->
						
						</div>									
				</div>		
			<ion-content has-bouncing="false" class="bottomXXL">
				<div class="displayTable fullW" ng-repeat="container in containersForNewVisit">		
		           	<div class=" dTbRow">				
		           		<div class="displayTableCell  width25"> {{:: container.workOrderId}}</div>			
		   				<div class="displayTableCell paddingLeftL width25 ">{{:: container.containerNo}}</div>
						<div class="displayTableCell width25">{{:: container.status}}</div>
						<div class="displayTableCell  width25"> {{:: selectedDate}}</div>
					</div>
				</div>
			</ion-content>		
			<div class="footerBtn">
				<button  class="buttonSecondary classicBtn" ng-click="cancelMultiModal();">Cancel</button>
				<button  class="buttonPrimary classicBtn" ng-click="confirmMultiModal();">Confirm</button>
			</div>		
				
			</div>
		</div>
	</div>
</div>


