<div id={{contents.modalId}} class="modalWrapper" ng-switch="settings.type">
	<div class="modalContentWrapper" ios-touchend="cancelIfBackDrop($event);">
		<div class="modalInnerSmallModal posRel paddingTopBot height30" ng-switch-when="confirm">
 			<div class=" centerText  font20 modalInnerContent paddingTopBot">
				<div class="ZSBold font22" ng-if="contents.modalTitle"></div>
				<div class="separator marginTopXS marginBottomXS" ng-if="contents.modalTitle"></div>
				<div class="modalMessage" ng-if="contents.modalContent">
					See work orders from previous month. Continue or choose another "from" date.
				</div>
			</div>
			<div class="twoButtonModal posAbs" style="bottom:0!important;">
				<button id="cancelModal" class="buttonSecondary classicBtn" ios-touchend="cancelMultiModal()">Choose date</button>
				<button id="confirmModal" class="buttonPrimary classicBtn" ios-touchend="confirmMultiModal()">Continue</button>
			</div>
		</div>
	</div>
</div>