<div data-grid class=" gridWrapper  bckgWhite visitsTmpl">
    <div id="wrapper" class="dispInBl fullW  fullH">
        <div class="fullW planVisitTop">
            <div id="shops" class="dispInBl fullH  floatL width40 shopsCol">
                <div class="height80 minHeigth18">
                    <div class="datepickerWrapper">
                        <datepicker ng-click="$event.stopPropagation()" max-mode="day" class="datepickerContent"   data-ng-model="::datePicker.date" show-weeks="true" min-date="maxEnableDate" starting-day="1"></datepicker>
                    </div>
                </div>
            </div>
            <div id="details" class="dispInBl fullH width60 detailsCol">
                <div class="dispInBl minHeight17 fullW fullH" style="position:relative;">
                    <ion-header-bar class="hBar">
                        <div class="width75">
                        	<label for="depoSearch" style=" top: 0; height: 3.5em; width: 39%; left: 0; position: absolute;"></label>
                            <div class="border dispInBl divInput floatL iconSearchLeft width50">
                                <form style="position:relative;" ng-submit="goSearch()">
                                    <input id="depoSearch" type="text" required
                                     placeholder="{{messages.searchDepots}}" 
                                     autocorrect="off" autocomplete="off"
                                      ng-model="shopSearch" ng-change="finishScroll();" 
                                      database-search="{results: allRepairShops, selectedCountry: selectedCountry};finishScroll();"  
                                      class="width90 search-box dispInBl" name="container">
                                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
                                    <button class="close-icon" ios-touchend="resetSearch2()"></button>
                                </form>
                            </div>
                            <div click-off="showDiv = false" class="dropdownWrapperBackLayer">
                            	<label for="countrySelect" style="height: 3.5em; width: 36.5%;left: 39%;top: 0; position: absolute;"></label>
                                <div ng-class="{'activeDropdown': focused}" class="dispInBl width50 dropdownClusterWrapper">
                                    <!-- <div class="dropdownBackOverlay"></div> -->
                                    <div class="posRel">
                                        <div style="padding-left: .8em;" class="divInputUserSet dropDownArrow fontZSB marginUserSet greyColorDarker">
                                            <div class="selectedCountryDiv paddingRightXXL width70 ovrflw fullH">{{selectedCountry.name}}</div>
                                            <div class="posRel bdyLstVis lines displayTableCell width10 fullH ovrflw" style="overflow: visible;">
                                            </div>
                                        </div>
                                        <form>
                                            <input id="countrySelect" style=" line-height: 1.5em;font-size: 15px;height: 2.5em !important;" placeholder="Search for countries" ng-class="{fullOpacity : focused}" type="text" ng-focus="focused = true;getCountriesArrayLength()" ng-blur="focused = false;getCountriesArrayLength()" class="inputCountrySearch iconSearchLeft dispInBl searchForCountry" ng-model="countrySearch" ng-model-options="{'updateOn': 'default blur','debounce': {'default': 250,'blur': 0}}" ng-change="scrollTop();finishScroll();" autocorrect="off" autocomplete="off" name="countrySearch">
                                        </form>
                                        <div class="dropDownList" ng-show="focused">
                                            <ion-content id="countryDropList" style="top: 0!important;" has-bouncing="false">
                                                <div class="dropDownElem" ng-click="selectCountry({name: 'All Countries', code: null}); $event.stopPropagation();">
                                                    <div style="display: inline-block; padding-left: .6em; text-align: left; float: left;" class="paddingRightXXL width80 ovrflw fullH">All Countries</div>
                                                </div>
                                                <div class="dropDownElem" ng-repeat="country in filteredCountriesArray=(allCountries | countryFilter : countrySearch:true|orderBy:'name') " ng-click="selectCountry(country); $event.stopPropagation();">
                                                    <div style="display: inline-block; padding-left: .6em; text-align: left; float: left;" class="paddingRightXXL width80 ovrflw fullH">{{country.name}}</div>
                                                    <!-- <div class="flag-icon-{{country.code | lowercase}} flag-icon-background flagIconPlan flag-icon-squared width20" ></div> -->
                                                </div>
                                            </ion-content>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="position: absolute; top: .4em; right: 3.5em; color: #fff;margin-top:0!Important;">Remember
                            <br> Country</div>
                        <div ng-click="rememberMe()" ng-class="{selectedCountry : rememberCountry}" id="clusterRemember" style="background:white; margin-top:0!important; border-radius:50%; width: 1.7em; height: 1.7em; position: absolute; right: .8em;  top: .7em;"></div>
                        <div class="clear" style="margin-top:0!important;"></div>
                        <div class="displayTableRow bar">
                            <div class="headLstVis2 displayTableCell width10">
                                <p>No.</p>
                            </div>
                            <!-- {{messages.repairShopNo}} -->
                            <!-- verify if the list is  scrollling -->
                            <div ng-click="(countScrolling==1||countScrolling==0) && sortRepairShops ('name')" class="headLstVis  displayTableCell width50" ng-class="{'ascSortBlue': sortOptions.column=='name' && sortOptions.ascending==true, 'descSortBlue': sortOptions.column=='name' && sortOptions.ascending==false}">
                                <p>Name</p>
                            </div>
                            <!-- {{messages.repairShopName}} -->
                            <div ng-click="(countScrolling==1||countScrolling==0)&&sortRepairShops ('location');" class="headLstVis displayTableCell width40" ng-class="{'ascSortBlue': sortOptions.column=='location' && sortOptions.ascending==true, 'descSortBlue': sortOptions.column=='location' && sortOptions.ascending==false}">
                                <p>Location</p>
                            </div>
                            <!-- {{messages.location}} -->
                        </div>
                    </ion-header-bar>
                    <div ng-if="showLoader" id="repairShopsArray" style="height: 100% !important ; background: #fff; z-index: 9; position: absolute; width: 100%; bottom: 3em; top: 3.2em; display: table; ">
                        <div style="display:table-cell;width: 100%;height: 100%;vertical-align: middle;text-align: center;">
                            <div class="ion-loading-c"></div>
                            <div>LOADING</div>
                        </div>
                    </div>
                    <ion-content  id="repairShopsArray" has-bouncing="false" class="has-header" delegate-handle="mainScroll" on-scroll-complete="finishScroll();" on-scroll="startScroll();">
                        <ion-list class="displayTable repairShopsArray">
                            <ion-item  style="transition:none;" collection-item-height="50" ng-class="{'addingGrey': (shop == selectedShop), greyBckg : shop.cached == 1}" ng-click="$event.stopPropagation(); show.itemSelected||selectRepairShop($event, shop.code)" collection-repeat="shop in allRepairShops" class="displayTableRow ">
                                <div ng-class="{inversion:inversion}" class="bdyLstVis lines displayTableCell width10">{{shop.code}}</div>
                                <div shopName ng-class="{inversion:inversion}" class="bdyLstVis lines displayTableCell width50 ovrflw">{{shop.name}}</div>
                                <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" ng-class="{inversion:inversion}" class="bdyLstVis lines displayTableCell width40 ovrflw">{{shop.location}}</div>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>