<div id='' class="modalWrapper modalHistoryNew">
	<div class="modalContentWrapper colorBlack" ng-click="cancelIfBackDrop($event);">	
		<!-- notification modal -->
		<div class="modalInner paddingNone">
 			<div class="paddingBottomXXS font18" style="height:16em;">
				<div class="paddingM darkBlue font22 ">Add spare part
					<button ng-click="cancelMultiModal()" class="iconExit exitIcon2 "> </button>
				</div>					
				<div class="separator"></div>
	   			<div class="bckgWhite unitReferMainCls" style="position:relative; height:11.8em!important;">
					<ion-header-bar style="height:3.4em!important;">
						<div class="dTb fullW" style="margin-top:0!important;">
							<div class="dTbRow tableHeader tbElem">
								<div class="dTbCell" style="width:12%;">Pcs.</div><!-- {{messages.pcs}} -->
								<div class="dTbCell" style="width:12%;">Damage Code</div><!-- {{messages.damageCode}} -->
								<div class="dTbCell" style="width:12%;">Repair Code</div><!-- {{messages.repairCode}} -->
								<div class="dTbCell" style="width:12%;">Repair Loc Code</div><!-- {{messages.repairLoc}} -->
								<div class="dTbCell" style="width:30%;">Description</div><!-- {{messages.description}} -->
								<div class="dTbCell" style="width:22%;">Spare Part<br> Number</div><!-- {{messages.sparePartNr}} -->
							</div>
						</div>
					</ion-header-bar>
					<ion-content scrollbar-x="false" has-bouncing="false" class="has-header" delegate-handle="mainScroll" style="top:3.4em!important;height:3.5em!important;">
						<div style="margin-bottom:4em;">
							<ion-list class="dTb fullW">
								<form name="addComponent.Form" novalidate>
									<div class="parentCollapsible">
										<ion-item class="dropItems" woMod = wo style="z-index: inherit;">
				              				<div class="fullW headText ">
							            		<div class="wrapperUnit pListHead dTbCell" style="width:12%;">
							            			<div class="inputElem borderProp">
														<input required type="text" ng-pattern="max3Digit" name="pieces" ng-class='{"invalid" : addComponent.Form.pieces.$invalid && addComponent.Form.pieces.$dirty}' ng-readonly="obj.referUnitStatus.finished || obj.referUnitStatus.pending" class="grInput fontZSDB borderNone" ng-focus='' ng-model="newComponent.pcs" />
							            		 	</div>
												</div>
									            <div class="wrapperUnit pListHead dTbCell" style="width:12%;">
									            	<div class="inputElem borderProp"> 
														<input required type="text" name="damageCode" ng-class='{"invalid" : addComponent.Form.damageCode.$invalid && addComponent.Form.damageCode.$dirty}' class="grInput borderNone" ng-focus='component.damageCodeEditing =  obj.referUnitStatus.started ? true : false' ng-model="newComponent.damageCode"/>
									            	</div>
									            </div>
									            <div class="wrapperUnit pListHead dTbCell" style="width:12%;">
									            	<div class="inputElem borderProp dropdownWrapper"><i class="pencilItem dispNone"></i> 
														<input required type="text" name="repairCode" ng-class='{"invalid" : addComponent.Form.repairCode.$invalid && addComponent.Form.repairCode.$dirty}' class="grInput borderNone" ng-focus='component.repairCodeEditing =  obj.referUnitStatus.started ? true : false' ng-model="newComponent.repairCode" />
									            	</div>
									            </div>
									            <div class="wrapperUnit pListHead dTbCell" style="width:12%;">
									            	<div class="inputElem borderProp dropdownWrapper"> 
														<input type="text" name="repairLocCode" ng-class='{"invalid" : addComponent.Form.repairLocCode.$invalid && addComponent.Form.repairLocCode.$dirty}' class="grInput borderNone" ng-focus='component.repairLocCodeEditing =  obj.referUnitStatus.started ? true : false' ng-model="newComponent.repairLocCode" />
									            	</div>
									            </div>
									            <div class="wrapperUnit pListHead dTbCell" style="width:30%;">
									            	<div class="inputElem borderProp dropdownWrapper">
														<input type="text" name="description" ng-class='{"invalid" : addComponent.Form.description.$invalid && addComponent.Form.description.$dirty}' class="grInput borderNone" ng-focus='component.repairCodeEditing =  obj.referUnitStatus.started ? true : false' ng-model="newComponent.description" />
													</div>
									            </div>
												<div class="wrapperUnit pListHead dTbCell" style="width:22%;">
													<div class="inputElem borderProp dropdownWrapper">
									            		<input required type="text" name="partNo" ng-class='{"invalid" : addComponent.Form.partNo.$invalid && addComponent.Form.partNo.$dirty}' class="grInput borderNone" ng-focus='component.partNoEditing =  obj.referUnitStatus.started ? true : false' ng-model="newComponent.partNo" />
									            	</div>
									            </div>
									        </div>
				          				</ion-item>
									</div>
								</form>
							</ion-list>
						</div>
					</ion-content>
					<div class="dTbRow dwnBar addSparePart" style="position:absolute; bottom:0.5em; width: 100%;">
						<div class="width49" style="display: inline-block;">
							<button style="float:right!important;" class="buttonSecondary classicBtn" ng-click="cancelMultiModal()">Cancel</button>
						</div>
						<div class="width49" style="display: inline-block;">
							<button style="float:left!important;" class="buttonPrimary classicBtn" ng-click="confirmComponentAdd();">Confirm</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>



