<!-- Login content goes here -->
<div id='' class="modalWrapper modalPlanVisit">
	<div class="modalContentWrapper colorBlack">	
		<!-- notification modal -->		
		<div class="modalInner  paddingNone  ">
 			<div class=" paddingBottomXXS heightAuto">
 			<div>Summary</div>
				<ion-header-bar>
				<div class="dTb fullW" style="margin-top:0!important;">
					<div class="dTbRow tableHeader  tbElem" >
						<div class="dTbCell borderFull vm width15">Pcs.</div><!-- {{messages.pcs}} -->
						<div class="dTbCell borderFull vm width15">Damage Code</div><!-- {{messages.damageCode}} -->
						<div class="dTbCell borderFull vm width15">Repair Code</div><!-- {{messages.repairCode}} -->
						<div class="dTbCell borderFull vm width15">Repair Loc Code</div><!-- {{messages.repairLoc}} -->
						<div class="dTbCell borderFull vm width20">Description</div><!-- {{messages.description}} -->
						<div class="dTbCell borderFull vm width20 vm">Spare Part Number</div><!-- {{messages.sparePartNr}} -->
						
					</div>
				</div>
				</ion-header-bar>
				<ion-content has-bouncing="false" style="top:3.5em!important; padding: .3em!important;">
			      <ion-list>
			      <div class="dTb fullW" style="margin-top:0!important;">
					<div class="dTbRow vm tableHeader tbElem" ng-repeat="component in obj.components ">
						<div class="dTbCell vm borderFull borderTopN width15">{{component.pcs}}</div><!-- {{messages.pcs}} -->
						<div class="dTbCell vm borderFull borderTopN width15">{{component.damageCode}}</div><!-- {{messages.damageCode}} -->
						<div class="dTbCell vm borderFull borderTopN width15">{{component.repairCode}}</div><!-- {{messages.repairCode}} -->
						<div class="dTbCell vm borderFull borderTopN width15">{{component.repairLocCode}}</div><!-- {{messages.repairLoc}} -->
						<div class="dTbCell vm borderFull borderTopN width20">{{component.desc}}</div><!-- {{messages.description}} -->
						<div class="dTbCell vm borderFull borderTopN width20">{{component.partNo}}</div><!-- {{messages.sparePartNr}} -->
					
					</div>
				</div>
			      </ion-list>
			    </ion-content>
				<div class="footerBtn">
					<button class="buttonSecondary classicBtn" ios-touchend="cancelMultiModal()">Cancel</button>
					<button class="buttonPrimary classicBtn" ios-touchend="confirmMultiModal()">Confirm</button>
				</div>	
			</div>
		</div>
	</div>
</div>


