<div class="bckgWhite unitReferMainCls unitRef">
	<ion-header-bar>
		<div class="headMainUpcomeing blueBorderBot">
			<div class="depotProp">
				<span class="contNo">{{obj.containerNo}}</span> - Work Order No.
				<span class="contNo"> {{obj.workOrderNo}}</span>
			</div>
			<div class="unitRefBtn" style="position: relative ;">
				<button ng-class="{'bckgGrey' : obj.referUnitStatus.finished, 'disableButton' : obj.referUnitStatus.finished, 'borderRadiusTopLeft' : showDrop, 'biggerMargin' : obj.referUnitStatus.started}"
					ng-disabled="obj.referUnitStatus.finished" class=" classicBtn "
					ng-click="actionStartStop()">
					<i ng-class="{'ion-ios-play':obj.referUnitStatus.pending , 'ion-stop' : obj.referUnitStatus.started ,'finished' : obj.referUnitStatus.finished }"></i>
					<span style="float:left; color:#fff; background:none!important;">{{obj.action}}</span>
				</button>
				<i class="dropDownArrow" ng-if="obj.referUnitStatus.started" ng-click="showDropdown()" ng-class="{'arrowUpWhite': showDrop, 'arrowDownWhite': !showDrop, 'borderRadiusTopRight' :showDrop }" > </i>
				<div ng-show="showDrop" class="filter-dropdown dropDownSet" >
                            <div ng-click="estimateCorrectRejectWO()" class="dropdown-item">Estimate Correct But Reject WO</div>
                            <!-- <div ng-click="" class="dropdown-item">Forward to CENEQUILOS</div> -->
				</div>
			</div>
			<div ng-hide="obj.referUnitStatus.pending" ng-click="openGalleryModal(obj.visitStatus)" class="galleryIcon "></div>
			<div ng-click="showComment()" ng-show=" obj.finalComment != '' " class="commentIcon "></div>
			
			<div ng-show="obj.referUnitStatus.started" style=" width: 3em; right: 18em; position: absolute;">
				<button ng-controller="CameraCtrl" ng-click="cameraButton($parent.obj.visitId, $parent.obj.workOrderNo)" class="cameraButton"></button>
				<div ng-show="obj.referUnitStatus.started" ng-click="openInfoStartedModal(); setView('WOOptions');"
                 style="width: 3em; right: 3.5em; position: absolute; float:right;" class="">
                <button class="infoBtn">i</button>
            </div>
			</div>
			<button ng-click="addNewRepair()" ng-show="obj.referUnitStatus.started"
					class="addContainerIcon buttonAdd"></button>

		</div>
		<div class="dTb fullW" style="margin-top:0!important;">
			<div class="dTbRow tableHeader blueBorderBot tbElem">
				<div class="dTbCell smallText" style="width:5%;">Pcs.</div><!-- {{messages.pcs}} -->
				<div class="dTbCell smallText" style="width:5%;">Damage Code</div><!-- {{messages.damageCode}} -->
				<div class="dTbCell smallText" style="width:5%;">TPI<br/> Code</div><!-- {{messages.TPICode}} -->
				<div class="dTbCell smallText" style="width:6%;">Repair<br/> Code</div><!-- {{messages.repairCode}} -->
				<div class="dTbCell smallText" style="width:8%;">Repair Loc Code</div><!-- {{messages.repairLoc}} -->
				<!--  <div class="dTbCell" style="width:29%;">Description</div> --><!-- {{messages.description}} -->
				<div class="dTbCell smallText" style="width:8%;">Spare Part<br> Number</div><!-- {{messages.sparePartNr}} -->
				<div class="dTbCell smallText" ng-class="{'actionsNotStarted': !obj.referUnitStatus.started, 'actionsStarted': obj.referUnitStatus.started}" >Actions</div><!-- {{messages.sparePartNr}} -->
				<div ng-show="obj.action == 'Finish inspection'" class="dTbCell" style="width:14%; padding-left: 2.5em !important; vertical-align: middle; padding-top: 0; color: #A9A9A9; font-size:.9em;">
					Add Repair
				</div>
			</div>
		</div>
	</ion-header-bar>
	<ion-content scrollbar-x="false" has-bouncing="false" class="has-header" delegate-handle="mainScroll">
			<ion-list class=" fullW">
				<span ng-show="obj.parts.length == 0" class="noResultsWrapper">There are no repairs for this work order</span>
				<form name="formObject.componentsForm" novalidate>
					<div class="parentCollapsible borderBotBlue" ng-repeat="part in obj.parts">
						<ng-form name="componentsEntryForm">
							<ion-item class="dropItems" ng-class='{"notransition" : !part.$addedPart , "backgroundOnPartVisible" : part.$visible && !part.$addedPart }' woMod = wo style="z-index: inherit;">
	              				<div class="fullW">
				            		<div class="wrapperUnit pListHead dTbCell" style="width: 5%;">
				            			<div class="inputElem" ng-class='{"invalid" :  componentsEntryForm.pieces.$error.pattern || (part.quantity.toString().length > 0 ? false : !(!!part.quantity)) , "inputElemActive" : piecesFocused && obj.referUnitStatus.started, "inputElemModified" : repairFieldChanged(part, "quantity")}'>
				            		 		<input type="tel" my-enter="keyboardEnter($event)"  ng-hide="part.$notRequired || part.quantity == '0'" ng-pattern="regex" ng-blur="piecesFocused = false; saveToLocalStorage();"   ng-change="setLinesStatus(part)" ng-focus="piecesFocused = true" required  ng-maxlength=3 name="pieces" ng-disabled="(obj.referUnitStatus.started === false) || part.$accepted || part.$notRequired" ng-model="part.quantity" pcs-validator part="part" value="{{part.quantity}}"/>
				            		 		<input type="tel" my-enter="keyboardEnter($event)" ng-show="part.$notRequired || part.quantity == '0'" ng-disabled="true" value="{{::obj.preAuditParts[$index].quantity}}" />
				            		 	</div>
									</div>
						            <div class="wrapperUnit pListHead dTbCell" style="width: 7%;">
						            	<div class="inputElem" ng-class='{"invalid" : componentsEntryForm.damageCode.$invalid, "inputElemActive" : damageCodeFocused && obj.referUnitStatus.started, "inputElemModified" : repairFieldChanged(part, "damageCode")}'>
						            		<input my-enter="keyboardEnter($event)" ng-blur="damageCodeFocused = false; saveToLocalStorage();" ng-change="setLinesStatus(part)" ng-focus="damageCodeFocused = true" type="text" ng-maxlength=2 name="damageCode" ng-disabled="(obj.referUnitStatus.started === false) || part.$accepted || part.$notRequired" ng-model="part.damageCode" value="{{part.damageCode}}" class="borderNone"/>
						            	</div>
						            </div>

						            <div class="wrapperUnit pListHead dTbCell" style="width: 6%;">
						            	<div class="inputElem" ng-class='{"invalid" : componentsEntryForm.TPI.$invalid, "inputElemActive" : TPIFocused && obj.referUnitStatus.started, "inputElemModified" : repairFieldChanged(part, "TPI")}'>
						            		<input my-enter="keyboardEnter($event)" ng-blur="TPIFocused = false; saveToLocalStorage();" ng-focus="TPIFocused = true" ng-change="setLinesStatus(part)" type="text" ng-maxlength=2 name="TPI" ng-disabled="(obj.referUnitStatus.started === false) || part.$accepted || part.$notRequired" ng-model="part.TPI" value="{{part.TPI}}" class="borderNone"/>
						            	</div>
						            </div>

						            <div class="wrapperUnit pListHead dTbCell" style="width: 7%;">
						            	<div class="inputElem dropdownWrapper" ng-class='{"invalid" : componentsEntryForm.repairCode.$invalid,  "inputElemActive" : repairCodeFocused && obj.referUnitStatus.started, "inputElemModified" : repairFieldChanged(part, "repairCode")}'>
						            		<i class="pencilItem dispNone"></i>
						            		<input my-enter="keyboardEnter($event)" type="tel" ng-model-options="{ allowInvalid: true }" ng-change="updateChildRepairCodes(part); setLinesStatus(part);" auto-suggest="{suggestions : damageCodeSuggestions, minLength : 2, adjustHeight : 100}" autocorrect="off" ng-maxlength=8 autocomplete="off" ng-blur="repairCodeFocused = false; repairCodeChanged(part);" ng-focus="repairCodeFocused = true" required type="text" name="repairCode" ng-disabled="(obj.referUnitStatus.started === false) || part.$accepted || part.$notRequired" ng-model="part.repairCode" value="{{part.repairCode}}"/>
						            	</div>
						            </div>
						            <div class="wrapperUnit pListHead dTbCell" style="width: 8%;">
						            	<div class="inputElem dropdownWrapper" ng-class='{"invalid" : componentsEntryForm.repairLocCode.$invalid, "inputElemActive" : repairLocCodeFocused && obj.referUnitStatus.started, "inputElemModified" : repairFieldChanged(part, "repairLocCode")}'>
						            		<input my-enter="keyboardEnter($event)" ng-required="true" ng-model-options="{ allowInvalid: true }" ng-change="setLinesStatus(part)" auto-suggest="{suggestions : repairLocCodeSuggestions, minLength : 2, adjustHeight : 100}" autocorrect="off" ng-maxlength=4 autocomplete="off" ng-blur="repairLocCodeFocused = false; saveToLocalStorage();" ng-focus="repairLocCodeFocused = true" required type="text" name="repairLocCode" ng-disabled="(obj.referUnitStatus.started === false) || part.$accepted || part.$notRequired" ng-model="part.repairLocCode" value="{{part.repairLocCode}}" class="borderNone"/>
						            	</div>
						            </div>
						            <div class="wrapperUnit pListHead dTbCell" style="overflow: hidden; width: 13%;">
						            	<div class="inputElem borderNone"></div>
						            </div>
									<div class="wrapperUnit parentCollapsibleHistory" style="width:31%; padding-left: 0em; padding-right: 0em;">
						            	<button ng-if="!part.$addedPart" style="width: 33%; text-align: center; padding-left: 0px; padding-right: 0px; margin-left: 0px;" ng-class='{
						            	"activeButton" : obj.referUnitStatus.started && !part.$accepted, "whiteBtnOn" : part.$accepted}'
						            	ng-disabled="!obj.referUnitStatus.started || componentsEntryForm.$invalid || !part.$aggregateRejected"
						            	class="saveButton whiteBtn leftBtn">
							            	<div class="tapZoneButtonUnitRefer" ng-click="obj.referUnitStatus.started && acceptLine(part)">
							            		<span>Accept</span>
							            	</div>
						            	</button>
						            	<button ng-if="!part.$addedPart"
						            	class="saveButton whiteBtn" ng-class='{"orangeBtnOn" : part.$aggregateRejected && !part.$notRequired && part.quantity != "0"}'
						            	style="border-radius:0 0 0 0; margin-left: 0; border-right: 0.5px; border-left: 0.5px; width: 33%; text-align: center; padding-left: 0px; padding-right: 0px;">
											<div class="tapZoneButtonUnitRefer"  ng-click="handleResubmitAction(part)">
							            		<span>Resubmit</span>
							            	</div>
						            	</button>
						            	<button ng-if="!part.$addedPart" ng-class='{"redBtnOn": part.$notRequired || part.quantity == "0"}'
						            	class="saveButton whiteBtn rightBtn" style="margin-left: 0; width: 34%; padding: 0 0 0 0; text-align: center;">
						            		<div class="tapZoneButtonUnitRefer" ng-click="obj.referUnitStatus.started && deleteLine(part)">
							            		<span>Not Required</span>
							            	</div>
						            	</button>
						            	<span class="iconEl" ng-click="part.$visible = !part.$visible; scrollReset();" ng-class="{activeAdd : part.$visible}">
						            		<i ng-if="!part.$addedPart" class="ion-arrow-down-b"></i>
						            	</span>
						            </div>
						            <div ng-if="obj.referUnitStatus.started" class="wrapperUnit pListHead dTbCell" style="width: 19%; overflow: hidden; padding-left: 8em !important;">
						            	<div ng-if="part.$addedPart" ng-click="removeRepair(part);" class="removeLineIcon" style="width: 2.2em; float: left; margin: .55em 0 0 .5em; height: 2.1em !important; margin-left: 0px;"></div>
						            	<div class="addLineIcon" ng-click="addPart(part);" style="float: right !important; width: 2.2em; float: left; margin: .55em 0 0 .5em; height: 2.1em !important; margin-left: 0px;"></div>
						            </div>
						        </div>
	          				</ion-item>
	          				<div class="collapsibleContent" ng-if="!part.$addedPart && part.$visible">
	          					<div style="padding: 10px 16px !important; border-top: 1px solid #69B8D6; overflow: hidden; border-bottom: 0.5px solid #69B8D6; background-color: #FAFAFA;" ng-if="part.$rejected && part.$aggregateRejected && !part.$notRequired && part.quantity != '0'">
									<div style="float:left; width: 10%; font-family: Zetta-Sans-DemiBold;">Description: </div>
									<div style="float:left; width: 90%;">{{part.$postRepairDescription || "N/A"}}</div>
								</div>
								<div ng-if="false" class="collapsibleContent" ng-class='{"bckgRed" : part.$aggregateRejected}' ng-if="!obj.referUnitStatus.pending" style="background: #69b8d6; overflow: hidden; background-color: #FAFAFA;">
									<div class="fullW ">
										<div class="wrapperUnit  dTbCell" style="width:7%;"><div class="colorWhite">{{::obj.preAuditParts[$index].quantity}}</div></div>
										<div class="wrapperUnit  dTbCell" style="width:8%;"><div class="colorWhite"> {{::obj.preAuditParts[$index].damageCode || "N/A"}}</div></div>
										<div class="wrapperUnit  dTbCell" style="width:7%;"><div class="colorWhite"> {{::obj.preAuditParts[$index].TPI || "N/A"}}</div></div>
										<div class="wrapperUnit  dTbCell" style="width:10%;"><div class="colorWhite">{{::obj.preAuditParts[$index].repairCode}}</div></div>
										<div class="wrapperUnit  dTbCell" style="width:10%;"><div class="colorWhite">{{::obj.preAuditParts[$index].repairLocCode || "N/A"}}</div></div>
									</div>
								</div>
								<ion-item class="collapseItems notransition" style="background-color: #FAFAFA;">
									<div class="dTb referContentProp">
										<div class="dTbRow">
											<div class="dTbCell grayFont">Man Hrs/Piece: {{part.manHrs | number:2 || "N/A"}}</div><!-- {{messages.manHrs}} -->
											<div class="dTbCell grayFont">Core s/n or Tag No: {{"N/A"}}</div><!-- {{messages.coreTag}} -->
											<div class="dTbCell grayFont">Total per Code: {{part.totalPerCode | number:2}}</div><!-- {{messages.tpiIndicator}} -->
											<div class="dTbCell grayFont">Material Cost/Piece: {{part.materialCost | number:2}}</div><!-- {{messages.materialCost}} -->
										</div>
									</div>
								</ion-item>
								<div style="padding: 10px 16px !important; overflow: hidden; background-color: #FAFAFA;">
									<div style="float:left; width: 10%; font-family: Zetta-Sans-DemiBold;" ng-class='{"grayFont" : part.$rejected && part.$aggregateRejected && !part.$notRequired && part.quantity != "0"}'>Description: </div>
									<div style="float:left; width: 90%;" ng-class='{"grayFont" : part.$rejected && part.$aggregateRejected && !part.$notRequired && part.quantity != "0"}'>{{part.repairDescription}} </div>
								</div>
							</div>
						</ng-form>
						<div class="parentCollapsible subPartBorder" style="min-height: 3.125em !important;" ng-repeat="subPart in part.$childParts">
							<ng-form name="subComponentsEntryForm">
								<ion-item class="dropItems bckgLightGreySubPart" ng-class='{"notransition" : !subPart.$addedPart }' woMod = wo style="z-index: inherit;background-color: #e9e9e9;">
	              				<div class="fullW">
				            		<div class="wrapperUnit pListHead dTbCell" style="width: 5%;">
				            			<div class="inputElem"  style="height:2.2em;line-height: 2.2em;"
				            			ng-class='{"invalid" : subComponentsEntryForm.pieces.$error.pattern || (subPart.quantity.toString().length > 0 ? false : !(!!subPart.quantity)),
				            			"inputElemActive" : piecesFocused && obj.referUnitStatus.started,
				            			"inputElemModified" : partFieldChanged(part, subPart, "quantity")}'>
				            		 		<input type="tel" my-enter="keyboardEnter($event)" ng-hide="subPart.$notRequired || subPart.quantity == '0'" ng-pattern="regex"  ng-blur="piecesFocused = false; saveToLocalStorage();" ng-change="setLinesStatus(part, subPart)" ng-focus="piecesFocused = true" required ng-maxlength=3 name="pieces" ng-disabled="(obj.referUnitStatus.started === false) || part.$accepted || part.$notRequired || subPart.$notRequired" ng-model="subPart.quantity" pcs-validator part="subPart" value="{{subPart.quantity}}"/>
				            		 		<input type="tel" my-enter="keyboardEnter($event)" ng-show="subPart.$notRequired || subPart.quantity == '0'" ng-disabled="true" value="{{::obj.preAuditParts[$index].quantity}}" />
				            		 	</div>
									</div>
						            <div class="wrapperUnit pListHead dTbCell" style="width: 7%;">
						            </div>
						            <div class="wrapperUnit pListHead dTbCell" style="width: 6%;">
						            </div>
						            <div class="wrapperUnit pListHead dTbCell" style="width: 7%;">
						           		 <div class="inputElem dropdownWrapper" ng-class='{"invalid" : subComponentsEntryForm.repairCode.$invalid,  "inputElemActive" : repairCodeFocused && obj.referUnitStatus.started, "inputElemModified" : partFieldChanged(part, subPart, "repairCode")}'>
						            		<i class="pencilItem dispNone"></i>
						            		<input my-enter="keyboardEnter($event)" ng-model-options="{ allowInvalid: true }" ng-change="setLinesStatus(part, subPart);" auto-suggest="{suggestions : damageCodeSuggestions, minLength : 2, adjustHeight : 100}" autocorrect="off" ng-maxlength=8 autocomplete="off" ng-blur="repairCodeFocused = false; repairCodeChanged(subPart);" required type="text" name="repairCode" ng-disabled="true" ng-model="subPart.repairCode" value="{{subPart.repairCode}}"/>
						            	</div>
						            </div>
						            <div class="wrapperUnit pListHead dTbCell" style="width: 9%;">
						            </div>
						            <!--  <div class="wrapperUnit pListHead dTbCell" style="overflow: hidden; width: 28%;">
						            	<div class="inputElem borderNone" style="height: 2.5em; line-height:2.5em;">{{subPart.repairDescription}}</div>
						            </div> -->
						            <div style="float:left; width:12%; height: 2.2em; line-height: 2.2em;" class="inputElem"
						            ng-class='{"invalid" : subComponentsEntryForm.partCode.$invalid,
						            "inputElemActive" : partNoFocused && obj.referUnitStatus.started,
						            "inputElemModified" : partFieldChanged(part, subPart, "partCode")}'>
					            		<input type="tel" my-enter="keyboardEnter($event)" ng-blur="partNoFocused = false; partCodeChanged(subPart);" ng-change="setLinesStatus(part, subPart)" ng-focus="partNoFocused = true" ng-maxlength=20 required type="text" name="partCode" ng-disabled="(obj.referUnitStatus.started === false) || part.$accepted || part.$notRequired || subPart.$notRequired" ng-model="subPart.partCode" value="{{subPart.partCode}}"/>
					            	</div>
									<div class="wrapperUnit parentCollapsibleHistory" style="width:31%; padding-left: 0em; padding-right: 0em;">
						            	<button ng-if="!subPart.$addedPart" ng-class='{"redBtnOn": subPart.$notRequired || subPart.quantity == "0", "grayButton": part.$accepted || part.$notRequired}' ng-click="obj.referUnitStatus.started && setPartToNotRequired(subPart, part);" style="margin-left: 0em; float: right; width: 34%; padding-left: 0px; padding-right: 0px;" class="saveButton whiteBtn"><span ng-class='{"grayFont": part.$accepted || part.$notRequired}'>Not required</span></button>
						            	<span ng-if="!subPart.$addedPart" class="iconEl" ng-click="subPart.$visible = !subPart.$visible; scrollReset();" ng-class="{activeAdd : subPart.$visible}">
						            		<i ng-if="!subPart.$addedPart" class="ion-arrow-down-b "></i>
						            	</span>
						            </div>
						            <div class="wrapperUnit parentCollapsibleHistory" style="width:12%; padding-left: 0em; padding-right: 0em;"></div>
						            <div ng-if="obj.referUnitStatus.started && subPart.$addedPart"  class="wrapperUnit pListHead dTbCell" style="width: 9%; overflow: hidden; padding-left: 0.37em !important;">
						            	<div ng-if="subPart.$addedPart" ng-click="removePart(subPart, part);" class="removeLineIcon" style="width: 2.2em; float: left; margin: .55em 0 0 .5em; height: 2.1em !important; margin-left: 0px;"></div>
						            </div>
						        </div>
	          				</ion-item>
	          				<div class="collapsibleContent" ng-if="!subPart.$addedPart && subPart.$visible">
	          					<div style="padding: 10px 16px !important; border-top: 1px solid #69B8D6; overflow: hidden; border-bottom: 0.5px solid #69B8D6; background-color: #FAFAFA;" ng-if="subPart.$rejected && !subPart.$notRequired && part.quantity != '0' && subPart.quantity != '0'">
									<div style="float:left; width: 10%; font-family: Zetta-Sans-DemiBold;">Description: </div>
									<div style="float:left; width: 90%;">{{subPart.$postPartDescription || "N/A"}}</div>
								</div>
								<div ng-if="false" class="collapsibleContent" ng-class='{"bckgRed" : part.$aggregateRejected}' ng-if="!obj.referUnitStatus.pending" style="background: #69b8d6; overflow: hidden;">
									<div class="fullW ">
										<div class="wrapperUnit  dTbCell" style="width:7%;"><div class="colorWhite">{{::obj.preAuditParts[part.$idx].$childParts[$index].quantity || "N/A"}}</div></div>
										<div class="wrapperUnit  dTbCell" style="width:8%;"><div class="colorWhite"></div></div>
										<div class="wrapperUnit  dTbCell" style="width:7%;"><div class="colorWhite"></div></div>
										<div class="wrapperUnit  dTbCell" style="width:10%;"><div class="colorWhite">{{::obj.preAuditParts[part.$idx].$childParts[$index].repairCode || "N/A"}}</div></div>
										<div class="wrapperUnit  dTbCell" style="width:10%;"><div class="colorWhite"></div></div>
										<div class="wrapperUnit  dTbCell" style="width: 14%; padding-left: 0em !important;"><div class="colorWhite">{{::obj.preAuditParts[part.$idx].$childParts[$index].partCode || "N/A"}}</div></div>
									</div>
								</div>
								<ion-item class="collapseItems" style="background-color: #FAFAFA;">
									<div class="dTb referContentProp">
										<div class="dTbRow">
											<div class="dTbCell grayFont">Core s/n or Tag No: {{"N/A"}}</div><!-- {{messages.coreTag}} -->
											<div class="dTbCell grayFont">Part Number: {{::subPart.partCode || "N/A"}}</div><!-- {{messages.partNumber}} -->
											<div class="dTbCell grayFont">Total per Code: {{subPart.totalPerCode || "N/A" | number:2}}</div><!-- {{messages.tpiIndicator}} -->
											<div class="dTbCell grayFont">Part Cost: {{subPart.partCost || "N/A" | number:2}}</div><!-- {{messages.partCost}} -->
										</div>
									</div>
								</ion-item>
								<div style="padding: 10px 16px !important; overflow: hidden; background-color: #FAFAFA;">
									<div style="float:left; width: 10%; font-family: Zetta-Sans-DemiBold;" ng-class='{"grayFont" : subPart.$rejected && !subPart.$notRequired && part.quantity != "0" && subPart.quantity != "0"}'>Description: </div>
									<div style="float:left; width: 90%;" ng-class='{"grayFont" : subPart.$rejected && !subPart.$notRequired}'>{{subPart.partDescription}}</div>
								</div>
							</div>
							</ng-form>
						</div>
					</div>
				</form>
			</ion-list>
	</ion-content>
</div>