<div class="ocrWrapper full">

  <div class="paddingM">
    <span class="colorGrey font20">Work Order {{ocrData.workOrderID}} Container No. {{ocrData.containerID}}</span>
    <span class="colorGrey font20 floatR">{{ocrData.repairs[0].statusCode}}</span>
  </div>

  <div class="separator"></div>

  <div class="row padding025">
    <!-- col 1 -->
    <div class="col col-07 truncate">
      <div class="modalFilter">
        <span class="filter-item fontZSDB colorBlack font16">Pcs.</span>
      </div>
    </div>
    <!-- col 2 -->
    <div class="col col-07 truncate">
      <div class="modalFilter">
        <span class="filter-item fontZSDB colorBlack font16">Damage Code</span>
      </div>
    </div>
    <!-- col 3 -->
    <div class="col col-07 truncate">
      <div class="modalFilter">
        <span class="filter-item fontZSDB colorBlack font16">TPI Code</span>
      </div>
    </div>
    <!-- col 4 -->
    <div class="col col-07 truncate">
      <div class="modalFilter">
        <span class="filter-item fontZSDB colorBlack font16">Repair Code</span>
      </div>
    </div>
    <!-- col 5 -->
    <div class="col col-11 truncate">
      <div class="modalFilter">
        <span class="filter-item fontZSDB colorBlack font16">Repair Loc Code</span>
      </div>
    </div>
    <!-- col 6 -->
    <div class="col col-11 truncate">
      <div class="modalFilter">
        <span class="filter-item fontZSDB colorBlack font16">Spare Part Number</span>
      </div>
    </div>
    <!-- col 7 -->
    <div class="col col-50 truncate">
      <div class="modalFilter">
        <span class="filter-item fontZSDB colorBlack font16">Description</span>
      </div>
    </div>
  <!-- end_of_header_row -->
  </div>

  <div class="separator"></div>

  <ion-content style="top: 11.5em !important; bottom:2.8em;">
    <ion-list>
      <ion-item class="paddingNone" ng-repeat="repair in ocrData.repairs">
        <div class="row padding025">
          <!-- col 1 -->
          <div class="col col-07 truncate">
            <div class="modalFilter filter-input">
              <input type="text" class="padding025" ng-model="repair.quantity" readonly/>
            </div>
          </div>
          <!-- col 2 -->
          <div class="col col-07 truncate">
            <div class="modalFilter filter-input">
              <input type="text" class="padding025" ng-model="repair.damageCode" readonly/>
            </div>
          </div>
          <!-- col 3 -->
          <div class="col col-07 truncate">
            <div class="modalFilter filter-input">
              <input type="text" class="padding025" ng-model="repair.TPI" readonly/>
            </div>
          </div>
          <!-- col 4 -->
          <div class="col col-07 truncate">
            <div class="modalFilter filter-input">
              <input type="text" class="padding025" ng-model="repair.repairCode" readonly/>
            </div>
          </div>
          <!-- col 5 -->
          <div class="col col-11 truncate">
            <div class="modalFilter filter-input">
              <input type="text" class="padding025" ng-model="repair.repairLocCode" readonly/>
            </div>
          </div>
          <!-- col 6 -->
          <div class="col col-11 truncate">
            <div class="modalFilter">
              <span class="filter-item fontZSB colorBlack font16">N/A</span>
            </div>
          </div>
          <!-- col 7 -->
          <div class="col col-50 truncate">
            <div class="modalFilter">
              <span class="filter-item fontZSB colorBlack font16">{{repair.repairDescription}}</span>
            </div>
          </div>
        </div>
        <!-- details row -->
        <div class="row padding025 greyBckg" ng-show="repair.parts.length" ng-repeat="part in repair.parts">
          <!-- col 1 -->
          <div class="col col-07 truncate">
            <div class="modalFilter filter-input">
              <input type="text" class="padding025" ng-model="part.quantity" readonly />
            </div>
          </div>
          <div class="col col-07 truncate"></div>
          <div class="col col-07 truncate"></div>
          <!-- col 4 -->
          <div class="col col-07 truncate">
            <div class="modalFilter filter-input">
              <input type="text" class="padding025" ng-model="part.repairCode" readonly/>
            </div>
          </div>
          <div class="col col-11 truncate"></div>
          <div class="col col-11 truncate">
            <div class="modalFilter filter-input">
              <input type="text" class="padding025" ng-model="part.partCode" readonly/>
            </div>
          </div>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <!-- footer -->
  <div class="modal-footer fullW">
    <button class="buttonSecondary classicBtn" ios-touchend="cancelMultiModal()">Dismiss</button>
    <button class="buttonPrimary classicBtn" ng-controller="AddVisitCtrl" ng-click="selectContainerForVisitOCRByWorkOrderId(ocrData.workOrderID)">Add to visit</button>
  </div>

</div>
