<div class="ocrWrapper full">
    <form id="ocrForm" class="formWrapper" name="formOcr">
        <div class="lettersWrapper">

            <label for="{{$index+'letter'}}" class="labelWrapper" ng-repeat="item in ocrData.letters track by $index">
                <div class="inputWrapper" ng-class='{"redBorder" : !formOcr[$index+"letter"].$valid}'>
                    <input style="text-transform: capitalize" id="{{$index+'letter'}}" name="{{$index+'letter'}}" ng-keyup="ocrService.nextInput($event,!errors.errorMessage)"
                           ng-click="ocrService.onTextClick($event,$index+'letter')" ng-model="item" tabindex="-1"
                           maxlength="1" minlength="1" data-ng-required="true" data-ng-pattern='/^[a-zA-Z]*$/'
                           class="idElement" type="text"
                           ng-change="capitalizeLetters(item,$index); validateOCR(ocrData);">
                </div>
            </label>
        </div>

        <div class="numbersWrapper">
            <!-- second row -->
            <label for="{{$index+'number'}}" class="labelWrapper" ng-repeat="item in ocrData.numbers track by $index">
                <div class="inputWrapper"
                     ng-class='{"redBorder" : !formOcr[$index+"number"].$valid || $last && errors.checkDigitError}'>
                    <input id="{{$index+'number'}}" name="{{$index+'number'}}" ng-keyup="ocrService.nextInput($event,!errors.errorMessage)"
                           ng-click="ocrService.onTextClick($event,$index+'number')" ng-model="item" tabindex="-1"
                           maxlength="1" minlength="1" data-ng-required="true" data-ng-pattern='/^-?\d+$/'
                           class="idElement" type="tel"
                           ng-change="ocrData.numbers[$index] = item[item.length-1].toUpperCase(); validateOCR(ocrData);">
                </div>
            </label>
        </div>

        <button ng-class="formOcr.$valid && errors.errorMessage.length == 0 ? 'nextBtn' : 'nextBtnDisabled'" ng-disabled="formOcr.$invalid || errors.errorMessage.length > 0" ios-touchend="workOrderPreview()" type="submit"></button>
    </form>
    <div class="ocrTextPropErr fontZSDB" style="height:1em;">{{errors.errorMessage || ""}}</div>
    <div class="imageWrapper">
        <img ng-src="{{ocrData.imageBase64}}" class="ocrImagefull">
    </div>
</div>