<div id='ocrMainModal' class="modalWrapper codesModal">
    <div class="modalContentWrapper colorBlack">
        <div class="modalInner paddingNone">
            <!-- header -->
            <div class="paddingM font20">
    			<span class="darkBlue fontZSDB">{{ocrData.modalTitle}}</span>
    			<button class="iconExit exitIcon2" ios-touchend="cancelMultiModal(); ocrService.removeFileByName(ocrData.imageName); ocrService.clearVisitDetails();"></button>
  			</div>
  			<div class="separator"></div>
            <!-- header -->
            <div class="full">

                <!-- render view -->
                <div ng-include src="partialOCRModalView" class="full"></div>
                <!-- !render view -->




            </div>
        </div>
    </div>
</div>