<div class="ocrWrapper full">
    <div class="flexCenter">
        <span style="color:#9e9e9e">No Work Order is currently available for Container no. <span
                style="color:#9e9e9e; font-weight: bolder;">{{ocrData.containerID}}</span></span>
        <button ng-click="cancelMultiModal()" class="classicBtn" style="margin-top: 1.5em; height: 3em; font-weight: bolder; width: 15em;">Back to
            {{ocrData.screenName}}
        </button>
    </div>
</div>